<h2><%= t '.edit', name: resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t '.confirmation_for_email', email: resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(<%= t '.password_leave_blank' %>)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i>(<%= t '.enter_current_password' %>)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit t('.update') %></div>
<% end %>

<h3><%= t '.cancel_account' %></h3>

<p><%= t '.unhappy' %> <%= button_to t('.cancel_account'), registration_path(resource_name), data: { confirm: t('.confirmation') }, method: :delete %></p>

<%= link_to t('.back'), :back %>
