<h2><%= t '.forgot_password' %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.submit t('.reset_password') %></div>
<% end %>

<%= render "confirmable/shared/links" %>
