= form_tag(payment_methods_path, class: 'form-horizontal', name: 'ccForm', :'ng-init'=> "cvcIsRequired=true;", :'ng-submit'=>'addCard(ccForm, card, $event)', method: :POST) do
  .ng-if{:'ng-if'=>"!!!card.is_edit"}
    .col-md-12
      .col-md-4
        %label= t '.name_on_card'
        %p {{card.first_name}} {{card.last_name}}
      .col-md-8
        %label= t '.billing_address'
        %p {{card.address1}}
        %p {{card.address2}}
        %p {{card.city}}, {{card.address_state}} {{card.postal_code}} {{card.country_code}}

  .ng-if{:'ng-if'=>"card.is_edit"}
    .col-md-5
      %h4
        %center
          %label= t '.name_on_card'
      .form-group{:'ng-class'=>"{'has-error': ccForm.ccFirstName.$dirty && ccForm.ccFirstName.$error.required, 'has-success': (!ccForm.ccFirstName.$error.required)}"}
        %label.control-label= t '.first_name'
        %input.form-control{:autocomplete => "off", name: 'ccFirstName', :'ng-model'=> "card.first_name", required: true, :type => "text", tooltip: 'required', :'tooltip-trigger'=> 'focus', :'tooltip-enable'=>'ccForm.ccFirstName.$dirty && ccForm.ccFirstName.$error.required', :'tooltip-placement'=>'right'}/

      .form-group{:'ng-class'=>"{'has-error': ccForm.ccLastName.$dirty && ccForm.ccLastName.$error.required, 'has-success': (!ccForm.ccLastName.$error.required)}"}
        %label.control-label= t '.last_name'
        %input.form-control{:autocomplete => "off", name: 'ccLastName', :'ng-model'=> "card.last_name", required: true, :type => "text"}/

      .form-group{:'ng-if'=>'card.id!=0'}
        %label.control-label= t '.number'
        %p {{card.number}}

      .form-group{:'ng-if'=>'card.id==0', :'ng-class'=>'{"has-success": ccForm.number.$valid, "has-error": ccForm.number.$dirty && !ccForm.number.$valid}'}
        %label.control-label= t '.card_number'
        %input.form-control{autocomplete: :off, name: 'number', :'ng-model'=>'card.number', required:true, :'data-credit-card-type'=>'', :'data-ng-minlength'=>"15", maxlength: "22", index: "{{$index}}", placeholder: "•••• •••• •••• ••••", :'ng-init'=>'initCardFormatter(card)'}

        #xptCardIcons
          %img.marginBottom.ccLogo.V{:alt => "Visa", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/logo/logo_ccVisa.gif", :title => "Visa", :'ng-class'=>"{active: card.card_type=='visa'}"}/

          %wbr
          %img.marginBottom.ccLogo.M{:alt => "Mastercard ", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/logo/logo_ccMC.gif", :'ng-class'=>"{active: card.card_type=='mastercard'}"}/

          %wbr
          %img.marginBottom.ccLogo.A{:alt => "American Express ", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/logo/logo_ccAmex.gif", :'ng-class'=>"{active: card.card_type=='amex'}"}/

          %wbr
          %img.marginBottom.ccLogo.D{:alt => "Discover", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/logo/logo_ccDiscover.gif", :title => "Discover", :'ng-class'=>"{active: card.card_type=='discover'}"}/

          %wbr

        %ul{"ng-show" => "ccForm.number.$dirty && !ccForm.number.$valid"}
          %li{"ng-show" => "ccForm.number.$error.minlength||ccForm.number.$error.maxlength"}
            = t '.max_length_error'

          %li{"ng-show" => "ccForm.number.$error.pattern"}
            = t '.pattern_error'

          %li{"ng-show" => "ccForm.number.$error.invalid"}
            = t '.invalid_card_error'

          %li{"ng-show" => "ccForm.number.$error.required"}
            = t '.required_card_error'

      .form-group{:'ng-if'=>'card.id==0', :'ng-class'=>"{'has-success': ccForm.ccv.$valid && ccForm.ccv.$dirty, 'has-error': ccForm.ccv.$dirty && ccForm.ccv.$invalid}"}
        %label.control-label CCV
        %input.form-control{autocomplete: :off, name: 'ccv', :'ng-model'=>'card.ccv', :"ng-model"=>"card.ccv", required: true, :"data-ng-pattern"=>"/^[0-9]+$/", :"data-ng-minlength"=>"3", maxlength: "4"}

        %ul{"ng-show" => "ccForm.ccv.$dirty && ccForm.ccv.$invalid"}
          %li{"ng-show" => "ccForm.ccv.$error.pattern"}
            = t '.pattern_error'

          %li{"ng-show" => "ccForm.ccv.$error.minlength"}
            = t '.min_length_error'

          %li{"ng-show" => "ccForm.ccv.$error.required"}
            = t '.security_code_required'

      .form-group{:'ng-class'=>'{"has-error": ccForm.card_expiry.$dirty && ccForm.card_expiry.$error.required || ccForm.card_expiry.$dirty && is_invalidExpiry(card)}'}

        %label.control-label
          = t '.expires'

        %input.form-control{type: 'text', name: 'card_expiry', :'ng-model'=>'card_expiry', :'ng-init'=>'initExpiryFormatter(card)', placeholder: "•• / ••••", required: true, :'ng-change'=>'expiryChanged(card_expiry)'}
          / %select.form-control{"data-card-expiration" => "", :name => "expire_month", "ng-model" => "card.expire_month", :required => "", index: '{{$index}}'}
          /   %option{:disabled => "disabled", :selected => "selected", :value => ""} Month
          /   %option{"ng-repeat" => "month in months", :value => "{{$index+1}}"}
          /     {{$index+1}}-{{month}}

          / .input-group-addon
          /   \/
          / %select.form-control{:name => "expire_year", "ng-model" => "card.expire_year", :required => "", index: '{{$index}}'}
          /   %option{:disabled => "disabled", :selected => "selected", :value => ""} Year
          /   %option{"ng-repeat" => "year in [] | range:currentYear:currentYear+13"}
          /     {{year}}


        %ul{"ng-show" => "ccForm.card_expiry.$dirty && ccForm.card_expiry.$error.required"}
          %li= t '.expiration_date_required'

        %ul{"ng-show" => "ccForm.card_expiry.$dirty && is_invalidExpiry(card) && !ccForm.card_expiry.$error.required"}
          %li= t '.invalid_expiration_date'

    .col-md-1
    .col-md-6
      %h4
        %center
          %label= t '.billing_address'

      .form-group{:'ng-class'=>"{'has-error': ccForm.address1.$dirty && ccForm.address1.$invalid, 'has-success': ccForm.address1.$dirty &&ccForm.address1.$valid}"}
        %label.control-label= t '.first_address'
        %input.form-control{required: true,  :autocomplete => "off", name: 'address1', :'ng-model'=>"card.address1"}
        %ul{"ng-show" => "ccForm.address1.$dirty && ccForm.address1.$invalid"}
          %li{"ng-show" => "ccForm.address1.$error.required"}
            = t '.first_address_required'

      .form-group{:'ng-class'=>"{'has-error': ccForm.address2.$dirty && ccForm.address2.$invalid, 'has-success': ccForm.address2.$dirty && ccForm.address2.$valid}"}
        %label.control-label= t '.second_address'
        %input.form-control{:autocomplete => "off", name: 'address2', :'ng-model'=>"card.address2"}
        %ul{"ng-show" => "ccForm.address2.$dirty && ccForm.address2.$invalid"}
          %li{"ng-show" => "ccForm.address2.$error.required"}
            = t '.second_address_required'

      .form-group{:'ng-class'=>"{'has-error': ccForm.city.$dirty && ccForm.city.$invalid, 'has-success': ccForm.city.$dirty && ccForm.city.$valid}"}
        %label.control-label= t '.city'
        %input.form-control{required: true, :autocomplete => "off", name: 'city', :'ng-model'=>"card.city"}
        %ul{"ng-show" => "ccForm.city.$dirty && ccForm.city.$invalid"}
          %li{"ng-show" => "ccForm.city.$error.required"}= t '.city_required'

      .form-group{:'ng-class'=>"{'has-error': ccForm.address_state.$dirty && ccForm.address_state.$invalid, 'has-success': ccForm.address_state.$dirty && ccForm.address_state.$valid}"}
        %label.control-label= t '.state'
        %input.form-control{:autocomplete => "off", name: 'address_state', :'ng-model'=>"card.address_state"}

      .form-group{:'ng-class'=>"{'has-error': ccForm.postal_code.$dirty && ccForm.postal_code.$invalid, 'has-success': ccForm.postal_code.$dirty && ccForm.postal_code.$valid}"}
        %label.control-label= t '.postal_code'
        %input.form-control{required: true, :autocomplete => "off", name: 'postal_code', :'ng-model'=>"card.postal_code"}
        %ul{"ng-show" => "ccForm.postal_code.$dirty && ccForm.postal_code.$invalid"}
          %li{"ng-show" => "ccForm.postal_code.$error.required"}
            = t '.postal_code_required'

      .form-group{:'ng-class'=>"{'has-error': ccForm.country_code.$dirty && ccForm.country_code.$invalid, 'has-success': ccForm.country_code.$dirty && ccForm.country_code.$valid}"}
        %label.control-label= t '.country_code'
        %select.form-control{required: true, :autocomplete => "off", name: 'country_code', :'ng-model'=>"card.country_code", :'ng-init'=>'card.country_code=default_country_code'}
          %optgroup{label: t('.your_country')}
            %option{value: '{{country_codes[0].value}}'} {{country_codes[0].label}}
          %option{:'ng-repeat'=>'ccode in country_codes track by $index', :value => "{{ccode.value}}", :'ng-if'=>'$index!=0'} {{ccode.label}}

        %ul{"ng-show" => "ccForm.country_code.$dirty && ccForm.country_code.$invalid"}
          %li{"ng-show" => "ccForm.country_code.$error.required"}
            = t '.country_required'

    %br
  .col-md-12
    .pull-right
      %ng-if{:'ng-if'=>'card.id!=0'}
        %a.btn.btn-danger.btn-sm{type: :button, :'ng-click'=>"deleteCard(card)", style: "opacity: {{card.is_edit ? '0.2' : ''}}"}
          %i.fa.fa-remove &nbsp;
          = t '.delete_card'

        / %button.btn.btn-sm.btn-primary{type: :button, :'ng-click'=>"editCard(card)", :'ng-if'=>"!!!card.is_edit", style: "opacity: {{card.is_edit ? '0.2' : ''}}"} Edit

        %button.btn.btn-sm.btn-primary{type: :submit, :'ng-click'=>"saveCard(card)", :'ng-if'=>"card.is_edit"}
          = t '.save'

        %button.btn.btn-sm.btn-success{type: :button, :'ng-click'=>"markDefaultCard(card)", style: "opacity: {{card.is_edit ? '0.2' : ''}}", :'ng-hide'=>"card.is_default"}
          = t '.make_default'
  
      %ng-if{:'ng-if'=>'card.id==0'}
        %button.btn.btn-sm.btn-primary{type: :submit, :'ng-disabled'=>'ccForm.$invalid'}
          = t '.add_card'
        %button.btn.btn-sm.btn-warning{type: :button, :'ng-click'=>'cancelNewCard(card)'}
          = t '.cancel'

