.paypal
  .row
    .col-md-6
      %label Paypal

  .row{:'ng-show'=>'receive_method_paypal_accounts<=0'}
    %center
      %span.badge.badge-danger= t '.no_accounts'
    %br
  %form{action: "", :'ng-submit'=>'addNewPaypalAccountForReceive(new_paypal_email, $event)'}
    %table.table.no-border
      %tr{:'ng-repeat'=>'paypal in receive_method_paypal_accounts'}
        %td
          %i.fa.fa-check{:style => "float: left;margin-left: -26px;color: green;font-size: 24px;", :'ng-if'=>'paypal.is_default'}
        %td
          {{paypal.email}}
        %td
          %a{:'ng-click'=> 'removePaypalAccountForReceive(paypal)', href: true}
            = t '.remove'
        %td
          %a{:'ng-click'=> 'markDefaultPaypalAccountForReceive(paypal)', href: true}
            = t '.set_default'
      %tr
        %td{colspan: 4, style: 'border-top:1px solid rgba(128, 128, 128, 0.04) !important;padding: 0;padding-left: 9px;padding-top:30px;'}
          %small
            %b= t '.new_paypal_email'
      %tr
        %td{colspan: 2}
          %input.form-control{type: :text, name: :paypal_email, :'ng-model'=>'new_paypal_email', placeholder: :Email}
        %td{colspan: 2}
          %button.btn.btn-sm.btn-primary{style: 'width:130px;', type: :submit}
            = t '.add_new'
