.container.half-sized-on-md{:'ng-app'=>'paymentMethodsApp', :'ng-controller'=>'mainController', :'ng-cloak'=>true}
  / - @credit_cards.each do |credit_card|
  /   = render partial: 'credit_card_form', locals: {credit_card: credit_card}
  %ng-init{:'ng-init'=>"send_method_cards=#{(@send_method_credit_cards||[]).to_json(methods: [:address1, :address2, :city, :address_state, :postal_code, :expired?])};send_method_paypal_accounts=#{(@send_method_paypal_accounts||[]).to_json};receive_method_paypal_accounts=#{(@receive_method_paypal_accounts||[]).to_json};action_new=#{params[:new].present?}"}
  .row
    %center
      %h1{style: 'color:#41e5c9;'}= t '.payment_methods'
    %br
  .row
    - if current_user.verified_photographer?
      %ul#myTab.nav.nav-tabs.client-dashboard{:role => "tablist"}
        %li{:role => "presentation", class: ((session[:active_tab] == 'receive'||session[:active_tab].blank?) ? 'active' : '')}
          %a#paypal-tab{"aria-controls" => "home", "aria-expanded" => ((session[:active_tab] == 'receive'||session[:active_tab].blank?) ? 'true' : 'false'), "data-toggle" => "tab", :href => "#paypal", :role => "tab"}= t '.to_receive_payments'
        %li{:role => "presentation", class: (session[:active_tab] == 'send' ? 'active' : '')}
          %a#credit-card-tab{"aria-controls" => "profile", "aria-expanded" => (session[:active_tab] == 'send' ? 'true' : 'false'), "data-toggle" => "tab", :href => "#payment-to", :role => "tab"}= t '.to_make_payments'

    #myTabContent.tab-content.well.clearfix.client-dashboard{style: 'padding:30px;'}
      #paypal{"aria-labelledby" => "paypal-tab", :role => "tabpanel", class: 'tab-pane '+((session[:active_tab] == 'receive'||session[:active_tab].blank?) ? 'fade active in' : '')}
        = render partial: 'paypal_for_receive_form'

      #payment-to{"aria-labelledby" => "dropdown1-tab", :role => "tabpanel", class: 'tab-pane '+(session[:active_tab] == 'send' ? 'fade active in' : ''), :'ng-init'=>"id='#{flash[:id]||'new'}'"}
        - if params[:p].present?
          .return-checkout
            %a.btn.btn-warning{'data-href'=> review_items_checkout_index_path, method: 'post', style: 'margin:2px;'}
              %i.fa.fa-arrow-left
              = t '.return_to_checkout'
          %br
          %br

        .credit-card
          .row
            .col-md-6
              %label= t '.credit_debit_card'
            .col-md-3
              = t '.expires'
            .col-md-3
              %button.btn.btn-primary{style: 'width:130px;', :'ng-click'=>'addNew()'}
                = t '.add_new'
          %br
          .panel-group#accordion{role: "tablist", :"aria-multiselectable"=>"false", :'ng-init'=>'card=[];'}
            .panel.panel-default#cards-panel{:'ng-repeat'=>'card in send_method_cards'}
              %i.fa.fa-check{:style => "float: left;margin-top: 13px;margin-left: -26px;color: green;font-size: 24px;", :'ng-if'=>'card.is_default'}

              .panel-heading{role: "tab", id: "card-{{card.id}}", style: 'background: #EEEEEE;'}
                %h4.panel-title
                  %a.accordion-toggle{"aria-controls" => "open-card-{{card.id}}", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#open-card-{{card.id}}"}
                    .row
                      .col-md-6
                        .col-md-4
                          #xptCardIcons
                            %ng-if{:'ng-if'=>"card.card_type=='visa'"}
                              %img.marginBottom.V{:alt => "Visa", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/logo/logo_ccVisa.gif", :title => "Visa"}/
                              %wbr
                            %ng-if{:'ng-if'=>"card.card_type=='mastercard'"}
                              %img.marginBottom.M{:alt => "Mastercard ", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/logo/logo_ccMC.gif"}/
                              %wbr
                            %ng-if{:'ng-if'=>"card.card_type=='amex'"}
                              %img.marginBottom.A{:alt => "American Express ", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/logo/logo_ccAmex.gif"}/
                              %wbr
                            %ng-if{:'ng-if'=>"card.card_type=='discover'"}
                              %img.marginBottom.D{:alt => "Discover", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/logo/logo_ccDiscover.gif", :title => "Discover"}/
                              %wbr

                        .col-md-8{style: 'line-height: 30px;'}
                          {{card.number}}
                      .col-md-3{:'ng-class'=>"{expired: card['expired?']}", style: 'line-height: 30px;'}  
                        %ng-if{:'ng-if'=>'card.expire_month && card.expire_year'}
                          {{card.expire_month}}/{{card.expire_year}}
                          %ng-if{:'ng-if'=>'card["expired?"]'}
                            = t '.expired'

                      .col-md-3
                        %ng-if{:'ng-if'=>'card.id==0'}
                          %span.label.label-success{style: 'border-radius: 40px;float: right;margin-right: 31px;line-height: 16px;'}
                            = t '.new_credit_card'

              .panel-collapse.collapse{"aria-labelledby" => "card-{{card.id}}", :role => "tabpanel", id: "open-card-{{card.id}}"}
                .panel-body
                  = render partial: 'credit_card_for_send_form'
          %center
            %label.badge.badge-danger{:'ng-show'=>'send_method_cards.length<=0'}
              = t '.no_credit_cards'

        %hr{style: 'border: 1px solid gray;'}
        = render 'paypal_for_send_form'

- content_for :footer_scripts do
  = javascript_include_tag "ng-modules/payment-methods/application"
