%form{name: 'location_form', novalidate: true}
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button", "ng-click" => "cancel()"} &#215;
    %h3.modal-title= t '.edit_location'
  .modal-body
    = render partial: 'photographer/preferences/locations/form'
  .modal-footer
    %button.btn.btn-primary{type: :button, "ng-click" => "ok('update')", :'ng-disabled'=>'location_form.$invalid'}
      = t '.save'
    %button.btn.btn-danger{type: :button, "ng-click" => "delete()", :'ng-disabled'=>'!!!location.user_id'}
      = t '.delete'
    %button.btn.btn-warning{type: :button, "ng-click" => "cancel()"}
      = t '.cancel'

