.control-group#location-form{style: 'overflow: hidden;'}
  .row
    .col-md-6
      %label.control-label{:for => "textinput"}
        = t '.search'
      .controls
        .input-group
          %input.form-control#search_field{:type => "text", style: 'margin-bottom: 0px;'}/
          .input-group-addon
            %span.fa.fa-search

    .col-md-6
      %label.control-label{:for => "gps"}= t '.place_location'
      .controls
        .input-group
          .input-group-addon
            = t '.latitude'

          %input.form-control#gps.input-small{:placeholder => "Latitude", :type => "text", :'ng-model'=>'location.gps.latitude',name: :latitude, required: true, :'unique-gps'=>true}

          .input-group-addon
            = t '.longitude'
          %input.form-control#gps.input-small{:placeholder => "Longitude", name: :longitude, :type => "text", :'ng-model'=>'location.gps.longitude', required: true}

      %span.help-block.error{"ng-show" => "location_form.longitude.$error.required"}
        = t '.longitude_required'

      %span.help-block.error{"ng-show" => "location_form.latitude.$error.uniqueGps"}
        = t '.duplicate_gps'

      %span.help-block.error{"ng-show" => "location_form.latitude.$error.required"}
        = t '.latitude_required'
  %br

  #map{:'ng-init'=>'initMap()'}
  %br
  .row
    .col-md-6
      %label.control-label{:for => "name"}= t '.name_for_location'
      .controls
        %input.form-control{:type => "text", :'ng-model'=>'location.name', name: :location_name, style: 'margin-bottom: 0px;', required: true, :'unique-name'=>true, :'ng-model-options'=>"{ updateOn: 'blur' }"}/

        %span.help-block.error{"ng-show" => "location_form.location_name.$dirty && location_form.location_name.$error.required"}
          = t '.name_required'

        %span.help-block.error{"ng-show" => "location_form.location_name.$error.uniqueName"}
          = t '.name_duplicate'

    .col-md-6
      %label.control-label &nbsp;&nbsp;
      .controls
        = t '.drag_pin'
        %img#draggable-marker{:'ng-src'=>'/map-marker.png'}
  %br

  .row
    .col-md-12
      %label.control-label{:for => "local_names"}= t '.local_name'
      .controls
        %input.form-control#local_names.input-small{:placeholder => "Local Names", :type => "text", :'ng-model'=>'location.local_names', style: 'width: 100%;'}
        %span.help-block.error{"ng-show" => "location_form.location_name.$error.required"}
      %i= t '.local_name_info'
  %br

  .controls.form-inline.map-inputs
    .row
      .col-md-6
        %label.control-label{:for => "city"}
          = t '.city'
        .controls
          {{location.city}}
          / %input.form-control#city.input-small{:placeholder => "City", :type => "text", :'ng-model'=>'location.city', disabled: true}/

        %label.control-label{:for => "province"}
          = t '.st_province'
        .controls
          {{location.province}}
          / %input.form-control#province.input-small{:placeholder => "Province", :type => "text", :'ng-model'=>'location.province', disabled: true}/

      .col-md-6
        %label.control-label{:for => "country"}= t '.country'
        .controls
          {{location.country}}
          / %input.form-control#country.input-small{:placeholder => "Country", :type => "text", :'ng-model'=>'location.country', disabled: true}/

