%form{name: 'location_form', novalidate: true, :'ng-init'=>'action="new"'}
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button", "ng-click" => "cancel()"} &#215;
    %h3.modal-title= t '.new_location'
  .modal-body
    = render partial: 'photographer/preferences/locations/form'
  .modal-footer
    %button.btn.btn-primary{type: :button, "ng-click" => "ok('create')", :'ng-disabled'=>'location_form.$invalid||location_form.location_name.$error.submittable == "no"'}
      = t '.save'
    %button.btn.btn-warning{type: :button, "ng-click" => "cancel()"}
      = t '.cancel'
