.panel.panel-default{:style => "width:50%;margin: 0 auto;"}
  .panel-heading
    %h4= t('.resend_confirmation_instructions', :default => t('.default_confirmation'))
  .panel-body
    = bootstrap_devise_error_messages!
    = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, role: "form" }) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, class: "form-control"
      = f.submit t('.resend_confirmation_instructions', :default => t('.default_confirmation')), class: "btn btn-primary"
  = render "devise/shared/links"
