#list
  %center
    %h3
      Number of Clients That Selected My Location

  %br
  .activities-list
    .row
      / Photos Count Graph
      .col-md-1
        %h4{style: '-webkit-transform: rotate(-90deg);letter-spacing: 0px;line-height:1;margin-top: 162px;'}
          &nbsp;Number&nbsp;of&nbsp;Clients&nbsp;
      .col-md-11
        %center{:'ng-show'=>'labels.length<=0', style: 'line-height:10'}
          %strong -- No data found -- 
        .graph{:'ng-class'=>'{empty: labels.length<=0}'}
          %canvas#line.chart.chart-with-line{:click => "onClick", :data => "data", :labels => "labels", series: 'series'}
        
        %center{style: 'letter-spacing: 1px;'}
          %h4 Time