#list
  %center
    %h3
      Photos Viewed vs Photos Purchased ({{subpage!="photos-viewed" ? "System Wide Sales" : "My Sales"}})

  %br
  .activities-list
    .row
      / Photos Count Graph
      .col-md-1
        %h4{style: '-webkit-transform: rotate(-90deg);letter-spacing: 0px;line-height:1;margin-top: 162px;'}
          $&nbsp;Percent&nbsp;of&nbsp;photos&nbsp;purchased&nbsp;/
          %br
          &nbsp;Photos&nbsp;previewed
      .col-md-11
        %center{:'ng-show'=>'labels.length<=0', style: 'line-height:10'}
          %strong -- No data found -- 
        .graph{:'ng-class'=>'{empty: labels.length<=0}'}
          %canvas#line.chart.chart-with-line{:click => "onClick", :data => "data", :labels => "labels", series: 'series', :legend => "true"}
        
        %center{style: 'letter-spacing: 1px;'}
          %h4 Time