#list
  %center
    %h3
      Price vs. Demand Curve ({{subpage=="system-wide-sales" ? "System Wide Sales" : "My Sales"}})

  %br
  .activities-list
    .row
      / Photos Count Graph
      .col-md-1
        %h4{style: '-webkit-transform: rotate(-90deg);letter-spacing: 1px;line-height:15'}
          $&nbsp;Price(per&nbsp;photo)
      .col-md-11
        %center{:'ng-show'=>'labels.length<=0', style: 'line-height:10'}
          %strong -- No data found -- 
        .graph{:'ng-class'=>'{empty: labels.length<=0}'}
          %canvas#line.chart.chart-with-line{:click => "onClick", :data => "data", :labels => "labels", options: 'options'}
        
        %center{style: 'letter-spacing: 1px;'}
          %h4 Total Sales in System
