%form{name: 'watermark_form'}
	.modal-header
		%h3.modal-title{:'ng-show'=>'!!watermark.user_id && !!watermark.id'} Edit Watermark {{::watermark.name}}
		%h3.modal-title{:'ng-show'=>'!!!watermark.user_id && !!watermark.id'}
			View Watermark {{::watermark.name}}
			%i
				(default)
		%h3.modal-title{:'ng-show'=>'!!!watermark.id'}
			Save Watermark {{::watermark.name}} as new

	.modal-body
		.disabled{style: 'position: absolute; width: 100%; background: rgb(181, 172, 172); height: 100%; z-index: 999999999; opacity: 0.1; bottom: 0; left: 0;', :'ng-if'=>'!!!watermark.user_id'}
		%div{:'ng-include'=>true, src: "'ng-modules/photographer/views/preferences/watermarks/_form.html'"}
	.modal-footer{:'tooltip-enable'=>'watermark_form.$invalid || !!!watermark.watermark_image || watermark_form.watermark_name.$error.submittable=="no"', :'tooltip-placement'=>'right', tooltip: "{{watermark_form.watermark_name.$error.required ? 'Please give this Watermark a name' : ''}} {{watermark_form.watermark_name.$error.uniqueName ? 'You need a unique Watermark name' : ''}}", style: 'border-top:none;text-align:center;'}
		%br
		%button.btn.btn-primary{"ng-click" => "ok((!!watermark.id ? 'update' : 'create'))", :'ng-disabled'=>'watermark_form.$invalid || !!!watermark.watermark_image || !!!watermark.user_id'} save
		%button.btn.btn-danger{:'ng-click'=>'delete()', :'ng-disabled'=>'!!!watermark.user_id'} Delete
		%button.btn.btn-warning{"ng-click" => "cancel()"} Cancel

