.modal-header
	%h3.modal-title My Images
.modal-body
	.row
		.col-md-3.img-list{:'ng-repeat'=>'img in images'}
			%a.thumbnail{:'ng-click'=>'select(img)', href: '#'}
				%img{:'ng-src'=>'{{img.image_url}}', style: 'width: 100%;'}
			%a.btn.btn-sm.btn-danger.delete-img{:'ng-click'=>'delete(img)', style: 'position: absolute;', :'ng-if'=>'!!img.user_id'} Delete

.modal-footer
	%button.btn.btn-warning{"ng-click" => "cancel()"} Cancel

