%form{name: 'watermark_form'}
	.modal-header
		%h3.modal-title Add new Watermark
	.modal-body
		%div{:'ng-include'=>true, src: "'ng-modules/photographer/views/preferences/watermarks/_form.html'"}
	.modal-footer{:'tooltip-enable'=>'watermark_form.$invalid || !!!watermark.watermark_image || watermark_form.watermark_name.$error.submittable=="no"', :'tooltip-placement'=>'right', tooltip: "{{watermark_form.watermark_name.$error.required ? 'Please give this Watermark a name' : ''}} {{watermark_form.watermark_name.$error.uniqueName ? 'You need a unique Watermark name' : ''}}", style: 'border-top:none;text-align:center;'}
		%br
		%button.btn.btn-primary{"ng-click" => "ok('create')", :'ng-disabled'=>'watermark_form.$invalid || !!!watermark.watermark_image || watermark_form.watermark_name.$error.submittable=="no"'} save
		%button.btn.btn-warning{"ng-click" => "cancel()"} Cancel

