.modal-header
	%h3.modal-title Choose watermark from
.modal-body
	.row
		.col-md-6
			%a.btn.btn-default.btn-file{:'ng-click'=>'chooseFromImages()'}
				%span.fa.fa-folder
				My Images
		
		.col-md-6
			%span.btn.btn-default.btn-file
				%span.fa.fa-desktop
				My Computer
				%input.browse-photos.upload{:name => "watermark_image", :type => "file"}/
.modal-footer
	%button.btn.btn-warning{"ng-click" => "cancel()"} Cancel

