.panel.panel-default.well.form-signin.register{:style => "margin: 0 auto;",  :"ng-app"=>"regApp", "ng-controller"=>"registrationController"}
  = bootstrap_devise_error_messages!
  .panel-heading
    %h4 My Account
  .panel-body
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put , :multipart => true}) do |f|
      .row
        .col-md-6
          .form-group
            = f.label :first_name
            = f.text_field :first_name, class: "form-control"
          .form-group
            = f.label :last_name
            = f.text_field :last_name, class: "form-control"
        .col-md-6
          .form-group{title: 'click on the image to change'}
            .col-md-12
              = f.label :Avatar
            .col-md-12
              %span.label.label-warning{:'ng-show'=>'avatar_too_large'} Can't save this image. It's too large
              %span.label.label-warning{:'ng-show'=>'avatar_invalid'} Can't save this avatar. It's invalid
              %span.btn.btn-file{style: 'padding:0px;cursor:pointer;'}
                = f.file_field :avatar, class: 'form-control', id: 'browse-photos',accept: "file_extension|image/*"
                .thumbnail.avatar-preview
                  %img{:'ng-src'=>current_user.avatar.url(:medium)}

      .row
        .form-group.col-md-12
          = f.label :email
          = f.email_field :email, class: "form-control"
      - unless resource.logged_in_with_social_media?
        .row
          .form-group.col-md-12
            = f.label :password
            %i
              (#{t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it")})
            %br/
            = f.password_field :password, :autocomplete => "off", class: "form-control"
        .row
          .form-group.col-md-12
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, class: "form-control"
        .row
          .form-group.col-md-12
            = f.label :current_password
            %i
              (#{t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes')})
            = f.password_field :current_password, class: "form-control"
        - if current_user.otp_required_for_login   
          .row
            .form-group.col-md-12
              %label
                TWO-FACTOR AUTHENTICATION:
                %br/
                %i Using your two-factor app, scan this QR code:

              = raw RQRCode::render_qrcode(current_user.otp_provisioning_uri(current_user.email, issuer: "Focofox-Two-Factor-Auth"), :svg, :level => :l, :unit => 2)

      = f.submit t('.update', :default => "Update"), class: "btn btn-primary"
      = link_to t('.cancel_my_account',                                       |
        :default => "Cancel my account"),                                     |
        registration_path(resource_name),                                     |
        data: {confirm: "Are you sure?"}, class: "pull-right btn btn-danger", |
        :method => :delete                                                    |

- content_for :footer_scripts do
  = javascript_include_tag "ng-modules/registration/application"
