= bootstrap_devise_error_messages!
.panel.panel-default.form-signin.register{style: 'margin: 0 auto;'}
  .panel-heading.heading-desc
    %center
      %h4= t('.sign_up', :default => "Sign up")
  .panel-body
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form",novalidate: '', name: 'form',  :"ng-app"=>"regApp", "ng-controller"=>"registrationController", enctype: "multipart/form-data", method: :post}) do |f|
      %ng{:'ng-init'=>"enable_photographer_fields=#{params[:photographer]||'false'}"}
      .row
        .col-md-6
          .form-group
            = f.label :first_name
            = f.text_field :first_name, class: "form-control", :'ng-model'=> :'first_name', required: true
            %span.help-block.error{"ng-show" => "form['user[first_name]'].$dirty && form['user[first_name]'].$error.required",:'ng-cloak'=>true} required
          .form-group
            = f.label :last_name
            = f.text_field :last_name, class: 'form-control', required: true, 'ng-model'=>'last_name'
            %span.help-block.error{"ng-show" => "form['user[last_name]'].$dirty  && form['user[last_name]'].$error.required",:'ng-cloak'=>true} required
        .col-md-6
          .form-group{title: 'click on the image to change'}
            .col-md-12
              = f.label :Avatar
            .col-md-12
              %span.btn.btn-file{style: 'padding:0px;cursor:pointer;'}
                = f.file_field :avatar, class: 'form-control', id: 'browse-photos',accept: "file_extension|image/*"
                .thumbnail.avatar-preview
                  %img{:'ng-src'=>'/missing.png'}

      .row
        .form-group.col-md-12
          = f.label :email
          = f.email_field :email, class: 'form-control', required: true, 'ng-model'=>'email', 'unique-email'=>true
          %span.help-block.error{"ng-show" => "form['user[email]'].$dirty  &&form['user[email]'].$error.required",:'ng-cloak'=>true} required
          %span.help-block.error{"ng-show" => "form['user[email]'].$error.email",:'ng-cloak'=>true} Invalid
          %span.help-block.error{"ng-show" => "form['user[email]'].$error.uniqueEmail",:'ng-cloak'=>true} Email already used
      .row
        .form-group.col-md-12
          = f.label :password
          %br/
          .col-md-11{style: 'padding:0px;'}
            = f.password_field :password, class: 'form-control', required: true, :'password-strength'=>true, :'ng-model'=>'password', :'validate'=>"form['user[password]']", 'data-password-verify'=>'password_confirmation'
          .col-md-1
            = help_tooltip_icon 'devise_registrations_new', false

          .col-md-12{style: 'padding-left:0px;', :'ng-if'=>'password',:'ng-cloak'=>true}
            %progressbar{:value => "password_level", :'ng-class'=>'{"danger": password_level<=10, "info": password_level>10&&password_level<=50, "success": password_level<=100&&password_level>50}', style: 'float:left;width:70px;display:inline-block;'}
            .help-block{style: 'float:left;line-height: 10px;padding-left: 5px;'}
              {{password_status}}
          .col-md-12{style: 'padding:0px;'}
            %span.help-block.error{"ng-show" => "form['user[password]'].$dirty  &&form['user[password]'].$error.required",:'ng-cloak'=>true} required

            %span.help-block.error{"ng-show" => "form['user[password]'].$dirty  && password_status=='weak'",:'ng-cloak'=>true} Password must be stronger

      %br
      .row
        .form-group.col-md-12
          = f.label :password_confirmation
          = f.password_field :password_confirmation, class: 'form-control', required: true, 'ng-model'=>'password_confirmation', :'validate'=>"form['user[password]']", 'data-password-verify'=>'password'
          %span.help-block.error{"ng-show" => "form['user[password]'].$error.passwordVerify && form['user[password_confirmation]'].$dirty",:'ng-cloak'=>true} Did not match password
      .row
        %hr{"ng-if" => "enable_photographer_fields"}
        .form-group.col-md-12{"ng-if" => "enable_photographer_fields"}
          = f.label :username
          = f.text_field :username, class: 'form-control', required: true, :'ng-model'=>'username', :'unique-username'=>true
          %span.help-block.error{"ng-show" => "form['user[username]'].$dirty  && form['user[username]'].$error.required",:'ng-cloak'=>true} required
          %span.help-block.error{"ng-show" => "form['user[username]'].$dirty  && form['user[username]'].$error.uniqueUsername",:'ng-cloak'=>true} Username not unique
        
      .row
        .form-group.col-md-12{"ng-if" => "enable_photographer_fields"}
          = f.label :telephone
          = f.text_field :telephone, class: 'form-control', required: true,:'ng-model'=>'telephone'
          %span.help-block.error{"ng-show" => "form['user[telephone]'].$dirty && form['user[telephone]'].$error.required",:'ng-cloak'=>true} required

        = f.hidden_field :role, class: 'form-control', value: 'photographer', 'ng-if'=>'enable_photographer_fields'

        / %button.btn.btn-primary{"btn-checkbox" => "", "btn-checkbox-false" => "false", "btn-checkbox-true" => "true", "ng-model" => "enable_photographer_fields", :type => "button"}
        /   Register To Sell Photographs

      .clearfix
        %br/
      = f.submit t('.sign_up_now', :default => 'Sign Up Now'), class: 'btn btn-success', 'ng-disabled'=>'form.$invalid || password_status=="weak"'
    .clearfix
    %br/
    = link_to t('.didn_t_receive_confirmation_instructions', :default => "Didn't receive confirmation instructions?"), new_confirmation_path(resource_name)
    %br/

- content_for :header_scripts do
  :scss
    .flash-messages, .alert.alert-block{
      display: none;
    }
  %script
    window.flash_success = "#{flash['success']}";
    window.flash_errors = "#{flash['errors']}";
    window.flash_alert = "#{flash['alert']}";
    window.flash_notice = "#{flash['notice']}";
    window.validation_errors = #{@user.errors.messages.to_json().html_safe}


- content_for :footer_scripts do
  = javascript_include_tag "ng-modules/registration/application"
