%h2= t '.resend_instructions'

= form_for resource, as: resource_name, url: confirmation_path(resource_name),
  html: { method: :post } do |f|
  = devise_error_messages!

  %div
    = f.label :email
    = f.email_field :email, autofocus: true

  %div
    = f.submit t('.resend_instructions')

= render 'confirmable/shared/links'
