.btn.btn-focofox {
  border-radius: 0;
  background: #f0f0f0;
  border: 1px solid #d5d5d5;
  color: #4d4d4d;
  font-family: 'Cuprum-Regular';
  padding: 11px 20px;

  &.btn-block {
    display: block;
  }

  &.btn-text-left {
    text-align: left;
  }

  &.btn-with-arrow {
    position: relative;
    padding-right: 40px;

    &:before {
      content: ' ';
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 14px;
      height: 21px;
      background: url('/assets/btn-arrow.png');
    }
  }

  &.btn-primary {
    background: #de412c !important;
    border: none;
    color: #fff;

    &:hover {
      border-color: #de412c !important;
      box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3);
    }
  }

  &:hover {
    color: #de412c;
    background : -moz-linear-gradient(50% 100% 90deg,rgba(255, 255, 255, 1) 0%,rgba(245, 245, 245, 1) 0%,rgba(228, 228, 228, 1) 100%,rgba(159, 159, 159, 1) 100%);
    background : -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(159, 159, 159, 1) 100%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(0,rgba(245, 245, 245, 1) ),color-stop(1,rgba(228, 228, 228, 1) ),color-stop(1,rgba(159, 159, 159, 1) ));
    background : -o-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(159, 159, 159, 1) 100%);
    background : -ms-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(159, 159, 159, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#9F9F9F' ,GradientType=0)";
    background : linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(159, 159, 159, 1) 100%);
  }

  &:active {
    color: #de412c;
    background : -moz-linear-gradient(50% 100% 90deg,rgba(159, 159, 159, 1) 0%,rgba(245, 245, 245, 1) 0%,rgba(228, 228, 228, 1) 100%,rgba(255, 255, 255, 1) 100%);
    background : -webkit-linear-gradient(90deg, rgba(159, 159, 159, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(159, 159, 159, 1) ),color-stop(0,rgba(245, 245, 245, 1) ),color-stop(1,rgba(228, 228, 228, 1) ),color-stop(1,rgba(255, 255, 255, 1) ));
    background : -o-linear-gradient(90deg, rgba(159, 159, 159, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
    background : -ms-linear-gradient(90deg, rgba(159, 159, 159, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#9F9F9F', endColorstr='#FFFFFF' ,GradientType=0)";
    background : linear-gradient(0deg, rgba(159, 159, 159, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  }
}
