.date-time-filter {
  background: #fff;
  height: 100px;
  position: relative;
  width: 100%;
  margin: 100px 0 120px 0;

  .year {
    min-width: 65px;
  }

  .month {
    min-width: 62px;
  }

  .day {
    min-width: 50px;
  }

  .minute,
  .hour {
    min-width: 52px;
  }

  .duration > li {
    min-width: 65px;
    text-align: center;
  }

  &:after,
  &:before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
  }

  &:before {
    top: 0;
    transform: translateY(-100%);
  }

  &:after {
    bottom: 0;
    transform: translateY(100%);
  }

  &, ul {
    list-style: none;
    padding: 0;
  }

  > li {
    height: 100px;
    float: left;

    &:not(:last-child) {
      position: relative;

      ul {
        margin-right: 32px;
      }
    }

    &:last-child ul {
      margin-left: 1px;
      right: 0;
      position: absolute;
    }

    ul {
      height: 100px;

      li {
        position: relative;
      }

      .btn-up,
      .btn-down,
      .value {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .btn-up,
      .btn-down {
        position: absolute;
        background: #838383;
        font-size: 14px;
        font-family: 'Cuprum-Regular';
        color: rgb(208, 208, 208);
        left: 0;
        right: 0;
        text-align: center;
        line-height: 50px;
        height: 50px;
        z-index: 10;
        cursor: pointer;

        &:after {
          content: ' ';
          position: absolute;
          left: 0;
          right: 0;
          height: 50px;
        }

        &:before {
          content: ' ';
          background: #ececed;
          border: 1px solid #847B7B;
          position: absolute;
          left: 0;
          right: 0;
          height: 50px;
        }
      }

      .btn-up {
        &,
        &:after,
        &:before {
          top: -50px;
        }

        &:hover:after {
          background: url('/assets/date-filter-btn-up-hover.png') no-repeat center;
        }

        &:after {
          background: url('/assets/date-filter-btn-up.png') no-repeat center;
        }

        &:before {
          border-bottom: none;
        }
      }

      .btn-down {
        &,
        &:after,
        &:before {
          bottom: -50px;
        }

        &:hover:after {
          background: url('/assets/date-filter-btn-down-hover.png') no-repeat center;
        }

        &:after {
          background: url('/assets/date-filter-btn-down.png') no-repeat center;
        }

        &:before {
          border-top: none;
        }
      }

      .value {
        height: 100px;
        line-height: 100px;
        font-family: 'Cuprum-Regular';
        font-size: 18px;
      }
    }

    li {
      float: left;
      padding: 0 15px;

      &:not(:last-child) {
        border-right: 2px solid #000;
      }
    }

    .value {

    }
  }
}
