.date-time-filter {
  &:before {
    background: #545454;
    background: -moz-linear-gradient(top,  #545454 0%, #9b9b9b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#545454), color-stop(100%,#9b9b9b));
    background: -webkit-linear-gradient(top,  #545454 0%,#9b9b9b 100%);
    background: -o-linear-gradient(top,  #545454 0%,#9b9b9b 100%);
    background: -ms-linear-gradient(top,  #545454 0%,#9b9b9b 100%);
    background: linear-gradient(to bottom,  #545454 0%,#9b9b9b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#9b9b9b',GradientType=0 );
  }

  &:after {
    background: #9b9b9b;
    background: -moz-linear-gradient(top,  #9b9b9b 0%, #545454 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b9b9b), color-stop(100%,#545454));
    background: -webkit-linear-gradient(top,  #9b9b9b 0%,#545454 100%);
    background: -o-linear-gradient(top,  #9b9b9b 0%,#545454 100%);
    background: -ms-linear-gradient(top,  #9b9b9b 0%,#545454 100%);
    background: linear-gradient(to bottom,  #9b9b9b 0%,#545454 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9b9b', endColorstr='#545454',GradientType=0 );
  }

  > li {
    ul {
      background : -moz-linear-gradient(50% 100% 90deg,rgba(28, 28, 28, 1) 0%,rgba(37, 37, 37, 1) 0.83%,rgba(88, 88, 88, 1) 5.93%,rgba(132, 132, 132, 1) 11.28%,rgba(170, 170, 170, 1) 16.78%,rgba(201, 201, 201, 1) 22.45%,rgba(225, 225, 225, 1) 28.37%,rgba(242, 242, 242, 1) 34.64%,rgba(252, 252, 252, 1) 41.48%,rgba(255, 255, 255, 1) 50%,rgba(255, 255, 255, 1) 50%,rgba(252, 252, 252, 1) 58.52%,rgba(242, 242, 242, 1) 65.36%,rgba(225, 225, 225, 1) 71.63%,rgba(201, 201, 201, 1) 77.55%,rgba(170, 170, 170, 1) 83.22%,rgba(132, 132, 132, 1) 88.72%,rgba(88, 88, 88, 1) 94.07%,rgba(37, 37, 37, 1) 99.17%,rgba(28, 28, 28, 1) 100%);
      background : -webkit-linear-gradient(90deg, rgba(28, 28, 28, 1) 0%, rgba(37, 37, 37, 1) 0.83%, rgba(88, 88, 88, 1) 5.93%, rgba(132, 132, 132, 1) 11.28%, rgba(170, 170, 170, 1) 16.78%, rgba(201, 201, 201, 1) 22.45%, rgba(225, 225, 225, 1) 28.37%, rgba(242, 242, 242, 1) 34.64%, rgba(252, 252, 252, 1) 41.48%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(252, 252, 252, 1) 58.52%, rgba(242, 242, 242, 1) 65.36%, rgba(225, 225, 225, 1) 71.63%, rgba(201, 201, 201, 1) 77.55%, rgba(170, 170, 170, 1) 83.22%, rgba(132, 132, 132, 1) 88.72%, rgba(88, 88, 88, 1) 94.07%, rgba(37, 37, 37, 1) 99.17%, rgba(28, 28, 28, 1) 100%);
      background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(28, 28, 28, 1) ),color-stop(0.0083,rgba(37, 37, 37, 1) ),color-stop(0.0593,rgba(88, 88, 88, 1) ),color-stop(0.1128,rgba(132, 132, 132, 1) ),color-stop(0.1678,rgba(170, 170, 170, 1) ),color-stop(0.2245,rgba(201, 201, 201, 1) ),color-stop(0.2837,rgba(225, 225, 225, 1) ),color-stop(0.3464,rgba(242, 242, 242, 1) ),color-stop(0.4148,rgba(252, 252, 252, 1) ),color-stop(0.5,rgba(255, 255, 255, 1) ),color-stop(0.5,rgba(255, 255, 255, 1) ),color-stop(0.5852,rgba(252, 252, 252, 1) ),color-stop(0.6536,rgba(242, 242, 242, 1) ),color-stop(0.7163,rgba(225, 225, 225, 1) ),color-stop(0.7755,rgba(201, 201, 201, 1) ),color-stop(0.8322,rgba(170, 170, 170, 1) ),color-stop(0.8872,rgba(132, 132, 132, 1) ),color-stop(0.9407,rgba(88, 88, 88, 1) ),color-stop(0.9917,rgba(37, 37, 37, 1) ),color-stop(1,rgba(28, 28, 28, 1) ));
      background : -o-linear-gradient(90deg, rgba(28, 28, 28, 1) 0%, rgba(37, 37, 37, 1) 0.83%, rgba(88, 88, 88, 1) 5.93%, rgba(132, 132, 132, 1) 11.28%, rgba(170, 170, 170, 1) 16.78%, rgba(201, 201, 201, 1) 22.45%, rgba(225, 225, 225, 1) 28.37%, rgba(242, 242, 242, 1) 34.64%, rgba(252, 252, 252, 1) 41.48%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(252, 252, 252, 1) 58.52%, rgba(242, 242, 242, 1) 65.36%, rgba(225, 225, 225, 1) 71.63%, rgba(201, 201, 201, 1) 77.55%, rgba(170, 170, 170, 1) 83.22%, rgba(132, 132, 132, 1) 88.72%, rgba(88, 88, 88, 1) 94.07%, rgba(37, 37, 37, 1) 99.17%, rgba(28, 28, 28, 1) 100%);
      background : -ms-linear-gradient(90deg, rgba(28, 28, 28, 1) 0%, rgba(37, 37, 37, 1) 0.83%, rgba(88, 88, 88, 1) 5.93%, rgba(132, 132, 132, 1) 11.28%, rgba(170, 170, 170, 1) 16.78%, rgba(201, 201, 201, 1) 22.45%, rgba(225, 225, 225, 1) 28.37%, rgba(242, 242, 242, 1) 34.64%, rgba(252, 252, 252, 1) 41.48%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(252, 252, 252, 1) 58.52%, rgba(242, 242, 242, 1) 65.36%, rgba(225, 225, 225, 1) 71.63%, rgba(201, 201, 201, 1) 77.55%, rgba(170, 170, 170, 1) 83.22%, rgba(132, 132, 132, 1) 88.72%, rgba(88, 88, 88, 1) 94.07%, rgba(37, 37, 37, 1) 99.17%, rgba(28, 28, 28, 1) 100%);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1C1C1C', endColorstr='#1C1C1C' ,GradientType=0)";
      background : linear-gradient(0deg, rgba(28, 28, 28, 1) 0%, rgba(37, 37, 37, 1) 0.83%, rgba(88, 88, 88, 1) 5.93%, rgba(132, 132, 132, 1) 11.28%, rgba(170, 170, 170, 1) 16.78%, rgba(201, 201, 201, 1) 22.45%, rgba(225, 225, 225, 1) 28.37%, rgba(242, 242, 242, 1) 34.64%, rgba(252, 252, 252, 1) 41.48%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(252, 252, 252, 1) 58.52%, rgba(242, 242, 242, 1) 65.36%, rgba(225, 225, 225, 1) 71.63%, rgba(201, 201, 201, 1) 77.55%, rgba(170, 170, 170, 1) 83.22%, rgba(132, 132, 132, 1) 88.72%, rgba(88, 88, 88, 1) 94.07%, rgba(37, 37, 37, 1) 99.17%, rgba(28, 28, 28, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1C1C1C',endColorstr='#1C1C1C' , GradientType=0);
    }
  }
}

