#photos-list {
  padding-bottom: 20px !important;
  min-height: calc(100vh - 210px);

  .thumbnail {
    border: 1px solid #a5a5a5 !important;
    margin-bottom: 0;
  }

  .photo-thumbnail-container {
    float: left;
    padding: 5px;
  }

  .thumb-con {
    background-position: center;
    background-size: cover;
  }

  .user-options {
    height: 25px !important;
    background: #fff !important;
    position: relative;

    .photo-download,
    .photo-select,
    .photo-zoom,
    .photo-buy {
      position: absolute;
      top: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 25px;
      cursor: pointer;
    }

    .photo-buy {
      background-image: url('/assets/photo-buy.png');
      left: 50%;
      right: 0;

      &.in_cart {
        background-image: url('/assets/photo-remove.png');

        &:hover {
          background-image: url('/assets/photo-remove-hover.png');
        }

        &:active {
          background-image: url('/assets/photo-remove-active.png');
        }
      }

      &:hover {
        background-image: url('/assets/photo-buy-hover.png');
      }

      &:active {
        background-image: url('/assets/photo-buy-active.png');
      }
    }

    .photo-select {
      background-image: url('/assets/photo-selected.png');
      left: 50%;
      right: 0;

      &:hover {
        background-image: url('/assets/photo-selected-hover.png');
      }

      &:active {
        background-image: url('/assets/photo-selected-active.png');
      }
    }

    .photo-download {
      background-image: url('/assets/photo-download.png');
      left: 50%;
      right: 0;

      &:hover {
        background-image: url('/assets/photo-download-hover.png');
      }

      &:active {
        background-image: url('/assets/photo-download-active.png');
      }
    }

    .photo-zoom {
      background-image: url('/assets/photo-zoom.png');
      left: 0;
      right: 50%;

      &:before {
        position: absolute;
        content: ' ';
        background: #000;
        width: 2px;
        right: -1px;
        top: 2px;
        bottom: 2px;
      }

      &:hover {
        background-image: url('/assets/photo-zoom-hover.png');
      }

      &:active {
        background-image: url('/assets/photo-zoom-active.png');
      }
    }
  }
}
