.find-photos {
  #controls {
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    width: 300px;
  }

  #photos {
    padding-left: 320px;

    &.cart {
      padding-left: 820px;
    }
  }

  .search-date-filter {
    position: fixed;
    left: 300px;
    top: 50px;
    bottom: 0;
    background: #fff;
    z-index: 99;
    width: 500px;
  }

  .search-photographer-filter {
    position: fixed;
    left: 300px;
    top: 50px;
    bottom: 0;
    background: #fff;
    z-index: 999;
    width: 500px;
  }
}
