.modal.modal-location-filter {
  left: 300px;
  right: 0;
  top: 50px;
  bottom: 68px;
  background: #fafafa;

  .modal-dialog {
    margin: 0;
    width: 100% !important;
  }

  .modal-content {
    border: none;
    background: none;
  }

  #filter-dialog {
    //position: fixed;
    //top: 50px;
    //bottom: 63px;
    //left: 300px;
    //right: 0;
  }

  .search-top-bar {
    padding: 31px;
    max-height: 105px;
    border-bottom: 1px solid #B7B4B4;

    label {
      font-size: 18px;
      font-family: 'Cuprum-Regular';
      color: #666;
      margin-right: 20px;
    }

    .search-field-wrapper {
      margin-right: 20px;
      display: inline-block;
      position: relative;

      &:before {
        position: absolute;
        content: ' ';
        background: url('/assets/location-search.png');
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        width: 26px;
        height: 24px;
      }
    }

    input {
      background: #f0f0f0;
      border: 1px solid #b9b9b9;
      padding: 10px;
      min-width: 400px;
      color: #838383;
      font-family: 'Cuprum-Regular';

      &::-webkit-input-placeholder {
          color: #838383;
          font-family: 'Cuprum-Regular';
          font-size: 16px;
      }

      &:-moz-placeholder {
          color: #838383;
          font-family: 'Cuprum-Regular';
          font-size: 16px;
      }

      &::-moz-placeholder {
          color: #838383;
          font-family: 'Cuprum-Regular';
          font-size: 16px;
      }

      &:-ms-input-placeholder {
          color: #838383;
          font-family: 'Cuprum-Regular';
          font-size: 16px;
      }
    }
  }

  .footer-buttons {
    padding: 15px 20px;
  }

  .close {
    margin: 10px;
  }
}
