div.paginate-anything {
  li {
    display: inline-block;
    min-height: 50px;

    a {
      font-size: 22px;
      font-family: 'Cuprum-Regular';
      background: none;
      border-color: transparent;
      color: #000;
      min-width: initial !important;
      padding: 10px 20px 9px 20px;

      &:hover {
        background: none !important;
        color: #DD1800;
        border-color: transparent !important;
      }
    }

    &.active {
      a {
        color: #000;
        border-color: #cecece;
        background: #f0f0f0;
      }

      a:hover,
      a:focus {
        color: #DD1800;
        border-color: #cecece !important;
        background: #f0f0f0 !important;
        background : -moz-linear-gradient(50% 100% 90deg,rgba(255, 255, 255, 1) 0%,rgba(245, 245, 245, 1) 0%,rgba(228, 228, 228, 1) 100%,rgba(159, 159, 159, 1) 100%) !important;
        background : -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(159, 159, 159, 1) 100%) !important;
        background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(0,rgba(245, 245, 245, 1) ),color-stop(1,rgba(228, 228, 228, 1) ),color-stop(1,rgba(159, 159, 159, 1) )) !important;
        background : -o-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(159, 159, 159, 1) 100%) !important;
        background : -ms-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(159, 159, 159, 1) 100%) !important;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#9F9F9F' ,GradientType=0)" !important;
        background : linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(159, 159, 159, 1) 100%) !important;
      }
    }
  }

  .next,
  .prev {
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: -2px;
    cursor: pointer;

    a {
      background: none !important;
      border: none !important;
    }
  }

  .next {
    background-image: url('/assets/pagination-next.png');

    &:hover {
      background-image: url('/assets/pagination-next-active.png');
    }
  }

  .prev {
    background-image: url('/assets/pagination-prev.png');

    &:hover {
      background-image: url('/assets/pagination-prev-active.png');
    }
  }

  .per-page {
    margin-top: 0;
    margin-left: 0;

    .select2-container {
      margin-left: 10px;
      margin-right: 20px;
    }

    label {
      color: #666666;
      font-family: 'Cuprum-Regular';
      font-size: 18px;
      font-weight: normal;
    }
  }
}


