.search-photographer-filter {
  padding: 30px;

  h1 {
    margin: 0 0 30px 0;
    font-size: 18px;
    color: #666;
    font-family: 'Cuprum-Regular';
  }

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak,
  .ui-select-match.ng-hide:not(.ng-hide-animate) {
    display: block !important;
  }

  .ui-select-search {
    display: none;
  }

  .ui-select-match.ng-hide {
    .caret {
      background: url('/assets/select2-arrow-active.png') center no-repeat;
    }
  }

  .actions-left,
  .actions-right {
    margin-top: 30px;
  }

  .ui-select-toggle {
    background: #f0f0f0 !important;
    border-color: #b4b4b4;
    box-shadow: none;
    height: initial;
    text-align: left;
    padding: 15px;

    &:hover {
      .caret {
        background: url('/assets/select2-arrow-active.png') center no-repeat;
      }
    }

    .ui-select-placeholder {
      font-family: 'Cuprum-Regular';
      font-size: 16px;
      color: #838383;
    }

    .caret {
      border: none;
      width: 21px;
      height: 11px;
      background: url('/assets/select2-arrow.png') center no-repeat;
    }
  }
}
