#my-cart {
  position: fixed;
  left: 300px;
  top: 50px;
  z-index: 999;
  bottom: 0;
  background: #fafafa;
  width: 500px;
  padding: 20px;

  h1 {
    margin: 0 0 10px 0;
    font-family: 'Cuprum-Regular';
    font-size: 22px;
  }

  table {
    width: 100%;
    font-family: 'Cuprum-Regular';
    font-size: 16px;
    color: #4D4D4D;

    th {
      color: #000;
    }

    .item {
      border-top: 1px solid #bfbfbf;
    }

    .delete {
      color: #000;
      text-decoration: none;
      background-image: url('/assets/product-cart-delete.png');
      background-position: left;
      background-repeat: no-repeat;
      padding-left: 20px;

      &:hover {
        background-image: url('/assets/product-cart-delete-hover.png');
        color: #ae3120;
      }
    }

    tr {
      &.total:before {
        content: ' ';
        position: absolute;
        left: 0; right: 0;
        height: 62px;
        background: #f0f0f0;
        z-index: -1;
      }

      th,
      td {
        padding: 20px 0 20px 5px;
      }
    }
  }
}

#results.cart {
  .photo-thumbnail-container {
    float: left;
    padding: 5px;
  }

  .thumb-con {
    background-position: center;
    background-size: cover;
  }

  .user-options {
    height: 25px !important;
    background: #fff !important;
    position: relative;
    .photo-zoom,
    .photo-buy {
      position: absolute;
      top: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      background-size: 25px;
    }

    .photo-buy {
      background-image: url('/assets/photo-buy.png');
      left: 50%;
      right: 0;

      &.in_cart {
        background-image: url('/assets/photo-remove.png');

        &:hover {
          background-image: url('/assets/photo-remove-hover.png');
        }

        &:active {
          background-image: url('/assets/photo-remove-active.png');
        }
      }

      &:hover {
        background-image: url('/assets/photo-buy-hover.png');
      }

      &:active {
        background-image: url('/assets/photo-buy-active.png');
      }
    }

    .photo-zoom {
      background-image: url('/assets/photo-zoom.png');
      left: 0;
      right: 50%;

      &:before {
        position: absolute;
        content: ' ';
        background: #000;
        width: 2px;
        right: -1px;
        top: 5px;
        bottom: 5px;
      }

      &:hover {
        background-image: url('/assets/photo-zoom-hover.png');
      }

      &:active {
        background-image: url('/assets/photo-zoom-active.png');
      }
    }
  }
}
