.find-photos #controls {
  border-right: 1px solid #d0d0d0;
  background: #fafafa;
}

#controls #photosTab,
.find-photos #photosTab {
  list-style: none;
  padding: 0;
  overflow: hidden;
  padding: 30px;
  position: relative;
  width: 100%;
  min-height: 105px;
  border-bottom: 1px solid #dcdcdc;

  li {
    background: #dcdcdc;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    border-radius: 100px;
    position: absolute;
    transition: box-shadow .3s ease-in;

    a {
      text-decoration: none;
      color: #000;
      font-family: 'Cuprum-Regular';
      font-size: 18px;
      padding: 10px 12px;
      display: block;
    }

    &:nth-child(1) {
      left: 30px;
      right: 30px;
      text-align: left;
    }

    &:nth-child(2) {
      left: 30px;
      right: 30px;
      text-align: right;
    }

    &.active {
      background: #de412c;
      box-shadow: none;
      z-index: 10;

      a {
        color: #fff;
      }

      &:nth-child(1) {
        right: initial;
      }

      &:nth-child(2) {
        left: initial;
      }
    }
  }
}

#my-filter {
  h1 {
    font-family: 'Cuprum-Regular';
    color: #666666;
    font-size: 18px;
    text-align: center;
  }

  .filters-list {
    list-style: none;
    padding: 0;

    a {
      text-decoration: none;
      font-family: 'Cuprum-Regular';
      color: #666666;
      font-size: 16px;
    }

    li {
      padding: 18px 25px;
      cursor: pointer;
      overflow: hidden;
      position: relative;

      &:before {
        content: ' ';
        height: 1px;
        left: 25px;
        right: 25px;
        bottom: 0;
        position: absolute;
        background: #bbbbbb;
      }

      .filter-button {
      }

      &.photographer,
      &.date,
      &.location {
        position: relative;

        a {
          display: block;
          position: relative;
          overflow: hidden;

          > span:first-child {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        .filter-button:not(.pull-right) {
          width: 75%;
          display: block;
          margin-left: 25%;
          margin-bottom: 2px;
        }
      }

      &.photographer {
        .filter-button:not(.pull-right) {
          width: 60%;
          margin-left: 40%;
        }
      }

      &.filter {
        .filter-button {
          position: relative;
          right: 20px;
        }
      }

      .filter-button {
        background: #eeeeee;
        color: #666;
        border: none;
        border-radius: 200px;
        padding: 1px 8px;
        text-align: left;
      }

      &.active {
        background: #de412c;
        position: relative;

        &:after {
          content: ' ';
          position: absolute;
          right: -15px;
          top: 0;
          bottom: 0;
        }

        &:hover {
          box-shadow: inset 0 0 3px rgba(255, 255, 255, .3);
        }

        .filter-button {
          background: #bf3724;
          color: #fff;
        }

        a {
          color: #fff;
        }
      }
    }
  }

  .media-type-filter-container {
    padding: 50px 25px 0 25px;

    label {
      display: block;
    }

    .select2 {
      display: block;
      width: 100% !important;
    }
  }
}

#results {
  padding-top: 20px;
  padding-right: 20px;

  .select2-container {
    .select2-choice {
      padding-left: 10px;
      padding-right: 45px;
    }
  }

  .size-label,
  .sort-label {
    color: #666666;
    font-family: 'Cuprum-Regular';
    font-size: 18px;
    font-weight: normal;
    margin-right: 10px;

    .select2-container {
      margin-left: 10px;
    }
  }

  .narrow-results {
    h1 {
      margin: 0;
      font-size: 20px;
      font-family: 'Cuprum-Regular';
      line-height: 50px;
      margin-left: 12px;
      position: relative;
    }

    .refresh-button {
      position: absolute;
      top: 0;
      right: -15px;
      transform: translateX(100%);

      display: inline-block;
      font-size: 0;
      background: url('/assets/refresh-photos.png') center no-repeat;
      padding: 25px 40px 27px;
      min-width: 50px;
      background-color: #ebebec;
      border: 1px solid #d6d6d7;
      border-radius: 200px;
      line-height: initial;

      &:hover {
        background: url('/assets/refresh-photos-active.png') center no-repeat;
        background-color: #ebebec;
      }
    }
  }
}
