%h1= t '.translations'
%p{editable: true, :'data-key'=> 'welcome'}
  = t "welcome"
%hr

%ul

%h2= t '.add_translation'
= form_tag translations_path do
  %p
    = label_tag :locale
    %br/
    = text_field_tag :locale
  %p
    = label_tag :key
    %br/
    = text_field_tag :key
  %p
    = label_tag :value
    %br/
    = text_field_tag :value
  %p= submit_tag t('.submit')


%p{editable: true, :'data-key'=> 'welcome'}
  = t "welcome"
%hr
%p{editable: true, :'data-key'=> 'welcome'}
  = t "welcome"
%hr
%p{editable: true, :'data-key'=> 'welcome'}
  = t "welcome"
%hr
%p{editable: true, :'data-key'=> 'welcome'}
  = t "welcome"
%hr
%p{editable: true, :'data-key'=> 'welcome'}
  = t "welcome"
%hr
%p{editable: true, :'data-key'=> 'welcome'}
  = t "welcome"
%hr
