%input{type: :hidden, name: :type, value: 'credit_card'}
%input{type: :hidden, name: :id, value: credit_card.try(:id)}
%fieldset{:'ng-init'=>"card=#{credit_card.to_json}"}
  .row
    .form-group.col-md-6{:'ng-class'=>"{'has-error': ccForm.first_name.$dirty && ccForm.first_name.$invalid, 'has-success': ccForm.first_name.$valid && ccForm.first_name.$dirty}"}
      %label.control-label= t '.first_name'
      %input.form-control{disabled: true, :autocomplete => "off", name: 'first_name', :'ng-model'=> 'card.first_name', required: true, "data-stripe" => "name", :placeholder => "First Name", :type => "text"}/
      %ul{:'ng-show'=>'ccForm.first_name.$dirty && ccForm.first_name.$invalid'}
        %li{:'ng-show'=>'ccForm.first_name.$error.required'}= t '.first_name_required'

    .form-group.col-md-6.pull-right{:'ng-class'=>"{'has-error': ccForm.last_name.$dirty && ccForm.last_name.$invalid, 'has-success': ccForm.last_name.$valid && ccForm.last_name.$dirty}"}
      %label.control-label= t '.last_name'
      %input.form-control{disabled: true, :autocomplete => "off", name: 'last_name', :'ng-model'=> 'card.last_name', required: true, "data-stripe" => "name", :placeholder => "Last Name", :type => "text"}/

      %ul{:'ng-show'=>'ccForm.last_name.$dirty && ccForm.last_name.$invalid'}
        %li{:'ng-show'=>'ccForm.last_name.$error.required'}= t '.last_name_required'

  / Card Number
  .form-group{:'ng-class'=>"{'has-error': ccForm.ccNumber.$dirty && (!ccForm.ccNumber.$valid), 'has-success': ccForm.ccNumber.$valid}"}
    %label.control-label{:for => "cardNumber"}= t '.card_number'
    .row
      .col-md-8
        %input.form-control{disabled: true, :autocomplete => "off", "data-stripe" => "number", name: 'ccNumber', :placeholder => "xxxxxxxxxxxxxx42", :size => "20", :type => "text", :'ng-init'=> "card.number='#{credit_card.try(:number)}'", :'cc-number'=>true, :'ng-model'=>'card.number', :'ng-change'=>'cvcIsRequired=true;'}/
      .col-md-4
        / ccForm.ccNumber.$ccType
        #xptCardIcons
          %img.marginBottom.ccLogo.V{:alt => "Visa", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/logo/logo_ccVisa.gif", :title => "Visa", :'ng-class'=>"{active: ccForm.ccNumber.$ccType=='Visa'}"}/
          %wbr
          %img.marginBottom.ccLogo.M{:alt => "Mastercard ", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/logo/logo_ccMC.gif", :'ng-class'=>"{active: ccForm.ccNumber.$ccType=='MasterCard'}"}/
          %wbr
          %img.marginBottom.ccLogo.A{:alt => "American Express ", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/logo/logo_ccAmex.gif", :'ng-class'=>"{active: ccForm.ccNumber.$ccType=='American Express'}"}/
          %wbr
          %img.marginBottom.ccLogo.D{:alt => "Discover", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/logo/logo_ccDiscover.gif", :title => "Discover", :'ng-class'=>"{active: ccForm.ccNumber.$ccType=='Discover'}"}/
          %wbr
      
    %input#type.form-control{disabled: true, :autocomplete => "off", "data-stripe" => "type", name: 'ccType', :placeholder => "visa", :size => "20", :type => "hidden", value: "{{ccForm.ccNumber.$ccType=='Visa'?'visa':(ccForm.ccNumber.$ccType=='MasterCard'?'mastercard':(ccForm.ccNumber.$ccType=='American Express'?'amex':(ccForm.ccNumber.$ccType=='Discover'?'discover':ccForm.ccNumber.$ccType))) || '#{credit_card.try(:card_type)}'}}"}/ 
    / visa, mastercard, amex, discover, or maestro

  / Expiry
  .form-group{:'ng-class'=>"{'has-error': (ccForm.ccExpMonth.$dirty||ccForm.ccExpYear.$dirty) && (!ccForm.ccExpMonth.$valid || !ccForm.ccExpYear.$valid ), 'has-success': (ccForm.ccExpMonth.$valid || ccForm.ccExpYear.$valid)}"}
    %label.control-label= t '.card_expiry_date'
    .input-group.col-md-4 
      %input.form-control{disabled: true, "data-stripe" => "exp-month", name: 'ccExpMonth', :placeholder => "MM", :size => "2", :type => "text", :'ng-init'=>"card.expiration.month='#{credit_card.try(:expire_month)}'", :'cc-exp-month name'=> "ccExpMonth", :'ng-model'=> "card.expiration.month"}/
      .input-group-addon
        %span /
      %input.form-control{disabled: true, "data-stripe" => "exp-year", name: 'ccExpYear', :placeholder => "YYYY", :size => "4", maxlength: "4", :'full-year'=>true, :type => "text", :'ng-init'=>"card.expiration.year='#{credit_card.try(:expire_year)}'", :'cc-exp-year'=>true, name: "ccExpYear", :'ng-model'=> "card.expiration.year"}/
  / CVV
  .form-group{:'ng-class'=>"{'has-error': ccForm.ccCvc.$dirty && (!ccForm.ccCvc.$valid), 'has-success': ccForm.ccCvc.$valid}", :'ng-if'=>'cvcIsRequired'}
    .col-md-4{style: 'padding: 0px;'}
      %label.control-label= t '.card_cvv'
      %input.form-control{disabled: true, "data-stripe" => "cvc", :'max-size' => "4", :type => "text", "cc-cvc" => "", "cc-type" => "ccForm.ccNumber.$ccType", :name => "ccCvc", "ng-model" => "card.cvc"}/

  .form-group
    / - unless credit_card.id.nil?
    /   %a.btn.btn-danger.pull-left{href: "#{payment_method_path(credit_card)}", method: :delete, :'confirm'=>'Are you sure you want to delete this credit card?'}
    /     %i.fa.fa-remove &nbsp;
    /     Delete Card
    / &nbsp;

    / Submit
    %button.btn.btn-success{:type => "submit", :'ng-disabled'=>"is_invalid(ccForm, #{credit_card.id||0})"}
      = submit_label

