#errorModal.modal{"aria-labelledby" => "myModalLabel", :role => "dialog"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %h4#myModalLabel.modal-title
          %center= t '.transaction_error'
      .modal-body
        .message
          = flash[:error]
        %br

        %center
          %button.btn.btn.btn-warning{ :"data-dismiss"=>"modal"} Ok

:coffeescript
  $(document).ready ->
    $('#errorModal').modal({keyboard: false, backdrop: 'static', size: 'sm'})
    wh = $(window).height()
    top = ((wh/2) - ($('#errorModal .modal-content').height()/2)) - 5
    $('#errorModal .modal-content').css({top: parseInt(top)})

