#successModal.modal{"aria-labelledby" => "myModalLabel", :role => "dialog"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %h4#myModalLabel.modal-title
          %center= t '.successful_transaction'

      .modal-body
        .message
          = t '.transaction_message'
        .emp{style: 'border: 1px solid; font-weight: bold; padding: 11px; margin-top: 18px; margin-bottom: 18px;'}
          = t '.transaction_note'

        %center
          %a.btn.btn.btn-success{href: my_focofox_pages_path}= t '.goto_focofox'

:coffeescript
  $(document).ready ->
    localStorage.removeItem('focofox_'+user_id+'.cart')
    $('#successModal').modal({keyboard: false, backdrop: 'static', size: 'sm'})
    wh = $(window).height()
    top = ((wh/2) - ($('#successModal .modal-content').height()/2)) - 5
    $('#successModal .modal-content').css({top: parseInt(top)})

    i = 10
    interval = setInterval ->
      $('html title').html('Redirecting in '+i+' seconds.')
      i-=1
      if i < 0
        clearInterval interval
    , 1000

    setTimeout ->
      window.location.href = '#{my_focofox_pages_path}'
    , 9000
