- if params[:action]=='success'
  = render partial: 'success_modal'

- if flash.present?
  :scss
    .flash-messages{
      display: none !important;
    }

  = render partial: 'error_modal'

.app{:'ng-app'=>'checkoutApp', :'ng-controller'=>'mainController'}
  %ng{:'ng-init'=>"payment_methods_url='#{payment_methods_path}/?p=1'"}
  - if @default.present?
    %ng{:'ng-init'=>"payment_method='#{@default.class.try(:name)},#{@default.id}'"}

  = form_tag(checkout_index_path, class: 'form-horizontal', method: :POST, name: 'ccForm', novalidate: true, :'ng-submit'=>'goCheckout($event)') do
    %input{type: 'hidden', name: 'latitude', value: '{{latitude}}'}
    %input{type: 'hidden', name: 'longitude', value: '{{longitude}}'}
    %input{type: 'hidden', name: 'location_name', value: '{{location_name}}'}
    .container.well.half-sized-on-md
      .header{style: 'margin: -19px -19px 0px -19px; background-color: rgba(128, 128, 128, 0.13); padding: 15px;'}
        %h4.pull-left
          %b= t '.focofox_checkout'
        .pull-right
          %button.btn.btn-primary{type: :submit}= t '.purchase_now'
        %br
        %br
      %br
      .body.items
        %table.table.table-hover
          %tr
            %th{style: 'text-align: right;'}= t '.quantity'
            %th= t '.photographer_description'
            %th= t '.discount'
            %th= t '.price'
            %th
          - @cart.group_by{|g| g['photographer_id'].to_s}.each_with_index do |items, i|
            %tr{style: 'border:none;'}
              %td{style: 'text-align:right;'}
                = items[1].count
              %td
                %label= items[1].first['photographer_name']
                .details{style: 'display: none;', :'data-index'=>i}
                  - (items[1]||[]).each do |photo|
                    %p
                      - if photo['file_name'].present?
                        %label= t '.file_name'
                        \:
                        = photo['file_name']
                        %br
                      %label= t '.resolution'
                      \:
                      = [photo['width'], photo['height']].join(' x ')
                      %br
                      %label= t '.location'
                      \:
                      = photo['location_name']
                      %br
                      %label= t '.license'
                      \:
                      = photo['license_name']
                      %br
                      %label= t '.date_time'
                      \:
                      = photo['formatted_date_time']
                      %hr
              %td 
              %td
                $
                = items[1].map{|i| i['price'].to_i}.reduce(0, :+)
              %td
                %button.view-details{type: :button, :'data-index'=>i}= t '.show_details'
          %tr{style: 'border-top: 2px solid black;'}
            %td
            %td
            %td= t '.total'
            %td{colspan: 2}
              $
              = @cart.map{|i| i['price'].to_i}.reduce(0, :+) 
      %br
      %br
      .header{style: 'margin: -19px -19px 0px -19px; background-color: rgba(128, 128, 128, 0.13); padding: 15px;'}
        %h4.pull-left
          %b= t '.payment_method'
        .pull-left
          - if @default.blank?
            %a.btn.btn-primary{:'ng-href'=>'{{payment_methods_url}}&new=1'}= t '.add_new'
          - else
            %button{type: :button, :'ng-click'=>'goTo(payment_methods_url)', style: 'line-height:23px;margin-top: 5px;'}= t '.manage_payment_methods'

        %br
        %br
      %br
      .body.items
        - @credit_cards.each do |c|
          %label
            %input{type: :radio, name: :method, value: "#{c.class.try(:name)},#{c.id}", :'ng-model'=>'payment_method'}
            #xptCardIcons{style: 'display: inline-block;'}
              - case c.card_type
              - when 'visa'
                %img.marginBottom.V{:alt => "Visa", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/logo/logo_ccVisa.gif", :title => "Visa", style: 'margin-top:0px;'}/
                %wbr
              - when 'mastercard'
                %img.marginBottom.M{:alt => "Mastercard ", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/logo/logo_ccMC.gif", style: 'margin-top:0px;'}/
                %wbr
              - when 'amex'
                %img.marginBottom.A{:alt => "American Express ", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/logo/logo_ccAmex.gif", style: 'margin-top:0px;'}/
                %wbr
              - when 'discover'
                %img.marginBottom.D{:alt => "Discover", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/logo/logo_ccDiscover.gif", :title => "Discover", style: 'margin-top:0px;'}/
                %wbr
            = c.number
          %br
        - @paypal_accounts.each do |p|
          %label
            %input{type: :radio, name: :method, :'ng-model'=>'payment_method', value: "#{p.class.try(:name)},#{p.id}"}
            #xptCardIcons{style: 'display: inline-block;'}
              %img.marginBottom.ccLogo.V{width: 37, height: 23, :'src'=>'https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg', style: 'opacity:1;margin-top:0px;'}
            = p.email
          %br
- content_for :header_scripts do
  = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyDszs__EHGFricBCe3NvtSkVIX7uyFbSIQ&extension=.js&libraries=places&sensor=false'

- content_for :footer_scripts do
  = javascript_include_tag "ng-modules/checkout/application"

  :javascript
    $(document).on('submit', 'form', function(){
      $('button[type="submit"]').prop('disabled', true)
    });

  :coffeescript
    $(document).ready ()->
      $('.view-details').click ()->
        index = $(this).data('index')
        details = $('.details[data-index="'+index+'"]')
        if !details.is(':visible')
          details.slideDown()
          $(this).text('Hide Details')
        else
          details.slideUp()
          $(this).text('Show Details')

      return
  
