%form{name: 'watermark_form'}
  .modal-header
    %h3.modal-title{:'ng-show'=>'!!watermark.user_id'}
      = t '.edit_watermark'
      {{watermark.name}}
    %h3.modal-title{:'ng-show'=>'!!!watermark.user_id'}
      = t '.default_watermark'
      %i
        = t '.view_only'

  .modal-body
    .disabled{style: 'position: absolute; width: 100%; background: rgb(181, 172, 172); height: 100%; z-index: 999999999; opacity: 0.1; bottom: 0; left: 0;', :'ng-if'=>'!!!watermark.user_id'}
    = render partial: 'photographer/preferences/watermarks/form'
  .modal-footer
    %button.btn.btn-primary{"ng-click" => "ok('update')", :'ng-disabled'=>'watermark_form.$invalid || !!!watermark.watermark_image || !!!watermark.user_id'}
      = t '.save'
    %button.btn.btn-danger{:'ng-click'=>'delete()', :'ng-disabled'=>'!!!watermark.user_id'}
      = t '.delete'
    %button.btn.btn-warning{"ng-click" => "cancel()"}
      = t '.cancel'

