.row#watermarked-image-preview{:'disable-animate'=> 'true'}
  %center{:'style'=>'position:relative;display:block;overflow:hidden', :'disable-animate'=> 'true', :'ng-click'=>'preview()'}
    .image.empty{:'style'=>'width: 100%; height: 355px; display: inline-block; background: url("/missing.png") no-repeat center center gainsboro;',:'ng-if'=>'!!!watermark.background_sample_image.previewUrl'}

    .image{:'style'=>'width: 100%;display: inline-block;'}
      %img{:'ng-src'=>'{{!!watermark.background_sample_image.previewUrl ? watermark.background_sample_image.previewUrl  : "/missing.png"}}',:'ng-if'=>'watermark.background_sample_image.previewUrl', style: 'width: 100%;vertical-align:top;'}

    .preview.tiled-display{:'style'=>'display: inline-block;width: 100%; overflow:hidden; height: 100%; position: absolute; top: 0; left: 0; display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: center; color: white; padding: 12px;opacity:{{watermark.opacity}};background-repeat: space;',:'ng-if'=>'watermark.watermark_image.previewUrl && watermark.display_type=="tiled"'}

    .preview.maximized-display{:'style'=>'display: inline-block;width: 100%;overflow:hidden; height: 100%; position: absolute; top: 0; left: 0; display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: center; color: white; padding: {{watermark.fixed_ratio_margin+"px"}}; opacity:{{watermark.opacity}};-webkit-transform: rotate({{watermark.rotation}}deg);	-moz-transform: rotate({{watermark.rotation}}deg);	-ms-transform: rotate({{watermark.rotation}}deg);	-o-transform: rotate({{watermark.rotation}}deg);transform: rotate({{watermark.rotation}}deg);',:'ng-if'=>'watermark.watermark_image.previewUrl && watermark.display_type=="maximized"'}
      .img{:'style'=>'width: 100%; height: 100%;background-image: url({{watermark.watermark_image.previewUrl}});background-repeat: no-repeat;background-position: center;background-size: 100%;', }

    .preview.stretched-display{:'style'=>'display: inline-block;width: 100%;overflow:hidden; height: 100%; position: absolute; top: 0; left: 0; display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: center; color: white; padding: {{watermark.stretch_margin+"px"}}; opacity:{{watermark.opacity}};-webkit-transform: rotate({{watermark.rotation}}deg);	-moz-transform: rotate({{watermark.rotation}}deg);	-ms-transform: rotate({{watermark.rotation}}deg);	-o-transform: rotate({{watermark.rotation}}deg);transform: rotate({{watermark.rotation}}deg);',:'ng-if'=>'watermark.watermark_image.previewUrl && watermark.display_type=="stretched"'}
      .img{:'style'=>'width: 100%; height: 100%;background-image: url({{watermark.watermark_image.previewUrl}});background-repeat: no-repeat;background-position: center;background-size: {{watermark.stretched_size}}% {{watermark.stretched_size}}%;'}

    .preview.positioned-display{:'style'=>'display: inline-block;width: 100%;overflow:hidden; height:100%; position: absolute; top: 0; left: 0; display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: white; opacity:{{watermark.opacity}};',:'ng-if'=>'watermark.watermark_image.previewUrl && watermark.display_type=="positioned"'}
      %img{:'ng-src'=>'{{watermark.watermark_image.previewUrl}}', style:'width: {{watermark.positioned_size}}%;-webkit-transform: rotate({{watermark.rotation}}deg);	-moz-transform: rotate({{watermark.rotation}}deg);	-ms-transform: rotate({{watermark.rotation}}deg);	-o-transform: rotate({{watermark.rotation}}deg);transform: rotate({{watermark.rotation}}deg);{{watermark.position=="top left" ? "position: relative;float: left;" : (watermark.position=="top center" ? "position: relative;" : (watermark.position=="top right" ? "position: relative;float: right;" : (watermark.position=="center left" ? "position: relative;top:50%;float:left;" : (watermark.position=="center center" ? "position: relative;top:50%;" : (watermark.position=="center right" ? "position: relative;top:50%;float:right;" : (watermark.position=="bottom left" ? "position: absolute;left:0;bottom:0;" : (watermark.position=="bottom center" ? "position: absolute;left:"+(50-(watermark.positioned_size/2))+"%;bottom:0;" : "position: absolute;right:0;bottom:0;")))))))}}', :'ng-init'=>'update_positioned_styles()', :'disable-animate'=> 'true'}

.rotate{style: 'text-align:center;font-size:25px'}
  %a{href: "javascript:void(0);", :'ng-click'=>'rotateLeft()', title: 'rotate watermark left', :'ng-disabled'=>'!!!watermark.watermark_image'}
    %span.fa.fa-rotate-left
      &nbsp;

  %a{href: "javascript:void(0);", :'ng-click'=>'rotateRight()', title: 'rotate watermark right', :'ng-disabled'=>'!!!watermark.watermark_image '}
    %span.fa.fa-rotate-right
      &nbsp;
%hr

.row.watermark-settings
  .col-md-5
    .form-group
      %label{:for => "watermarkName"}= t '.watermark_name'
      %input#watermarkName.form-control{:type => "text", :'ng-model'=>'watermark.name', required: true, :'unique-name'=>true, :'object'=>'watermark', name: 'watermark_name', :'ng-model-options'=>"{ updateOn: 'blur' }"}/

      %span.help-block.error{"ng-show" => "watermark_form.watermark_name.$dirty && watermark_form.watermark_name.$error.required"}
        = t '.name_field_required'
      %span.help-block.error{"ng-show" => "watermark_form.watermark_name.$error.uniqueName"}
        = t '.name_field_duplicate'

    .form-group
      %a.btn.btn-default{href: "javascript:void(0)", :'ng-click'=>'changeDefaultBackground()', style:'z-index: 999999999;position: absolute;'}
        = t '.change_background_sample'
        {{containerWidth}}

      %br
      %br
      %button.btn.btn-default.btn-file.ng-binding{:'ng-disabled'=>'!!!watermark.user_id && !!watermark.id', :'ng-click'=>'chooseWatermarkImage()', type: :button}
        = t '.choose_watermark_image'

  .col-md-7
    .row
      .col-md-3
        .checkbox.radio
          %label
            %input{:type => "radio", checked: :true, name: :watermark_type, value: :positioned, :'ng-model'=>'watermark.display_type', required: true}/
            = t '.position_size'

      .col-md-9
        %table.watermark-position
          %tr
            %td
              %input{:type => "radio", checked: :true, name: :position, value: :'top left', :'ng-model'=>'watermark.position', :'ng-disabled'=>'watermark.display_type!="positioned"'}/
            %td
              %input{:type => "radio", checked: :true, name: :position, value: :'top center', :'ng-model'=>'watermark.position', :'ng-disabled'=>'watermark.display_type!="positioned"'}/
            %td
              %input{:type => "radio", checked: :true, name: :position, value: :'top right', :'ng-model'=>'watermark.position', :'ng-disabled'=>'watermark.display_type!="positioned"'}/
          %tr
            %td
              %input{:type => "radio", checked: :true, name: :position, value: :'center left', :'ng-model'=>'watermark.position', :'ng-disabled'=>'watermark.display_type!="positioned"'}/
            %td
              %input{:type => "radio", checked: :true, name: :position, value: :'center center', :'ng-model'=>'watermark.position', :'ng-disabled'=>'watermark.display_type!="positioned"'}/
            %td
              %input{:type => "radio", checked: :true, name: :position, value: :'center right', :'ng-model'=>'watermark.position', :'ng-disabled'=>'watermark.display_type!="positioned"'}/
          %tr
            %td
              %input{:type => "radio", checked: :true, name: :position, value: :'bottom left', :'ng-model'=>'watermark.position', :'ng-disabled'=>'watermark.display_type!="positioned"'}/
            %td
              %input{:type => "radio", checked: :true, name: :position, value: :'bottom center', :'ng-model'=>'watermark.position', :'ng-disabled'=>'watermark.display_type!="positioned"'}/
            %td
              %input{:type => "radio", checked: :true, name: :position, value: :'bottom right', :'ng-model'=>'watermark.position', :'ng-disabled'=>'watermark.display_type!="positioned"'}/

    .row
      .col-md-3
        .col-md-9{:style => "\npadding-left: 0px;\n"}
          .labels{:style => "float: left;width: 100%;"}
            %small{:style => "\nfloat: left;\n"} 1%
          %small
          %small{:style => "\nfloat: right;\n"} 100%
        %br/
        %input.ng-pristine.ng-valid.ng-untouched{:max => "100", :min => "1", "ng-model" => "watermark.positioned_size", :step => "1", :style => "width: 100%;float: left;margin: 0px;", :type => "range", :'ng-disabled'=>'!(watermark.display_type=="positioned")'}/

    .row
      %br
    .row
      .col-md-3
        .checkbox.radio
          %label
            %input{:type => "radio", checked: :true, name: :watermark_type, value: :tiled, :'ng-model'=>'watermark.display_type', required: true}/
            = t '.tile'

      .col-md-9{:style => "\npadding-left: 0px;\n"}
        .labels{:style => "float: left;width: 100%;"}
          %small{:style => "\nfloat: left;\n"}= t '.smaller'
          %small
          %small{:style => "\nfloat: right;\n"}= t '.larger'
        %br/
        %input.ng-pristine.ng-valid.ng-untouched{:max => "1500", :min => "{{watermark.base_image_width/3}}", "ng-model" => "watermark.tiled_size", :step => "1", :style => "width: 100%;float: left;margin: 0px;", :type => "range", :'ng-disabled'=>'!(watermark.display_type=="tiled")'}/

    .row
      .col-md-3
        .checkbox.radio
          %label
            %input{:type => "radio", name: :watermark_type, value: :stretched, :'ng-model'=>'watermark.display_type', required: true}/
            = t '.stretch_to'

      .col-md-9{:style => "\npadding-left: 0px;\n"}
        .labels{:style => "float: left;width: 100%;"}
          %small{:style => "\nfloat: left;\n"} 0%
          %small
          %small{:style => "\nfloat: right;\n"} 100%
        %br/
        %input.ng-pristine.ng-valid.ng-untouched{:max => "100", :min => "10", "ng-model" => "watermark.stretched_size", :step => "1", :style => "width: 100%;float: left;margin: 0px;", :type => "range", :'ng-disabled'=>'!(watermark.display_type=="stretched")'}/

    .row
      .col-md-3
        = t '.opacity'
      .col-md-9{:style => "\npadding-left: 0px;\n"}
        .labels{:style => "float: left;width: 100%;"}
          %small{:style => "\nfloat: left;\n"} 10%
          %small
          %small{:style => "\nfloat: right;\n"} 100%
        %br/
        %input.ng-pristine.ng-valid.ng-untouched{:max => "1", :min => "0.1", "ng-model" => "watermark.opacity", :step => "0.1", :style => "width: 100%;float: left;margin: 0px;", :type => "range", required: true}/
