.modal-header
  %h3.modal-title= t '.my_images'
.modal-body
  .row
    .col-md-3.img-list{:'ng-repeat'=>'img in images'}
      %a.thumbnail{:'ng-click'=>'select(img)', href: 'javascript:void(0);'}
        %img{:'ng-src'=>'{{img.image_url}}', style: 'width: 100%;'}
      %a.btn.btn-sm.btn-danger.delete-img{:'ng-click'=>'delete(img)', style: 'position: absolute;', :'ng-if'=>'!!img.user_id'}= t '.delete'

.modal-footer
  %button.btn.btn-warning{"ng-click" => "cancel()"}= t '.cancel'

