%form{name: 'watermark_form'}
  .modal-header
    %h3.modal-title= t '.add_new'
  .modal-body
    = render partial: 'photographer/preferences/watermarks/form'
  .modal-footer
    %button.btn.btn-primary{"ng-click" => "ok('create')", :'ng-disabled'=>'watermark_form.$invalid || !!!watermark.watermark_image || watermark_form.watermark_name.$error.submittable=="no"'}
      = t '.save'
    %button.btn.btn-warning{"ng-click" => "cancel()"}
      = t '.cancel'

