.modal-header
  %h3.modal-title= t '.choose_watermark'
.modal-body
  .row
    .col-md-6
      %a.btn.btn-default.btn-file{:'ng-click'=>'chooseFromImages()'}
        %span.fa.fa-folder
        = t '.my_images'

    .col-md-6
      %span.btn.btn-default.btn-file
        %span.fa.fa-desktop
        = t '.my_computer'
        %input.browse-photos.upload{:name => "watermark_image", :type => "file"}/
.modal-footer
  %button.btn.btn-warning{"ng-click" => "cancel()"}
    = t '.cancel'

