%div.col-md-4#controls
  %tabset.tab-container{:justified => "{{justified}}", :type => "{{type}}", :vertical => "{{vertical}}"}
    %tab.tab{:active => "tab.active", :disable => "tab.disabled", :heading => "{{tab.heading}}", "ng-click" => "go(tab)", "ng-repeat" => "tab in tabs"}
      .well
        .tab-pane{:'ng-if'=>'tab.route=="my_photos"', :'ng-controller'=>'MyPHotosCtrl'}
          .row
            %button.btn.btn-default{:'ng-click'=>'selectAll()'}
              Select All

            %button.btn.btn-default{:'ng-click'=>'clearSelection()'}
              Clear Selections
          .row
            .checkbox
              %label
                %input{:'ng-model'=>'downloadToPc', type: 'checkbox'}
                Your computer

          .row
            .checkbox
              %label
                / .no-fb-token{style: 'position:absolute;width:90%;height:100%;', :'ng-if'=>'!hasFbToken'}
                /   %button.btn.btn-sm{:'ng-click'=>'getFbToken()'} Login with facebook
                
                %input{:'ng-model'=>'uploadToFb', type: 'checkbox'}
                Facebook

                .radio.controls.form-inline{:'ng-class'=>"{'disabled-text': !!!uploadToFb}"}
                  %table
                    %tr
                      %td
                        %label
                          %input{:'ng-model'=>'fbUploadType', name: 'fb_upload_type', type: 'radio', value: 'album', :'ng-disabled'=>"!!!uploadToFb"}
                          Add to Album
                      %td{:'ng-class'=>"{'disabled-text': fbUploadType!='album'}"}
                        %select.form-control{:'ng-model'=>'fbAlbumId', style: 'width:100%;', :'ng-disabled'=>"!!!uploadToFb||fbUploadType!='album'"}
                          %option{value: ''} Select Album
                          %option{:'ng-repeat'=>'album in albums', value: '{{album.raw_attributes.id}}'} {{album.raw_attributes.name}} 

                    %tr
                      %td
                        %label
                          %input{:'ng-model'=>'fbUploadType', name: 'fb_upload_type', type: 'radio', value: 'new_album', :'ng-disabled'=>"!!!uploadToFb"}
                          Create new Album
                      %td{:'ng-class'=>"{'disabled-text': fbUploadType!='new_album'}"}
                        %input.form-control{type: 'text', :'ng-model'=>'fbNewAlbum', :'ng-disabled'=>"!!!uploadToFb||fbUploadType!='new_album'"}
          .row
            %button.btn.btn-success{:'ng-click'=>'upload()', :'ng-disabled'=>'!(valid() && selectedPhotos.length > 0)'} Upload Now
