#controls{:'ng-cloak'=>true}
  %ul#photosTab.nav.nav-tabs{:role => "tablist"}
    %li.active.upload_download{:role => "presentation"}
      %a#upload_my_photos{:"aria-controls" => "photos", :href => '#my_photos', :role => "tab", "data-toggle" => "tab", :'ng-click'=>'active_tab="upload_download"'}
        My Photos
    %li.settings{:role => "presentation"}
      %a#settings_tab{:"aria-controls" => "purchase_history", :'ui-sref'=>'purchase_history'}
        Purchase History
    -#
      %li.settings{:role => "presentation"}
        %a#settings_tab{:"aria-controls" => "settings", :'ui-sref'=>'settings'}
          Settings

  #my_photos.tab-pane.fade.in.active{:"aria-labelledby" => "upload-download-tab", :role => "tabpanel"}
    %h3 Share My Photos

    -#
      %button.btn.btn-default{:'ng-click'=>'selectAll()', :'ng-disabled'=>'photos.length<=0'}
        Select All

      %button.btn.btn-default{:'ng-click'=>'clearSelection()', :'ng-disabled'=>'photos.length<=0'}

        Clear Selections

    .checkbox.share-as-zip
      %input{:'ng-model'=>'downloadToPc', id: 'download_to_pc', type: 'checkbox'}
      %label{for: 'download_to_pc'}
        Share selected as a Zip archive

    .checkbox.share-with-facebook
      %input{:'ng-model'=>'uploadToFb', id: 'upload_to_fb', type: 'checkbox'}
      %label{for: 'upload_to_fb'}
        Share selected with facebook

    / {{{ Share with Facebook
    .share-with-facebook-container{'ng-if' => '!!uploadToFb'}
      %div.add-to-album
        .radio
          %input{:'ng-model'=>'fbUploadType', id: 'fb_upload_type', name: 'fb_upload_type', type: 'radio', value: 'album', :'ng-disabled'=>"!uploadToFb"}
          %label{for: 'fb_upload_type'}
            Add to Album

        %select.remove-empty-option{:'ng-model'=>'fbAlbumId', 'select-plugin' => true, :'ng-disabled'=>"!uploadToFb||fbUploadType!='album'"}
          %option{:'ng-repeat'=>'album in albums', value: '{{album.raw_attributes.id}}', :'ng-selected'=> "fbAlbumId==album.raw_attributes.id"} {{album.raw_attributes.name}} 

        .radio
          %input{:'ng-model'=>'fbUploadType', name: 'fb_upload_type', type: 'radio', id: 'fb_upload_type_new_album', value: 'new_album', :'ng-disabled'=>"!uploadToFb"}
          %label{for: 'fb_upload_type_new_album'}
            Create new Album

        %input{type: 'text', :'ng-model'=>'fbNewAlbum', :'ng-disabled'=>"!uploadToFb||fbUploadType!='new_album'"}

      %label.fb-privacy
        Facebook Privacy

      %select{type: :text, 'select-plugin' => true, :'ng-model'=>'fb_privacy', :'ng-init'=>'fb_privacy="SELF"', :'ng-disabled'=>'!uploadToFb'}
        %option{value: 'SELF'} Only Me
        %option{value: 'ALL_FRIENDS'} Friends
        %option{value: 'FRIENDS_OF_FRIENDS'} Friends and Aquintances
        %option{value: 'EVERYONE'} Public

    / Share with facebook }}}

    .checkbox.share-with-dropbox
      %input{:'ng-model'=>'uploadToDropbox', id: 'upload_to_dropbox', type: 'checkbox'}
      %label{for: 'upload_to_dropbox'}
        Share selected photos with Dropbox

    / {{{ Share with Dropbox
    .share-with-dropbox-container{'ng-if' => '!!uploadToDropbox'}
      .radio
        %input{:'ng-model'=>'dropboxUploadType', id: 'dropbox_upload_type_folder', name: 'dropbox_upload_type', type: 'radio', value: 'folder', :'ng-disabled'=>"!uploadToDropbox"}
        %label{for: 'dropbox_upload_type_folder'}
          Add to Folder
      %select{:'ng-model'=>'dropbox_folder', 'select-plugin' => true, :'ng-disabled'=>"!uploadToDropbox||dropboxUploadType!='folder'"}
        %option{value: ''} Select Folder
        %option{:'ng-repeat'=>'folder in dropbox_folders', value: '{{folder.path}}'} {{folder.name}}

      .radio
        %input{:'ng-model'=>'dropboxUploadType', id: 'dropbox_upload_type_new_folder', name: 'dropbox_upload_type', type: 'radio', value: 'new_folder', :'ng-disabled'=>"!uploadToDropbox"}
        %label{for: 'dropbox_upload_type_new_folder'}
          Create new Folder
      %input{type: 'text', :'ng-model'=>'new_dropbox_folder', :'ng-disabled'=>"!uploadToDropbox||dropboxUploadType!='new_folder'"}


    / Share with Dropbox }}}

    %button.btn-with-arrow.btn-text-left.btn-block.btn-focofox.btn.btn-primary{:'ng-click'=>'upload()',
      :'ng-disabled'=>'!(valid())'} Share Now

%div{'ng-include' => '"ng-modules/my-focofox/views/photos_in_purchase_list.html"'}

