#photos
  #results{:'ng-cloak'=>true}
    #photos-control{:'ng-hide'=>'photos.length <=0'}
      %bgf-pagination.pull-right{:collection => "photos",
        :'auto-presets'=>'false',
        :'per-page-presets'=>'perPagePresets',
        :'client-limit'=>'num_items',
        "link-group-size" => "2",
        :page => "page",
        "per-page" => "perPage",
        "template-url" => "paginate-anything-tpl.html",
        :url => "photos_url",
        headers: "filterq",
        :'link-group-size'=>'0'}

      .form-group.photos-controls-top-bar
        .form-inline
          %label.control-label.main-label
            Purchase History

          %label.control-label
            Size:
            %input.ng-pristine.ng-valid.form-control{:min => "90", :max => "200", "ng-model" => "thumbnail_size", :step => "1", :style => "margin:0 auto;cursor: -webkit-grab;padding:1px;", :type => "range", :'ng-disabled'=>'photos.length <= 0'}/

          %label.control-label
            Sort By:
            %select{:'ng-model'=>'sort_by', 'select-plugin' => true}
              %option{value: :date_time} Date
              %option{value: :photographer_name} Photographer
              %option{value: :location_name} Location


    #photos-list.my-photos
      .no-results{:'ng-show'=>'photos.length <= 0&&page_loaded'}
        %p{:'ng-cloak'=>true} You have no photos purchased.

      .thumbnails{:'disable-animate'=>true, :'data-page'=>'purchase_history'}
        .thumbnail.my_photos{:'ng-repeat'=>'photo in photos',
          :'data-id'=>"{{photo.id}}",
          :'data-content-type'=>'{{photo.attachment_content_type}}',
          :'ng-class'=>"{'on-cart': is_inCart(photo)}",
          :'data-index'=>"{{$index}}"}

          %div
            %img{:'ng-if'=>'!!photo.video_thumbnails', src: '/videoPlayButton.png'}

            .thumb-con{'style' => 'width: {{thumbnail_size}}px; height: {{thumbnail_size}}px; background-image: url("{{!!photo.video_thumbnails ? photo.video_thumbnails[0] : photo.attachment_url}}")', class: 'img-{{$index}}'}

            .user-options
              -# 
                %a.price.action-btn
                  %i.fa.fa-dollar
                  {{photo.price}}

              %a.photo-zoom{"ng-click" => "preview(photo, photos)", :title => "preview"}

              %a.photo-download

