#controls{:'ng-cloak'=>true}
  .sidebar-nav{role: 'tabpanel', 'ng-init' => 'purchase_list = false'}
    %ul#photosTab.nav.nav-tabs{:role => "tablist"}
      %li.upload_download{:role => "presentation"}
        %a#upload_download_tab{:"aria-controls" => "photos", :'ui-sref'=>'my_photos'} My Photos
      %li.active.purchase-history{:role => "presentation"}
        %a#purchase_history_tab{:"aria-controls" => "purchase_history", :'ui-sref' => 'purchase_history'}
          Purchase History
      -#
        %li.settings{:role => "presentation"}
          %a#settings_tab{:"aria-controls" => "settings", :'ui-sref'=>'settings'}
            Settings

    .purchase-history-controls
      %h1
        Total
        %span.pull-right
          ${{payments_total_price}}
      %button.btn-with-arrow.btn-text-left.btn-block.btn-focofox.btn.btn-primary{:'ng-click'=>'togglePurchaseList()'}
        Open Details

      %ul.invoices-list
        %li{'ng-repeat' => 'p in payments'}
          Invoice
          = surround '(', ')' do
            {{p.paid_at}}
          %span.pull-right ${{p.price}}

    #purchase_history.tab-pane.fade.in.active{:"aria-labelledby" => "purchase-history-tab",
      'ng-if' => 'purchase_list',
      :role => "tabpanel"}

      %h1 Detailed History


      %table#payments-table.table.no-border
        %tr
          %th Qty
          %th Date
          %th Price
          %th Payment Method
        -#
          %tr{:'ng-repeat'=>'p in payments track by $index',
            :'ng-class'=>'{active: p.active}',
            :'ng-click'=>'select(p)'}
        %tr{:'ng-repeat'=>'p in payments track by $index',
          :'ng-click'=>'select(p)'}
          %td {{p.photos_count}}
          %td {{p.paid_at}}
          %td
            ${{p.price}}
          %td
            %ng{:'ng-if'=>'p.credit_card.id'}
              -#
                #xptCardIcons
                  %img.marginBottom.ccLogo.V{style: 'opacity: 1;margin-top:0px;', :alt => "Visa", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/logo/logo_ccVisa.gif", :title => "Visa", :'ng-if'=>"p.credit_card.card_type=='visa'"}/
                  %img.marginBottom.ccLogo.M{style: 'opacity: 1;margin-top:0px;', :alt => "Mastercard ", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/logo/logo_ccMC.gif", :'ng-if'=>"p.credit_card.card_type=='mastercard'"}/
                  %img.marginBottom.ccLogo.A{style: 'opacity: 1;margin-top:0px;', :alt => "American Express ", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/logo/logo_ccAmex.gif", :'ng-if'=>"p.credit_card.card_type=='amex'"}/
                  %img.marginBottom.ccLogo.D{style: 'opacity: 1;margin-top:0px;', :alt => "Discover", :border => "0", :src => "https://www.paypalobjects.com/en_US/i/logo/logo_ccDiscover.gif", :title => "Discover", :'ng-if'=>"p.credit_card.card_type=='discover'"}/
                  {{p.credit_card.number}}

            %ng{:'ng-if'=>'p.paypal_account.id'}
              #xptCardIcons
                -#
                  %img.marginBottom.ccLogo.V{width: 37, height: 23, :'ng-src'=>'https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg', style: 'opacity:1;'}
                {{p.paypal_account.email}}
        %tr
          %td.text-right{'colspan' => '2'} Total
          %td{'colspan' => '2'} ${{payments_total_price}}

      %button.btn-text-left.btn-focofox.btn{:'ng-click'=>'togglePurchaseList()'}
        Close

%div{'ng-include' => '"ng-modules/my-focofox/views/photos_in_purchase_history.html"'}

