#controls{:'ng-cloak'=>true}
  .sidebar-nav{role: 'tabpanel'}
    %ul#photosTab.nav.nav-tabs{:role => "tablist"}
      %li.upload_download{:role => "presentation"}
        %a#upload_download_tab{:"aria-controls" => "photos", :'ui-sref'=>'my_photos'} My Photos
      %li.purchase-history{:role => "presentation"}
        %a#settings_tab{:"aria-controls" => "purchase_history", :'ui-sref' => 'purchase_history'}
          Purchase History
      -#
        %li.settings.active{:role => "presentation"}
          %a#settings_tab{:"aria-controls" => "settings", :href => '#settings', :role => "tab", "data-toggle" => "tab"}
            Settings
    .tab-content
      #settings.tab-pane.fade.in.active{:"aria-labelledby" => "purchase-history-tab", :role => "tabpanel"}
        .well


.col-md-8
