.control-group#location-form{style: 'overflow: hidden;'}
	.row
		.col-md-3
			%label.control-label{:for => "textinput"} Search
			.controls
				.input-group
					%input.form-control#search_field{:type => "text", style: 'margin-bottom: 0px;'}/
					.input-group-addon
						%span.fa.fa-search
	
		.col-md-5
			%label.control-label{:for => "gps"} Place(s) Location
			.controls
				.input-group
					.input-group-addon
						Latitude
					%input.form-control#gps.input-small{:placeholder => "Latitude", :type => "text", :'ng-model'=>'location.gps.latitude',name: :latitude, required: true, :'unique-gps'=>true}

					.input-group-addon
						Longitude
					%input.form-control#gps.input-small{:placeholder => "Longitude", name: :longitude, :type => "text", :'ng-model'=>'location.gps.longitude', required: true}
	
	%br
	.row
		.col-md-8
			.row
				.controls
					Drag pin to photo(s) location
					%img#draggable-marker{:'ng-src'=>'/map-marker.png', style: 'z-index:99;'}
			.row
				#map{:'ng-init'=>'initMap()'}
		.col-md-4
			.row
				%br
				%br
			.row
				%label.control-label{:for => "name"} My name for this location:
				.controls
					%input.form-control{:type => "text", :'ng-model'=>'location.name', name: :location_name, style: 'margin-bottom: 0px;', required: true, :'unique-name'=>true}/

					%span.help-block.error{"ng-show" => "location_form.location_name.$dirty && location_form.location_name.$error.required"}
						Name field is required
					%span.help-block.error{"ng-show" => "location_form.location_name.$error.uniqueName"}
						Name is duplicate

					/ %span.help-block.error{"ng-show" => "location_form.longitude.$error.required"}
					/ 	Longitude field is required
		
					%span.help-block.error{"ng-show" => "location_form.latitude.$error.uniqueGps"}
						This location is very close to the already defined location
						%b
							{{nearby_locations[0].name}}.
						%br
						%a{:'ng-click'=>'useExistingLocation(nearby_locations[0])', href: ''}Click here to use it instead.

					/ %span.help-block.error{"ng-show" => "location_form.latitude.$error.required"}
					/ 	Latitude field is required
				%br
				%label.control-label{:for => "local_names"} Local Names:
				.controls
					%input.form-control#local_names.input-small{:placeholder => "Local Names", :type => "text", :'ng-model'=>'location.local_names', style: 'width: 100%;'}
					%span.help-block.error{"ng-show" => "location_form.location_name.$error.required"}
				%i (Comma Separated more tha once)
				
				%br
				%br
				%div
					%label.control-label.inline{:for => "city"} City:
					.controls.inline
						%u
							{{location.city}}

				%div
					%label.control-label.inline{:for => "province"} St./Province:
					.controls.inline
						%u {{location.province}}

				%div
					%label.control-label.inline{:for => "country"} Country:
					.controls.inline
						%u {{location.country}}

