%form{name: 'location_form', novalidate: true, :'ng-init'=>'action="new"'}
	.modal-header
		%button.close{"data-dismiss" => "modal", :type => "button", "ng-click" => "cancel()"} &#215;
		%h3.modal-title New Location
	.modal-body
		%div{:'ng-include'=>true, src: "'ng-modules/photographer/views/preferences/locations/_form.html'"}
	.modal-footer{:'tooltip-enable'=>'location_form.$invalid||location_form.location_name.$error.submittable == "no"', :'tooltip-placement'=>'right', tooltip: "{{location_form.location_name.$error.required ? 'Please give this Location a name.' : ''}} {{location_form.location_name.$error.uniqueName ? 'You need a unique Location name.' : ''}} {{location_form.$error.uniqueGps ? 'This location was already defined.' : ''}}"}
		%button.btn.btn-primary{type: :button, "ng-click" => "ok('create')", :'ng-disabled'=>'location_form.$invalid||location_form.location_name.$error.submittable == "no"'} save
		%button.btn.btn-warning{type: :button, "ng-click" => "cancel()"} Cancel