.app{:'ng-app'=>'Admin', :'ng-sanitize'=>true, :'ng-controller'=>"MainCtrl"}

  .view{:'ui-view'=> true}

  .loading#loading{style: 'position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 10401;background: transparent;text-align:center;opacity: 0.9;display: none;'}
    %center
      %img{:'ng-src'=>'/img/loading.gif'}

- content_for :header_scripts do
  = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyDszs__EHGFricBCe3NvtSkVIX7uyFbSIQ&extension=.js&libraries=places&sensor=false'
  = stylesheet_link_tag 'admin/application.css'

- content_for :footer_scripts do
  = javascript_include_tag "ng-modules/admin/application"

