#my-cart{'ng-if' => 'active_tab == "cart"'}
  %h1
    = t '.shopping_cart'
    = surround '(', ')' do
      currently {{cart.length}}
    photos

  %table
    %tr
      %th= t '.quantity'
      %th= t '.photographer'
      %th= t '.discount'
      %th= t '.price'
      %th
    %tr{:'ng-repeat'=>'(photographer, items) in cartItemByPhotographer', :class => 'item' }
      %td {{items.length}}
      %td {{items[0].photographer_name}}
      %td {{calculateDiscountPerPhotographer(items)}}
      %td
        $ {{calculatePricePerPhotographer(items)}}
        %a.delete.pull-right{:'ng-click'=>'deletePhotographerItems(photographer)', href: true} Delete
      %td

    %tr.total
      %td
      %td= t '.total'
      %td

        = precede '$' do
          {{calculateTotal()}}
    %tr
      %td{colspan: 4}
        %button.btn.btn-focofox.btn-lg.pull-left{:'ng-click'=>'checkoutNow()', :'ng-if'=>'cart.length>0'}= t '.checkout_now'
        %button.pull-right.btn.btn-focofox.btn-lg.pull-right{:'ng-click'=>'clearCart()', :'ng-show'=>'cart.length>0'}= t '.clear_cart'


