#results.cart{:'ng-cloak'=>true, :'ng-show'=>'active_tab=="cart"',  :'disable-animate'=>true}
  .row
    .col-md-5
      .col-md-2{style: 'padding:0px;'}
        %label.control-label{style: 'line-height:32px;'}
          = t '.size'

      .col-md-10{style: 'padding:0px;'}
        .input-group
          %input.ng-pristine.ng-valid.form-control{:min => "90",
            :max => "200",
            "ng-model" => "thumbnail_size",
            :step => "1",
            :style => "margin:0 auto;cursor: -webkit-grab;padding:1px;",
            :type => "range",
            :'ng-disabled'=>'cart.length <= 0'}/

  %center.no-results{:'ng-show'=>'cart.length <= 0 && active_tab=="cart"'}
    %p.badge= t '.cart_is_empty'

  %div.photo-thumbnail-container{:"ng-repeat" => "photo in cart"}
    .thumbnail{:'data-index'=>'{{$index}}', :'data-content-type'=>'{{photo.attachment_content_type}}', :'ng-class'=>"{'on-cart': is_inCart(photo)}"}
      %img{:'ng-if'=>'!!photo.video_thumbnails.length', src: '/videoPlayButton.png', "ng-click" => "preview(photo)"}

      .thumb-con{'style' => "width: {{thumbnail_size}}px; height: {{thumbnail_size}}px; background-image: url(\"{{photo.thumb_base64||photo.attachment_url||video_thumbnails[0]}}\");",
        class: 'img-{{$index}}'}

      .user-options
        -#
          %a.action-btn.pull-left{"ng-click" => "preview(photo, cart)", :title => "preview"}
            %i.fa.fa-search-plus &#160;

          %a.price.action-btn
            %i.fa.fa-dollar
            {{photo.price}}
          %a.action-btn.pull-right{"ng-click" => "add2cart(photo)", :title => "Remove from cart"}
            %i.fa.fa-cart-arrow-down{:'ng-show'=>'is_inCart(photo)'} &nbsp;
            %i.fa.fa-cart-plus{:'ng-show'=>'!is_inCart(photo)'} &nbsp;
            %i.fa.fa-remove{style: 'display: none;', :'ng-if'=>'is_inCart(photo)'} &nbsp;

        %a.photo-zoom{"ng-mouseover"=>'preload(photo)',
          "ng-click" => "preview(photo)", :title => "preview"}

        %a.photo-buy{"ng-click" => "add2cart(photo)",
          'ng-class' => '{in_cart: is_inCart(photo)}',
          :title => "{{is_inCart(photo) ? '#{t('.remove_from_cart')}' : '#{t('.add_to_cart')}'}}"}

