/ Date Filter
.search-date-filter.row{:'ng-if'=>'open_date_filter_form'}

  %form{:'ng-submit'=>'addDateTimeFilter(_filter.datetime_filter_from, _filter.datetime_filter_to)'}
    %div{'ng-switch' => true, 'on' => 'active_date_picker_style'}
      .input-group{'ng-switch-when' => 'simple'}
        .input-group-addon
          = t '.from'
          %input.datetime.form-control{"ng-model" => "_filter.datetime_filter_from", :type => "text", :'ng-change'=>'testDateTimeFilter(_filter.datetime_filter_from, _filter.datetime_filter_to)', readonly: :readonly}/

        .input-group-addon
          = t '.to'
          %input.datetime.form-control{"ng-model" => "_filter.datetime_filter_to", :type => "text", :'ng-change'=>'testDateTimeFilter(_filter.datetime_filter_from, _filter.datetime_filter_to)', readonly: :readonly}/

      %div{'ng-switch-when' => 'fancy'}
        %input{"ng-model" => "_filter.datetime_filter_from",
          :type => "text",
          'date-time-plugin' => true,
          'class' => 'date-time-from',
          :'ng-change'=>'testDateTimeFilter(_filter.datetime_filter_from, _filter.datetime_filter_to)'}/

        %input{"ng-model" => "_filter.datetime_filter_to",
        :type => "text",
        'class' => 'date-time-to',
        :'ng-change'=>'testDateTimeFilter(_filter.datetime_filter_from, _filter.datetime_filter_to)'}/

        %ul.date-time-filter
          %li
            %ul.date
              %li.year
                %span.btn-up year
                %span.value 2000
                %span.btn-down year

              %li.month
                %span.btn-up month
                %span.value Jan
                %span.btn-down month

              %li.day
                %span.btn-up day
                %span.value 30
                %span.btn-down day

          %li
            %ul.time
              %li.hour
                %span.btn-up HH
                %span.value 12
                %span.btn-down HH

              %li.minute
                %span.btn-up MM
                %span.value 00
                %span.btn-down MM

              %li.clock
                %span.btn-up clock
                %span.value AM
                %span.btn-down clock

          %li
            %ul.duration
              %li
                %span.btn-up duration
                %span.value +6 h
                %span.btn-down duration

    %center.disabled-text{:'ng-if'=>'valid_datetime_filter=="no"'}
      = t '.no_photos'
      .ng{:'ng-if'=>'filter.places.length == 1'}
        = t '.in'
        %b{:'ng-repeat'=>'p in filter.places'}
          {{p.name}}
      .ng{:'ng-if'=>'filter.places.length > 1'}
        = t '.within'
        %span= t '.filter_set'
      = t '.this_date_range'

    .actions-left.pull-left{'ng-init' => 'active_date_picker_style="fancy"'}
      %button.btn.btn-focofox{type: :button, "ng-click" => "cancelDateTimeFilterForm()"}
        = t '.cancel'

      %button.btn.btn-link{type: :button,
        "ng-click" => "active_date_picker_style = (active_date_picker_style == 'fancy') ? 'simple' : 'fancy'",
        'ng-switch' => true, 'on' => 'active_date_picker_style'}
        %span{'ng-switch-when' => 'fancy'}
          Simple Picker

        %span{'ng-switch-when' => 'simple'}
          Fancy Picker

    .actions-right.pull-right
      %button.btn.btn-focofox.btn-primary.btn-with-arrow{type: :submit, 'ng-disabled' => 'valid_datetime_filter != "yes"'} Add
