= render 'date_filter'

/ Photographer Filter
.search-photographer-filter{:'ng-if'=>'open_photographer_filter_form'}
  %form{:'ng-submit'=>'addPhotographersFilter()'}
    %h1 Please Enter Name

    %ui-select.select2#photographer-select{"ng-model" => "photographers_filter.selected", "reset-search-input" => "false", :theme => "bootstrap"}
      %ui-select-match{:placeholder => 'Type name of the photographer'} {{$select.selected.name}}
      %ui-select-choices{:refresh => "photographerSearch($select.search)", "refresh-delay" => "0", :repeat => "p in photographers track by $index"}
        %div{"ng-bind-html" => "p.name | highlight: $select.search"}

    .actions-left.pull-left
      %button.btn.btn-focofox{type: :button, "ng-click" => "cancelPhotographerFilterForm()"}
        = t '.cancel'

    .actions-right.pull-right
      %button.btn.btn-focofox.btn-primary.btn-with-arrow{type: :submit} Add

