#results{:'ng-cloak'=>true, :'ng-hide'=>'active_tab=="cart"', :'disable-animate'=>true}
  / .row.form-inline#photos-control{:'ng-hide'=>'result.photos.length <= 0'}
  .row.form-inline#photos-control
    %bgf-pagination.pull-right{:'ng-if'=>'page_ready',
      :collection => "result",
      :'auto-presets'=>'false',
      :'per-page-presets'=>'perPagePresets',
      :'client-limit'=>'num_items',
      "link-group-size" => "2",
      :page => "page",
      "per-page" => "perPage",
      "template-url" => "paginate-anything-tpl.html",
      :url => "photos_url",
      headers: "filterq", }

    .form-group.pull-right.sort-photos-form
      .form-inline
        %label.sort-label.control-label
          = t '.sort_by'

          %select.select2{:'ng-model'=>'sort_by', 'select-plugin' => true}
            %option{value: :date_time}= t '.date'
            %option{value: :'locations.name'}= t '.location'
            %option{value: :'users.name'}= t '.photographer'

        %label.control-label.size-label
          = t '.size'

          .input-group
            %input.ng-pristine.ng-valid.form-control{:min => "90",
              :max => "200",
              "ng-model" => "thumbnail_size",
              :step => "1",
              :type => "range",
              :'ng-disabled'=>'result.photos.length <= 0'}

    .pull-left.narrow-results
      %h1
        Narrow Results
        = surround '(', ')' do
          currently
          %span{'ng-if' => 'is_photos_loaded'} {{result.length || 0}}
          %span{'ng-if' => '! is_photos_loaded'} 0

        %a{ :href => "", :class => 'refresh-button', 'ng-click' => 'refresh()' } asd

  #photos-list
    .no-results{:'ng-hide'=>'result.photos.length > 0', :'ng-cloak'=>true}
      %h4.text-center{:'ng-if'=>'is_photos_loaded'}
        :plain
          {{filter.date_times.length > 0
              || filter.places.length > 0
              || filter.photographers.length > 0
                ? 'No photos/videos match the filter'
                : ' - No photos/videos uploaded - '}}

      %h4.text-center{:'ng-if'=>'!is_photos_loaded'}
        {{dots}}

    %div.photo-thumbnail-container{:"ng-repeat" => "photo in result.photos" }
      .thumbnail{ :'data-index'=>'{{$index}}',
        :'data-content-type'=>'{{photo.attachment_content_type}}',
        :'ng-class'=>"{'on-cart': is_inCart(photo)}"}
        {{phot.video_thumbnails}}

        %img{:'ng-if'=>'!!photo.video_thumbnails.length', src: '/videoPlayButton.png', "ng-click" => "preview(photo)"}

        .thumb-con{'style' => "width: {{thumbnail_size}}px; height: {{thumbnail_size}}px; background-image: url(\"{{photo.thumb_base64||photo.attachment_url||video_thumbnails[0]}}\");",
          class: 'img-{{$index}}'}

        .user-options
          %a.photo-zoom{"ng-mouseover"=>'preload(photo)',
            "ng-click" => "preview(photo)", :title => "preview"}

          %a.photo-buy{"ng-click" => "add2cart(photo)",'ng-class' => '{in_cart: is_inCart(photo)}', :title => "{{is_inCart(photo) ? '#{t('.remove_from_cart')}' : '#{t('.add_to_cart')}'}}", :'ng-if'=>'!photo.is_paid'}

