.sidebar-nav{role: 'tabpanel'}
  %ul#photosTab
    %li.filter{:"ng-class" => '{active: active_tab=="filter"}'}
      %a#filter{:href => '#my-filter',
        :'ng-click'=>'pickActiveTab("filter")'}= t '.find_photos'

    %li.cart{:"ng-class" => '{active: active_tab=="cart"}'}
      %a#cart{ :href => '#my-cart',
        :'ng-click'=>'pickActiveTab("cart")' }
        = t '.shopping_cart'
        %sup{:'ng-hide'=>'active_tab=="cart"'}
          -#
            = surround '(', ')' do
              {{cart.length}}

#my-filter.fade.in
  -#
    .row{:'ng-if'=>'filter.places.length<=0 && filter.photographers.length<=0 && filter.date_times.length<=0&&filter.media_type==null'}
      %center.disabled-text
        = t '.no_filter'
  / Trash }}}

  %h1 Filter

  %ul.filters-list
    / {{{ Date
    %li.date{'ng-class' => '{active: active_filter == "date"}',
      'ng-click' => 'pickDateFilter({modal: false})' }
      %a{href: 'javascript:void(0);'}
        %span
          Date

        %span.pull-right.filter-button{'class' => 'ui-select-match-item btn btn-default btn-xs',
          :'ng-if'=>'filter.date_times.length == 0' }
          %span
            Not Set

        %span.filter-button{:'ng-repeat'=>'datetime in filter.date_times',
          'class' => 'ui-select-match-item btn btn-default btn-xs',
          :'ng-if'=>'datetime.from && datetime.to',
          "ng-dblclick" => "removeDateTimeFilter($index)"}
          %span.close.ui-select-match-close.pull-left{"ng-click" => "removeDateTimeFilter($index, $event)"}  ×
          %span
            From: {{datetime.from}}

        %span.filter-button{:'ng-repeat'=>'datetime in filter.date_times',
          "class" => 'ui-select-match-item btn btn-default btn-xs',
          :'ng-if'=>'datetime.from && datetime.to',
          "ng-dblclick" => "removeDateTimeFilter($index)"}
          %span.close.ui-select-match-close.pull-left{"ng-click" => "removeDateTimeFilter($index, $event)"}  ×
          %span
            To: {{datetime.to}}
    / }}} Date
    / {{{ Location
    %li.location{'ng-class' => '{active: active_filter == "location"}',
      'ng-click' => 'showMap()' }
      %a{href: 'javascript:void(0);'}
        %span
          Location

        %span.pull-right.filter-button{'class' => 'ui-select-match-item btn btn-default btn-xs',
          :'ng-if'=>'filter.places.length == 0' }
          %span
            Not Set

        %span.filter-button{:'ng-repeat'=>'place in filter.places',
          'class' => 'ui-select-match-item btn btn-default btn-xs',
          :'ng-if'=>'place.name',
          "ng-dblclick" => "removeLocationFilter($index)"}
          %span.close.ui-select-match-close.pull-left{"ng-click" => "removeLocationFilter($index, $event)"}  ×
          %span
            {{place.name}}
      / Location }}}
    / {{{ Photographer
    %li.photographer{'ng-class' => '{active: active_filter == "photographer"}',
      'ng-click' => 'pickPhotographerFilter()' }
      %a{href: 'javascript:void(0);'}
        %span
          Photographer

        %span.pull-right.filter-button{'class' => 'ui-select-match-item btn btn-default btn-xs',
          :'ng-if'=>'filter.photographers.length == 0' }
          %span
            Not Set

        %span.filter-button{:'ng-repeat'=>'photographer in filter.photographers',
          'class' => 'ui-select-match-item btn btn-default btn-xs',
          :'ng-if'=>'photographer.name',
          "ng-dblclick" => "removePhotographerFilter($index)"}
          %span.close.ui-select-match-close.pull-left{"ng-click" => "removePhotographerFilter($index)"}  ×
          %span
            {{photographer.name}}
    / }}} Photographer

  .row
    / {{{ Trash
    -# 
      %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{"ng-dblclick" => "removeMediaTypeFilter()", :'ng-if'=>'filter.media_type!=null'}
        %span.close.ui-select-match-close.pull-left{"ng-click" => "removeMediaTypeFilter()"}  ×
        %span
          {{filter.media_type=='' ?
          = "'#{t '.media_type'}'"
          \: (filter.media_type+' only')}}
    / Trash }}}

  .media-type-filter-container{'ng-init' => 'media_type = ""'}
    %label{:for => 'media_type_filter_all' }
      %input{ :id => 'media_type_filter_all',
        :value => '',
        :type => "radio",
        :'ng-model' => 'media_type' }/
      All Types

    %label{:for => 'media_type_filter_photos' }
      %input{ :id => 'media_type_filter_photos',
      :value => 'photos',
      :type => "radio",
      :'ng-model' => 'media_type' }/
      = t '.photos_only'

    %label{:for => 'media_type_filter_videos' }
      %input{ :id => 'media_type_filter_videos',
      :value => 'videos',
      :type => "radio",
      :'ng-model' => 'media_type' }/
      = t '.videos_only'

    -#
      %select.select2.media-type-filter{ :'ng-model'=>'media_type' }
        %option{value: ''} {{media_type=='' ? 'All Types' : 'All Types'}}
        %option{value: 'photos'}= t '.photos_only'
        %option{value: 'videos'}= t '.videos_only'
