.dashboard-container.find-photos#user-app{ :'ng-app'=>'userFindPHotosApp', :'ng-controller'=>'mainController' }

  %ng{:'ng-init'=>"default_datetime_filter_from='#{Photo.last.try(:formatted_date_time)}';default_datetime_filter_to='#{Date.current.to_s(:classical_date_with_time)}'; default_place_filter=#{(Photo.last.try(:location)||{}).to_json()};",
  style: 'visibility: none;'}

    #controls{:'ng-cloak'=>true}
      = render 'sidebar'

    #photos{'ng-class' => '{cart: active_tab == "cart"}'}
      = render 'find_photos'
      = render 'cart'

    = render 'filters'
    = render 'cart_sidebar'

  %script{type: 'text/ng-template', id: 'paginate-anything-tpl.html'}
    = render partial: "shared/paginate-anything-tpl/index"
  %script{type: 'text/ng-template', id: 'filter_warning.html'}
    = render partial: "/photographer/preferences/filter_warning/index"

  .loading#loading{style: 'position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 10401;background: transparent;text-align:center;opacity: 0.9;display: none;'}
    %center
      %img{:'ng-src'=>'/img/loading.gif'}

  #backdrop.modal-backdrop.fade.in{"modal-animation" => "true", "modal-animation-class" => "fade", "modal-backdrop" => "modal-backdrop", "ng-class" => "{in: animate}", :style => "z-index: 1040;display:none;"}

    - content_for :header_scripts do
      = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyDszs__EHGFricBCe3NvtSkVIX7uyFbSIQ&extension=.js&libraries=places&sensor=false'

- content_for :footer_scripts do
  = javascript_include_tag "ng-modules/users-find-photos/application"
