.modal-body{style: 'padding: 0'}
  .row.text-center
    %h3 Create New Event
  .clearfix
    %br

  .row
    .col-md-2
      Location:
    .col-md-4
      %select.form-control{:'ng-options'=>'l as l.name for l in locations_list', :'ng-model'=>'event.location', placeholder: 'Pick from my locations'}
    .col-md-4
      .btn.btn-primary{:'ng-click'=>'newLocation()'} New
      &nbsp;
      .btn.btn-primary{:'ng-click'=>'editLocation(event.location)', :'ng-disabled'=>'locations.length<=0 || !!!event.location'} Edit

  %br
  .row
    .col-md-2
      Date:
    .col-md-5
      %input.date.form-control{:type => "text", :"ng-model" => "event.date"}/
  %br
  .row
    .col-md-2
      Time:
    .col-md-3
      %input.time.form-control{:type => "text", :"ng-model" => "event.time_from"}/
    .col-md-1.tex-center
      to
    .col-md-3
      %input.time.form-control{:type => "text", :"ng-model" => "event.time_to"}/
  %br
  .row
    .col-md-2
      Description:
    .col-md-10
      %textarea.form-control{:'ng-model'=>'event.description', rows: 5}

  %br
  %center
    %button.btn.btn-primary{type: :button, "ng-click" => "save()"} Register Event
    &nbsp;
    &nbsp;
    %button.btn.btn-default{type: :button, "ng-click" => "cancel()"} Cancel

  .row
  %br
