.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button", "ng-click" => "cancel()"} &#215;
  %h4
    %b View Details
  %p
    %b Date
    %span &nbsp; - &nbsp;
    %u
      {{sale.date}}
  %p
    %b Photos Location
    %span &nbsp; - &nbsp;
    %u
      {{sale.location_name}}
  %p
    %b Customer Location
    %span &nbsp; - &nbsp;
    %u{:'ng-repeat'=>'cl in sale.customer_locations'}
      {{cl}}
      {{$index>0 ? ' ,': ''}}

.modal-body{style: 'padding: 0'}
  %table.table
    %thead
      %tr
        %th Photo
        %th Price
    %tbody
      %tr{:'ng-repeat'=>'p in sale.photos'}
        %td
          %a{href: '', :'ng-click'=>'preview(p)'} {{p.photo_file_name||p.video_file_name}}
        %td {{p.price}}
      %tr
        %td.text-right
          %b Total Price
        %td ${{total_price}}
.modal-footer
