.row
	.pagination-control
		%bgf-pagination.pull-left{"client-limit" => "clientLimit", :collection => "data.events", "link-group-size" => "2", :page => "page", "per-page" => "perPage", :'auto-presets'=>'false', :'per-page-presets'=>'perPagePresets', "template-url" => "ng-modules/common/views/paginate-anything-tpl.html", :url => "events_url", :'headers'=>"filter_params", :'num-items'=>true, :'link-group-size'=>'0'}
.clearfix
	%br
	%br
	%br

.row{:'ng-hide'=>'data.events.length>0'}
	%center
		%h3 - No Events - 

.row.events-list{:'ng-show'=>'data.events.length>0'}
	%ul.nav
		%li{:'ng-repeat'=>'event in data.events'}
			%a{:'ng-click'=>'viewEvent(event)'}
				{{event.description}} - {{event.date}} - {{event.location_name}}

.row
	/ %bgf-pagination.pull-left{"client-limit" => "clientLimit", :collection => "events", "link-group-size" => "2", :page => "page", "per-page" => "perPage", :'auto-presets'=>'false', :'per-page-presets'=>'perPagePresets', "template-url" => "ng-modules/common/views/paginate-anything-tpl.html", :url => "events_url", :'headers'=>"filter_params", :'num-items'=>true, :'link-group-size'=>'0'}