#photographer_store
	.col-md-4.col-sm-12.col-xs-12#controls
		%div{:'ng-include'=>true, src: "'ng-modules/photographer/views/store/shared/_sidebar.html'"}
	.col-md-8.pull-right
		%div{:'ui-view'=>true}