.row
	.pagination-control
		%bgf-pagination.pull-left{"client-limit" => "clientLimit", :collection => "data.sales", "link-group-size" => "2", :page => "page", "per-page" => "perPage", :'auto-presets'=>'false', :'per-page-presets'=>'perPagePresets', "template-url" => "ng-modules/common/views/paginate-anything-tpl.html", :url => "sales_url", :'headers'=>"filter_params", :'num-items'=>true, :'link-group-size'=>'0'}


.clearfix
	%br
	%br
	%br

.row{:'ng-hide'=>'sales.length>0'}
	%center
		%h3 - No Sales - 

.row.sales-list{:'ng-show'=>'sales.length>0'}
	%table.table.table-hover{:border => "0", "ts-wrapper" => ""}
		%thead
			%tr
				%th{"ts-criteria" => "date", :'ng-click'=>'sort("date")'} Date
				%th{"ts-criteria" => "location_name|lowercase", "ts-default" => "", :'ng-click'=>'sort("location_name")'} Location
				%th{"ts-criteria" => "photos_count|parseFloat", :'ng-click'=>'sort("photos_count")'} Sales Made
				%th{"ts-criteria" => "total_price|parseInt", :'ng-click'=>'sort("total_price")'} Daily Total
				%th
		%tbody
			%tr{"ng-repeat" => "sale in data.sales track by $index", "ts-repeat" => "", :'class'=>"{{$index%2==0 ? 'li-bg-main' : 'li-bg-al'}}"}
				%td {{sale.date}}
				%td {{sale.location_name}}
				%td {{sale.photos_count}}
				%td {{sale.total_price | currency}}
				%td
					%a{:'ng-click'=>'viewSalesDetails(sale)'} details

.row
	/ %bgf-pagination.pull-left{"client-limit" => "clientLimit", :collection => "sales", "link-group-size" => "2", :page => "page", "per-page" => "perPage", :'auto-presets'=>'false', :'per-page-presets'=>'perPagePresets', "template-url" => "ng-modules/common/views/paginate-anything-tpl.html", :url => "sales_url", :'headers'=>"filter_params", :'num-items'=>true, :'link-group-size'=>'0'}