%div{:'ng-include'=>true, src: "'ng-modules/photographer/views/store/statistics/_price_vs_demand.html'", :'ng-if'=>'subpage=="my-sales" || subpage=="system-wide-sales"||subpage==""'}
%div{:'ng-include'=>true, src: "'ng-modules/photographer/views/store/statistics/_photos_viewed_vs_purchased.html'", :'ng-if'=>'subpage=="photos-viewed"||subpage=="photos-viewed-system-wide"'}
%div{:'ng-include'=>true, src: "'ng-modules/photographer/views/store/statistics/_clients_select_mylocation.html'", :'ng-if'=>'subpage=="clients-select-mylocation"'}