:scss
  .row{
    margin: 0 auto;
  }
  .highlighted{
    font-weight: bold;
  }
  .ui-select-match-text{
    overflow: hidden;
    max-width: 231px;
    display: inline-block;
  }
  .ui-select-match-item{
    line-height: 28px;
    font-weight: bold;
  }
.app{:'ng-app'=>'Photographer', :'ng-sanitize'=>true, :'ng-controller'=>"MainCtrl"}

  .view{:'ui-view'=> true}

  .loading#loading{style: 'position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 10401;background: transparent;text-align:center;opacity: 0.9;display: none;'}
    %center
      %img{:'ng-src'=>'/img/loading.gif'}

- content_for :header_scripts do
  = stylesheet_link_tag 'photographer/application.css'
  = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyDszs__EHGFricBCe3NvtSkVIX7uyFbSIQ&extension=.js&libraries=places&sensor=false'

- content_for :footer_scripts do
  = javascript_include_tag "ng-modules/photographer/application"

