.photos.bs-tabs.sidebar-nav{role: 'tabpanel', :'data-id'=>'togglable-tabs'}
	%ul#photosTab.nav.nav-tabs{:role => "tablist", :'ng-include'=>true, src: "'ng-modules/admin/views/shared/nav_link.html'"}

	.tab-content#PhotosTabContent{style: 'display: inline-block;'}
		%ul.nav.nav-menu{role: :li}
			%li{:'ng-class'=>'{active: $state.includes("photographers_activity")}'}
				%a{:'ui-sref'=>'photographers_activity'} Photographer's Activity
			%li{:'ng-class'=>'{active: $state.includes("clients_activity")}'}
				%a{:'ui-sref'=>'clients_activity'} Client's Activity
			%li{:'ng-class'=>'{active: $state.includes("sales_activity")}'}
				%a{:'ui-sref'=>'sales_activity'} Sales's Activity
			%li{:'ng-class'=>'{active: $state.includes("photographers_funnel")}'}
				%a{:'ui-sref'=>'photographers_funnel'} Photographer's Funnel Report
			%li{:'ng-class'=>'{active: $state.includes("clients_funnel")}'}
				%a{:'ui-sref'=>'clients_funnel'} Client's Funnel Report
			%li{:'ng-class'=>'{active: $state.includes("servers_activity")}'}
				%a{:'ui-sref'=>'servers_activity'} Server's Activity
			