%form{name: 'license_form', :'ng-init'=>'disabled=!!!license.user_id;action="edit"'}
	.modal-header
		%h3.modal-title
			Edit License
			%i{:'ng-hide'=>'{{license.user_id}}'} View Only
	.modal-body
		%div{:'ng-include'=>true, src: "'ng-modules/photographer/views/preferences/licenses/_form.html'"}
	.modal-footer
		%button.btn.btn-primary{"ng-click" => "ok('update')", :'ng-disabled'=>'license_form.$invalid || !!!license.user_id'} save
		%button.btn.btn-primary{"ng-click" => "delete()", :'ng-disabled'=>'!!!license || !!!license.user_id'} Delete
		%button.btn.btn-warning{"ng-click" => "cancel()"} Cancel

