%form{name: 'license_form', :'ng-init'=>'action="create"'}
	.modal-header
		%h3.modal-title Add new License
	.modal-body
		%div{:'ng-include'=>true, src: "'ng-modules/photographer/views/preferences/licenses/_form.html'"}
	.modal-footer
		%button.btn.btn-primary{"ng-click" => "ok('create')", :'ng-disabled'=>'license_form.$invalid'} save
		%button.btn.btn-warning{"ng-click" => "cancel()"} Cancel

