.modal-body{style: 'padding: 0'}
  .row
    .col-md-6
      %label.control-label{:for => "textinput"}= t '.search'
      .controls
        .input-group
          %input.form-control#search_field{:type => "text", style: 'margin-bottom: 0px;', autocomplete: "off"}/
          .input-group-addon
            %span.fa.fa-search
  #map{:'ng-init'=>'initMap()'}
.modal-footer
  %button.btn.btn-primary{type: :button, "ng-click" => "ok()"}= t '.add'
  %button.btn.btn-warning{type: :button, "ng-click" => "cancel()"}= t '.cancel'
