:javascript
	window.photo = #{@photo.to_json(:include=>[:category])};
	window.photo['src'] = '#{@photo.attachment.url('original')}';
	window.photo['tags'] = #{@photo.tags.pluck(:name).to_json};
	image = document.createElement('img');
	image.src = '#{@photo.attachment.url()}';

.col-md-12{'ng-app'=>'photoApp', 'ng-controller'=>'EditPhotoController', 'ng-sanitize'=>''}
	%form#edit-photos-form{action: api_photo_path(id: @photo.id), method: :post, 'ng-submit'=>'save($event)'}
		= token_tag
		.active-photo-wrap
			.active-photo
				.photo-preview
					%img{'ng-src'=>'{{photo.src}}', id: 'preview', 'sb-load'=>'initJcrop()',style: 'max-width:100%'}
			%br/

			.photo-reel
				.photos{:style => "left: 0px;"}
					.photo-reel-photo{style: 'background-image: url("{{photo.src}}"); width: 50px;height: 50px;', 'ng-click'=>'addToActive($index)', id: 'thumb'}
						%img.photo-saved{src: '/assets/photo-saved.png', style: 'margin-left: 9px;margin-top: 7px;', 'ng-show'=>'photo.saved'}
						%svg{width: "100%", height: "100%"}
							%use{:'xlink:href'=>"#fullHex"}

			%br/
			.photo-actions{style: 'float:right;'}
				.remaining-photos
				%input.btn.btn-danger.remove{:type => "button", :value => "Delete", 'ng-click'=>"deletePhoto('#{api_photo_path(id: @photo.id)}', '#{photos_path}')"}/
				= link_to t('.cancel'), photos_path, class: 'btn btn-primary'
				%input.btn.action.btn-success.finish{:type => "submit", :value => t('.save_changes')}/

		.clearfix
		%br
		%br
		.edit-container
			.photo-details
				.col-md-4
					.wrapper.clearfix
						.form-group
							%label.ui.small-badge{:for => "photo-title"}
								= t '.title'
							%input#photo-name.ui.large-textfield.form-control{"ng-model" => "photo.title", :name => "title", :placeholder => t('.untitled_image_placeholder'), :type => "text"}/

						.form-group{"ng-init"=>"categories=#{Category.for_select.to_json};"}
							%label.ui.select-label= t '.category'
							%select#photo-category.ui.select.form-control{"ng-model" => "photo.category", :name => "category", 'ng-options'=> "c.name for c in categories track by c.id"}
								%option{value: 0}
									= t '.uncategorized'

				.col-md-4
					.form-group
						%label{:for => "description"}= t '.description'
						%textarea.form-control{name: 'description', 'ng-model'=>'photo.description', rows: 4, placeholder: t('.photo_description_placeholder')}

					.form-group
						%label{:for => "description"}= t '.tags'
						%tags-input{"ng-model" => "photo.tags"}
							%auto-complete{:source => "loadTags($query)"}

					.form-group
						%label{:for => "description"}= t '.adult_content'
						%input{name: 'adult_content', 'ng-model'=>'photo.adult_content', type: :checkbox}

				.col-md-4
					%h4{style: 'margin-top: 0px;margin-bottom: 19px;'}
						%strong= t '.exif'

					%hr{style: 'margin-top: -13px;'}
					.metadata
						.form-group.form-group-sm{'ng-repeat'=>'(key, value) in photo.exif'}
							%label.col-sm-5.control-label{:for => "{{key}}"} {{key}}
							.col-sm-7
								%input#camera.form-control{:placeholder => "Set {{key}}", :type => "text", 'ng-model'=>'photo.exif[key]'}/
							.clearfix

	%center
		%img.data-image-loader{:src => "/img/loader.gif", :style => "margin: 0 auto;position: relative;opacity: 0;"}/
