:scss
  .row{
    margin: 0 auto;
  }
  .highlighted{
    font-weight: bold;
  }
  .ui-select-match-text{
    overflow: hidden;
    max-width: 231px;
    display: inline-block;
  }
  .ui-select-match-item{
    line-height: 28px;
    font-weight: bold;
  }

.div#photos{:'ng-app'=>'myPhotos', :'ng-controller'=>'MainController', :'ng-init'=>"default_photo_price=#{current_user.default_photo_price||0};default_watermark_id=#{current_user.default_watermark_id||0};default_license_id=#{current_user.default_license.try(:id)||0};default_location_id=#{current_user.default_location.try(:id)||0};licenses=#{current_user.license_lists.to_json};licenses_list=#{current_user.license_lists.to_json};groups=#{current_user.photo_groups.to_json(methods: [:members])||[]};groups_list=#{current_user.photo_groups.to_json(methods: [:members])||[]};locations=#{current_user.locations.to_json(methods: :photos)||[]};locations_list=#{current_user.locations.to_json||[]};perPage=#{current_user.per_page||50};watermarks=#{current_user.watermark_lists.to_json(methods: [:photo_url])};watermark_id=#{current_user.default_watermark.try(:id)||{}};thumbnail_size=#{current_user.thumbnail_size||80};", :'ng-cloak'=>true}

  .col-md-4.col-sm-12.col-xs-12#controls
    .bs-tabs.photos.sidebar-nav{:"data-id" => "togglable-tabs", :role => "tabpanel"}
      %ul#photosTab.nav.nav-tabs{:role => "tablist"}
        %li{:role => "presentation"}
          %a#add-photos-tab{:"aria-controls" => "add-photos", :"aria-expanded" => "true", :href => "#{photographer_index_path}#/add-photos", :role => "tab"}
            = t '.add_photos'

        %li.active{:role => "presentation"}
          %a#photos-tab{:"aria-controls" => "photos", :href => '#my-photos', :role => "tab", "data-toggle" => "tab"}
            = t '.my_photos'

        %li{:role => "presentation"}
          %a#preferences-tab{:"aria-controls" => "preferences", :href => photographer_preferences_path, :role => "tab"}
            = t '.my_preferences'

      #PhotosTabContent.tab-content{style: 'display: inline-block;background:white;'}
        #my-photos.photographer-photos.tab-pane.fade.in.active{:"aria-labelledby" => "add-photos-tab", :role => "tabpanel"}
          #accordion
            %h3.bar{:'data-index'=>1, :'aria-expanded'=>true, :'aria-selected'=>true, :'ng-click'=>'refresh2($event)'}
              = t '.narrow_results_by'

              %i
                (
                = t '.currently_number'
                {{result.total}}
                )
            %div.narrow-results
              .row
                %span{style: 'float: left;cursor: pointer;color: green;display:inline;', :'ng-click'=>'refresh()'}
                  %i.fa.fa-refresh
                    &nbsp;
                = help_tooltip_icon 'photographer_photos_index_help'

                %center
                  %p
                    %b
                      = t '.narrow_results'

                %hr
              .row{:'ng-if'=>'filter.prices.length <= 0 && filter.date_times.length <= 0 && filter.locations.length <= 0 && filter.groups.length <= 0 && filter.licenses.length <= 0'}
                %center.disabled-text
                  = t '.no_filter_set'

              .row
                %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{:'ng-repeat'=>'price in filter.prices'}
                  %span.close.ui-select-match-close{"ng-click" => "removePriceFilter($index)"}  ×
                  %span
                    ${{price.from}}
                    = t '.to'
                    ${{price.to}}

                %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{:'ng-repeat'=>'date_time in filter.date_times'}
                  %span.close.ui-select-match-close{"ng-click" => "removeDateTimeFilter($index)"}  ×
                  %span
                    {{date_time.from}}
                    = t '.to'
                    {{date_time.to}}

                %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{:'ng-repeat'=>'location in filter.locations'}
                  %span.close.ui-select-match-close{"ng-click" => "removeLocationFilter($index)"}  ×
                  %span
                    {{location.name}}

                %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{:'ng-repeat'=>'group in filter.groups'}
                  %span.close.ui-select-match-close{"ng-click" => "removeGroupFilter($index)"}  ×
                  %span
                    {{group.name}}

                %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{:'ng-repeat'=>'license in filter.licenses'}
                  %span.close.ui-select-match-close{"ng-click" => "removeLicenseFilter($index)"}  ×
                  %span
                    {{license.title}}

              .row
                %hr{style: 'border: 1px solid gray;'}

                %button.btn.btn-success{type: :button, style: 'margin-bottom: 10px;', :'ng-click'=>'pickDateFilter({modal: false})'}
                  = t '.date'

                %button.btn.btn-success{type: :button, :'ng-click'=>'pickLocationsFilter()', style: 'margin-bottom: 10px;'}
                  = t '.location'

              .row.date-filter-form{:'ng-if'=>'open_date_filter_form', style: 'border: 1px solid gray;padding-bottom: 15px;'}
                %form{:'ng-submit'=>'addDateTimeFilter(datetime_filter_from, datetime_filter_to)', name: 'datetime_form'}
                  .input-group{style: 'margin-right:-1px;'}
                    .input-group-addon
                      = t('.from').capitalize
                      %input.datetime.form-control{"ng-model" => "datetime_filter_from", :type => "text", :'required'=>true}/
                    .input-group-addon
                      = t('.to').capitalize
                      %input.datetime.form-control{"ng-model" => "datetime_filter_to", :type => "text", :'required'=>true}/
                  %br

                  .actions.pull-right
                    %button.btn.btn-primary{type: :submit, style: 'margin-right:18px;', :'ng-disabled'=>'!datetime_form.$valid'}
                      = t '.add'
                    %button.btn.btn-warning{type: :button, "ng-click" => "cancelDateTimeFilterForm()", style: 'margin-right: 18px;'}
                      = t '.cancel'

              %br
              .row
                = t '.price'
                :
                .input-group
                  .input-group-addon
                    $
                  %input.form-control{:'ng-model'=>'price_filter_from'}
                  .input-group-addon
                    = t '.to'
                    $
                  %input.form-control{:'ng-model'=>'price_filter_to'}
                  .input-group-addon{style: 'padding: 0px;'}
                    %a.btn.btn-sm.btn-success{:'ng-click'=>'addPriceFilter()', :'ng-disabled'=>'!!!price_filter_from || !!!price_filter_to'}
                      = t '.add'
              %br
              .row
                = t '.upload_session'
                :
                .input-group
                  %ui-select.dropup{"ng-model" => "groups_filter.selected"}
                    %ui-select-match{placeholder: "All Sessions"} {{$select.selected.name}}
                    %ui-select-choices{:repeat=>"group in groups | filter:$select.search"}
                      %div{"ng-bind-html" => "group.name | highlight: $select.search"}

                  .input-group-addon{style: 'padding: 0px;'}
                    %a.btn.btn-sm.btn-success{:'ng-click'=>'addGroupsFilter()', :'ng-disabled'=>"!!!groups_filter.selected"}
                      = t '.add'
              %br
              .row
                = t '.license'
                :
                .input-group
                  %ui-select.dropup{"ng-model" => "licenses_filter.selected"}
                    %ui-select-match{placeholder: "All Licenses"} {{$select.selected.title}}
                    %ui-select-choices{:repeat=>"license in licenses | filter:$select.search"}
                      %div{"ng-bind-html" => "license.title | highlight: $select.search"}

                  .input-group-addon{style: 'padding: 0px;'}
                    %a.btn.btn-sm.btn-success{:'ng-click'=>'addLicensesFilter()', :'ng-disabled'=>'!!!licenses_filter.selected'}
                      = t '.add'

            %h3.bar{:'data-index'=>2}
              = t '.photo_settings'
              %i
                (
                = t '.selected'
                {{selectedPhotos.length}})

            %div
              .row
                %button.btn.btn-sm.btn-primary{:"btn-checkbox" => true, :"btn-checkbox-false" => "0", :"btn-checkbox-true" => "1", :type => "button", :'ng-disabled'=>'queue.length <= 0', :'ng-model'=>'selectAllPhotos'}
                  = t '.select_all_visible'

                %button.btn.btn-sm.btn-success{:'ng-click'=>'refresh()'}
                  %i.fa.fa-refresh
                  = t '.refresh'

                %small.clearfix
                  %i
                    (
                    = t '.click_to_select'
                    )

                %p
                  = t '.currently_selected'
                  :
                  %strong {{selectedPhotos.length}}

              .row
                .field-control{:'ng-class'=>'{highlighted: selectedPhotos.length>0, "disabled-text": selectedPhotos.length<=0, "disabled-text": selectedPhotos.length<=0}'}
                  = t '.price_for_selected'
                  : $
                  %input.field-sm{:'ng-model'=>'price', :'ng-disabled'=>'selectedPhotos.length <=0', :'ng-change'=>"updateData('price', price)"}

              .row
                .field-control{:'ng-class'=>'{highlighted: selectedPhotos.length>0, "disabled-text": selectedPhotos.length<=0}'}
                  .col-md-12{style: 'padding-left: 0px;'}
                    = t '.license_for_selected'

                  .col-md-6{style: 'padding-left: 0px;'}
                    %select#license.ui.select.form-control{:"ng-model" => "license_id", :'ng-options'=> "ls.id as ls.title for ls in licenses_list", :'ng-disabled'=>'selectedPhotos.length <=0', :'ng-change'=>"updateData('license_id', license_id);"}
              .row
                .field-control{:'ng-class'=>'{highlighted: selectedPhotos.length>0, "disabled-text": selectedPhotos.length<=0}'}
                  .col-md-12{style: 'padding-left: 0px'}
                    = t '.location_for_selected'

                  .col-md-6{style: 'padding-left: 0px;'}
                    %select.form-control{:'ng-options'=>"l as l.name for l in locations_list", :'ng-model'=>'location', :'ng-disabled'=>'locations.length<=0 || selectedPhotos.length <=0', :'ng-change'=>"updateData('location', location);updateData('location_id', location.id)"}

                  .col-md-3
                    .btn.btn-primary{:'ng-click'=>'newLocation()', :'ng-disabled'=>'selectedPhotos.length <=0'}
                      = t '.new'
                  .col-md-3
                    .btn.btn-primary{:'ng-click'=>'editLocation()', :'ng-disabled'=>'locations.length<=0 || !!!location || selectedPhotos.length <=0'}
                      = t '.edit'

              %br
              .row
                .field-control{:'ng-class'=>'{highlighted: selectedPhotos.length>0, "disabled-text": selectedPhotos.length<=0}'}
                  .col-md-12{style: 'padding-left:0px'}
                    = t '.date_and_time_for_selected'

                  .col-md-6{style: 'padding-left: 0px;'}
                    %input.datetime.form-control{:type => "text", :"ng-model" => "date_time", :'ng-disabled'=>'selectedPhotos.length <=0', :'ng-change'=>"updateData('date_time', date_time)"}/
              %br
              .row
                .col-md-12{:'ng-class'=>'{highlighted: selectedPhotos.length>0, "disabled-text": selectedPhotos.length<=0}', style: 'padding-left: 0px'}
                  %p= t '.watermark_for_selected'

                  .col-md-6{style: 'padding-left: 0px'}
                    %select.form-control{:'ng-options'=>"w.id as w.name for w in watermarks", :'ng-model'=>'watermark_id', :'ng-disabled'=>'watermarks.length<=0 || selectedPhotos.length <=0', :'ng-change'=>"updateData('watermark_id', watermark_id)"}
                  .col-md-3
                    .btn.btn-primary{:'ng-click'=>'newWatermark()',:'ng-disabled'=>'selectedPhotos.length <=0'}= t '.new'
                  .col-md-3
                    .btn.btn-primary{:'ng-click'=>'editWatermark()', :'ng-disabled'=>'watermarks.length<=0 || !!!watermark_id || selectedPhotos.length <=0'} {{watermarkEditPreviewLabel()}}
              .row
                %br

              .row
                %br/
                %button.btn.btn-danger.btn-sm{:'ng-click'=>'deleteSelected()', type: :button, :'ng-disabled'=>'selectedPhotos.length<=0'}
                  = t '.delete_selected'

              %br
              %br

            %h3.bar#photo-groups-tab{:'data-index'=>3}
              = t '.manage_photo_groups'

            %div
              .row
                %button.btn.btn-primary.btn-sm{:'ng-click'=>'newGroup()', type: :button, :'ng-disabled'=>'selectedPhotos.length<=0'}
                  = t '.create_group'

              .row
                %p{:'ng-show'=>'activeGroup'}
                  = t '.current_groups'
                  %strong {{activeGroup.name}}

  .col-md-8.col-sm-12.col-xs-12#photos-list
    .row{:'ng-show'=>'photos.length <=0 && is_photos_loaded'}
      %h3{:'ng-cloak'=>true}
        = t '.have_no_uploaded_photos'

        = link_to t('.upload_here'), "#{photographer_index_path}#/add-photos"
    .row.form-inline#photos-control{:'ng-hide'=>'photos.length <=0 || !is_photos_loaded', :'ng-cloak'=>true}
      %bgf-pagination.pull-left{"client-limit" => "clientLimit", :collection => "result", "link-group-size" => "2", :page => "page", "per-page" => "perPage", :'auto-presets'=>'false', :'per-page-presets'=>'perPagePresets', "template-url" => "paginate-anything-tpl.html", :url => "photos_url", :'headers'=>"filter_params", :'num-items'=>true}

      .form-group.pull-right.photo-sort{style: 'padding-left:0px;'}
        .form-inline
          %label.control-label.pull-right
            &nbsp;
            = t '.sort_by'
            %select.form-control{:'ng-model'=>'sort_by'}
              %option{value: :date_time}= t '.date'
              %option{value: :'groups.created_at'}= t '.session'
              %option{value: :'locations.name'}= t '.location'
              %option{value: :price}= t '.price'

          %label.control-label.pull-right{style: 'text-align: right;line-height:32px;'}
            = t '.size'
            .input-group
              %input.ng-pristine.ng-valid.form-control{:min => "80", :max => "300", "ng-model" => "thumbnail_size", :step => "1", :style => "margin:0 auto;cursor: -webkit-grab;padding:1px;", :type => "range", :'ng-disabled'=>'photos.length <= 0'}/
              .input-group-addon
                %small {{thumbnail_size}}px
    .row
      %br/
    .row.thumbnails#selectable.photos-list.pull-left{:'disable-animate'=> true, :'drag-selectable'=>true, :'options'=>'{selectAbleClass: "thumbnail"}', tabindex: 0}
      .thumbnail.ui-widget-content{:'ng-cloak'=>'true', "ng-repeat" => "p in photos", :style => "display: inline-block;margin:0px 2px 0px 2px;width:{{thumbnail_size}}px;height:{{thumbnail_size}}px;text-align: center;line-height: {{thumbnail_size-10}}px;overflow: hidden;", :'data-index'=>'{{$index}}', :'data-id'=>"{{p.id}}", :'data-content-type'=>'{{p.photo_content_type||p.video_content_type}}', :'ng-if'=>'p.id', :'ng-class'=>'{"ui-selected": p.selected}'}
        %span.fa.fa-check-circle.selected-icon{:style => "text-align:left;display: none;z-index:99;width: {{thumbnail_size-10}}px;height: {{thumbnail_size-10}}px"} &#160;
        %a.preview-btn{style: 'width: {{thumbnail_size}}px;'}
          %i.fa.fa-search-plus{:'ng-click'=>'preview(p)', title: 'preview'} &nbsp;

        .image-preview{style: 'width:{{thumbnail_size-10}}px;height:{{thumbnail_size-10}}px;overflow: hidden;'}
          %img{:'ng-src'=>'{{!!p.video_thumbnails ? p.video_thumbnails[0] : p.attachment_url}}', style: '{{(p.width < p.height) ? "" : "width: 100%;"}}max-height:100%;vertical-align: top;', class: 'img-{{$index}}'}
          %img{:'ng-if'=>'!!p.video_thumbnails', src: '/assets/video-icon.png', style: 'position:absolute;width: 86px;margin-top: -75px;margin-left: -43px;'}

  .loading#loading{style: 'position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 10401;background: transparent;text-align:center;opacity: 0.9;display: none;'}
    %center
      %img{:'ng-src'=>'/img/loading.gif'}

  %script{type: 'text/ng-template', id: 'paginate-anything-tpl.html'}
    = render partial: "shared/paginate-anything-tpl/index"
  %script{type: 'text/ng-template', id: 'new-location.html'}
    = render partial: "/photographer/preferences/locations/new"
  %script{type: 'text/ng-template', id: 'edit-location.html'}
    = render partial: "/photographer/preferences/locations/edit"
  %script{type: 'text/ng-template', id: 'filter_warning.html'}
    = render partial: "/photographer/preferences/filter_warning/index"
  %script{type: 'text/ng-template', id: 'preview-photo.html'}
    = render partial: "preview"

  %script{type: 'text/ng-template', id: 'new-watermark.html'}
    = render partial: "/photographer/preferences/watermarks/new"
  %script{type: 'text/ng-template', id: 'edit-watermark.html'}
    = render partial: "/photographer/preferences/watermarks/edit"
  %script{type: 'text/ng-template', id: 'watermark-option.html'}
    = render partial: "/photographer/preferences/watermarks/option"
  %script{type: 'text/ng-template', id: 'watermark-images.html'}
    = render partial: "/photographer/preferences/watermarks/images"
  %script{type: 'text/ng-template', id: 'locations-filter-dialog.html'}
    = render partial: "/photographer/photos/locations_filter"

- content_for :header_scripts do
  = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyDszs__EHGFricBCe3NvtSkVIX7uyFbSIQ&extension=.js&libraries=places&sensor=false'

- content_for :footer_scripts do
  = javascript_include_tag "ng-modules/photographer-photos/application"
