/ init
%form#fileupload{:action => photographer_photos_path, :enctype => "multipart/form-data", :method => "POST"}
	#photo-app{:'ng-cloak'=>true, "data-file-upload" => "options", "ng-app" => "addPhotos", "data-ng-class" => "{'fileupload-processing-': processing() || loadingFiles}", "ng-controller" => "PhotoUploadController", :'ng-sanitize'=>true, :'ng-init'=>"default_photo_price=#{current_user.default_photo_price||10};default_watermark_id=#{current_user.default_watermark.try(:id)||0};default_license_id=#{current_user.default_license.try(:id)||0};licenses=#{current_user.license_lists.to_json};locations=#{current_user.locations.to_json||[]};default_location=#{current_user.default_location.to_json||''};photos_count=#{current_user.photos.count};watermarks=#{current_user.watermark_lists.to_json(methods: [:photo_url])}"}
    .ng{style: 'display:none;', :'ng-if'=>'processing()', :'ng-init'=>'showProgressBar()'}
    .ng{style: 'display:none;', :'ng-if'=>'!processing()', :'ng-init'=>'hideProgressBar();reparseEmptyThumbnails();'}

    .col-md-4.col-sm-12.col-xs-12#controls{:'ng-cloak'=>true}
      .bs-tabs.photos.sidebar-nav{:"data-id" => "togglable-tabs", :role => "tabpanel"}
        %ul#photosTab.nav.nav-tabs{:role => "tablist"}
          %li.active{:role => "presentation"}
            %a#add-photos-tab{:"aria-controls" => "add-photos", :"aria-expanded" => "true", "data-toggle" => "tab", :href => "#add-photos", :role => "tab"}
              = t '.add_photos'

          %li{:role => "presentation"}
            %a#photos-tab.has-count{:"aria-controls" => "photos", :href => photographer_photos_path, :role => "tab"}
              = t '.my_photos'

              %sup
                ({{photos_count}})

          %li{:role => "presentation"}
            %a#preferences-tab{:"aria-controls" => "preferences", :href => photographer_preferences_path, :role => "tab"}
              = t '.my_preferences'

        #addPhotosTabContent.tab-content{style: 'display: inline-block;background:white;'}
          #add-photos.tab-pane.fade.in.active{:"aria-labelledby" => "add-photos-tab", :role => "tabpanel"}
            = help_tooltip_icon 'photographer_photos_new_help'

            %br

            %span.btn.btn-primary.btn-file
              %i.fa.fa-folder &nbsp;
              = t '.choose'
              {{queue.length>0 ?
              = t('.more')
              :
              = t('.photos_videos')
              }}

              %input.upload#browse-photos{:multiple => "multiple", :name => "files[]", "ng-disabled" => "disabled", :type => "file", :"ng-class" => "{disabled: disabled}"}

              %small{:'ng-hide'=>'queue.length <=0', style: 'color: rgb(220, 223, 220);text-shadow: rgba(255, 255, 255, 0.2) 3px 2px 3px;'}
                &nbsp;
                = t '.chosen'
                %strong{:'ng-bind'=>'queue.length'}

            %br.clearfix
            %br.clearfix
 
            %button.btn.btn-primary.start{"data-ng-click" => "upload()", :type => "button", style: '', :'ng-disabled'=>'queue.length <= 0 || active()'}
              %i.glyphicon.glyphicon-upload
              %span= t '.upload_now'

            .row		
            %br.clearfix
            / %p.subtitle.fancy
            / 	%span Selected Image(s) Info

            %button{:"btn-checkbox" => true, :"btn-checkbox-false" => "0", :"btn-checkbox-true" => "1", "ng-model" => "selectAllPhotos", :type => "button", :'ng-disabled'=>'!(queue.length > 0)'}
              = t '.select_all_photos_videos'

            %br
            / %small.clearfix
            / 	%i (Or click-click to select and unselect photos/videos and groups one by one)

            / %p
            / 	Currently Selected&nbsp;:
            / 	%strong{:'ng-bind'=>'selectedPhotos.length'}
            / 	%small
            / 		%i &nbsp;(include photos/videos that are in groups):
            / 	%br

            / .field-control{:'ng-class'=>'{highlighted: selectedPhotos.length>0, "disabled-text": selectedPhotos.length<=0}'}
            / 	.col-md-12{style: 'padding-left: 0px;'} New price for selected photos/videos: $
            / 	%input.field-sm{:'ng-model'=>'price', :'ng-disabled'=>'selectedPhotos.length <=0'}
            / .field-control{:'ng-class'=>'{highlighted: selectedPhotos.length>0, "disabled-text": selectedPhotos.length<=0}'}
            / 	.col-md-12{style: 'padding-left: 0px;'} New license for selected photos/videos:
            / 	.col-md-6{style: 'padding-left: 0px;'}
            / 		%select#license.ui.select.form-control{:"ng-model" => "license_id", :'ng-options'=> "ls.id as ls.title for ls in licenses", :'ng-disabled'=>'selectedPhotos.length <=0'}

            / .field-control{:'ng-class'=>'{highlighted: selectedPhotos.length>0, "disabled-text": selectedPhotos.length<=0}'}
            / 	.col-md-12{style: 'padding-left: 0px'} New default location for selected photos/videos:
            / 	.col-md-6{style: 'padding-left: 0px'}
            / 		%select.form-control{:'ng-options'=>"l as l.name for l in locations", :'ng-model'=>'location', :'ng-disabled'=>'locations.length<=0 || selectedPhotos.length <=0'}
            / 	.col-md-3
            / 		.btn.btn-primary{:'ng-click'=>'newLocation()', :'ng-disabled'=>'selectedPhotos.length <=0'} Add new
            / 	.col-md-3
            / 		.btn.btn-primary{:'ng-click'=>'editLocation()', :'ng-disabled'=>'locations.length<=0 || !!!location || selectedPhotos.length <=0'} Edit

            / .field-control{:'ng-class'=>'{highlighted: selectedPhotos.length>0, "disabled-text": selectedPhotos.length<=0}'}
            / 	%br
            / 	%br
            / 	Date and time of selected photos/videos
            / 	%br
            / 	.col-md-6{style: 'padding-left: 0px;'}
            / 		%input.datetime.form-control{:type => "text", :"ng-model" => "date_time", :'ng-disabled'=>'selectedPhotos.length <=0'}/

            / .field-control.col-md-12{:'ng-class'=>'{highlighted: selectedPhotos.length>0, "disabled-text": selectedPhotos.length<=0}', style: 'padding-left: 0px'}
            / 	.col-md-12{style: 'padding-left: 0px'} New watermark for selected photos/videos:
            / 	.col-md-6{style: 'padding-left: 0px'}
            / 		%select.form-control{:'ng-options'=>"w.id as w.name for w in watermarks", :'ng-model'=>'watermark_id', :'ng-disabled'=>'watermarks.length<=0 || selectedPhotos.length <=0'}
            / 	.col-md-3
            / 		.btn.btn-primary{:'ng-click'=>'newWatermark()',:'ng-disabled'=>'watermarks.length<=0 || selectedPhotos.length <=0'} Add new
            / 	.col-md-3
            / 		.btn.btn-primary{:'ng-click'=>'editWatermark()', :'ng-disabled'=>'watermarks.length<=0 || !!!watermark_id || selectedPhotos.length <=0'} {{watermarkEditPreviewLabel()}}
            / .row
            / 	%br
            / 	%br
            / 	%br
            / 	%br
            %button{:'ng-click'=>'deleteSelected()', type: :button, :'ng-disabled'=>'selectedPhotos.length<=0', style: 'margin-top: 10px;'}
              = t '.clear_selected'

              %sup{:'ng-if'=>'selectedPhotos.length > 0', style: 'color: rgb(115, 134, 115);text-shadow: rgba(255, 255, 255, 0.2) 3px 2px 3px;'}
                %strong{:'ng-bind'=>'selectedPhotos.length'}
            %br

            %button.cancel{"data-ng-click" => "deleteAll()", :type => "button", :'ng-disabled'=>'queue.length <= 0', style: 'margin-top: 10px;'}
              %i.glyphicon.glyphicon-ban-circle
              %span= t '.clear_all'
            %br
            %br
            %br

            / %button.btn.btn-success{:'ng-click'=>'newGroup()', type: :button, :'ng-disabled'=>'selectedPhotos.length<=0 || activeGroup'}
            / 	Create Group From Selected Photos/videos

            / .row
            / %br.clearfix
            / %p.subtitle.fancy
            / 	%span Group Manager

            / %p{:'ng-if'=>'activeGroup'}
            / 	Group:
            / 	%strong {{activeGroup.name}}

            / %button.btn{type: :button, :'ng-click'=>'ungroup()', style: 'margin-bottom:1px', :'ng-disabled'=>'!activeGroup'}
            / 	Explode (un-group) selected group

            / %button.btn{type: :button, :"btn-checkbox" => true, :"btn-checkbox-false" => "0", :"btn-checkbox-true" => "1", "ng-model" => "expandGroup", :'ng-disabled'=>'!activeGroup'}
            / 	Expand selected group

            / %button.btn{type: :button, :'ng-click'=>'newGroup()', style: 'margin-bottom:1px', :'ng-disabled'=>'selectedPhotos.length<=0 || activeGroup'}
            / 	Make group from selected photos/videos

    .col-md-8.col-sm-12.col-xs-12#selectable.pull-right{:'drag-selectable'=>true}
      .row.fileupload-buttonbar
        %center{:'ng-show'=>'queue.length<=0', style: 'color: #00B3F4; vertical-align: middle; margin-top: 81px;'}
          %strong= t '.drag_and_drop_photos_videos'
          %br
          %br
          %span.btn.btn-primary.btn-file
            %i.fa.fa-folder &nbsp;
            = t '.choose_photos_videos'
            %input.upload#browse-photos-begin{:multiple => "multiple", :name => "files[]", "ng-disabled" => "disabled", :type => "file", :"ng-class" => "{disabled: disabled}"}
            %br
          %br
          %label{style: 'color: black;', :'ng-show'=>'photos_count>0'}
            (
            = t '.or'
            , 
            = link_to t('.click_here'), photographer_photos_path
            to view/edit your existing photos/videos)

        .col-md-8.col-sm-12.col-xs-12.pull-right.fade.upload-progress-bar{"data-ng-class" => "{in: active()}", :'ng-if'=>'queue.length > 0 && active()'}
          .col-md-5.progress.progress-striped.active{"data-file-upload-progress" => "progress()"}
            .progress-bar.progress-bar-success{"data-ng-style" => "{width: num + '%'}"}
            %span{style: 'float: right;'}	{{num}}%
          .progress-extended &#160;
          %br
          %br
          %br
          %br

      .row#photos-control{:'ng-hide'=>'queue.length <=0 || active()'}
        .col-md-4.pull-right
          .col-md-2{style: 'padding:0px;'}
            %label.control-label{style: 'text-align: right;line-height:32px;'}
              = t '.size'
          .col-md-10{style: 'padding:0px;'}
            .input-group
              %input.ng-pristine.ng-valid.form-control{:min => "80", :max => "300", "ng-model" => "thumbnail_size", :step => "1", :style => "margin:0 auto;cursor: -webkit-grab;padding:1px;", :type => "range", :'ng-disabled'=>'queue.length <= 0'}/
              .input-group-addon
                %small {{thumbnail_size}}px
      .row
        %br

      .row.thumbnails#photos-list.pull-left{tabindex: 0, :'disable-animate'=>true}
        .thumbnail.ui-widget-content{"data-ng-class" => "{'processing': file.$processing()}", "data-ng-repeat" => "file in queue", style: 'display: inline-block;margin:0px 2px 0px 2px;{{(!!!file.preview) ? "margin-bottom: -8px !important; padding: 5px !important;": ""}};width:{{thumbnail_size}}px;height:{{thumbnail_size}}px;text-align: center;line-height: {{thumbnail_size-10}}px;overflow: hidden;', :'data-index'=>'{{$index}}', :'ng-init'=>'parseExifData(file,$index)'}
          .errors{:style => "position: absolute;z-index: 99;width:{{thumbnail_size-10}}px;height:{{thumbnail_size-10}}px;", :'ng-if'=>'file.errors'}
            %small.badge.badge-error{:'ng-repeat'=>'err in file.errors', style:'font-size: 8px;'}
              .ng{'ng-if'=>'err.type=="duplicate"'}
                %i= t '.duplicate'
              .ng{'ng-if'=>'err.type!="duplicate"'}
                {{err[0]}}
          .error{:style => "position: absolute;z-index: 99;width:{{thumbnail_size-10}}px;height:{{thumbnail_size-10}}px;", :'ng-if'=>'file.error'}
            %small.badge.badge-error{style:'font-size: 8px;'}
              .ng {{file.error == '{}'||file.error=={} ? 'Errored' : file.error}}

          %span.fa.fa-check-circle.selected-icon{style: 'text-align:left;display: none;z-index:99;width: {{thumbnail_size-10}}px;height: {{thumbnail_size-10}}px;', :'ng-if'=>'initialized'} &#160;
          %a.preview-btn{style: 'width: {{thumbnail_size}}px;'}
            %i.fa.fa-search-plus{:'ng-click'=>'preview(file)', title: 'preview'} &nbsp;

          .image-preview{'ng-click'=>'select($event, file)', "data-ng-switch" => "", "data-on" => "!!file.thumbnailUrl", :'ng-init'=>'initCustomFn($index, file)', style: 'overflow:hidden;height:{{thumbnail_size-10}}px;'}
            .preview{"data-file-upload-preview" => "file", "data-ng-switch-default" => "", :'ng-class'=>"{'no-preview': !!!file.preview}", style: 'width: 100%;', :'data-type'=>'{{file.type}}'}

    .loading#loading{style: 'position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 10401;background: transparent;text-align:center;opacity: 0.9;display: none;'}
      %center
        %img{:'ng-src'=>'/img/loading.gif'}

    .loading2#loading2{style: 'position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 10401;background: transparent;text-align:center;opacity: 0.9;display: none;'}
      %center
        %img{:'ng-src'=>'/img/loading_images.gif'}

    %script{type: 'text/ng-template', id: 'new-location.html'}
      = render partial: "/photographer/preferences/locations/new"
    %script{type: 'text/ng-template', id: 'edit-location.html'}
      = render partial: "/photographer/preferences/locations/edit"

    %script{type: 'text/ng-template', id: 'preview-photo.html'}
      = render partial: "preview"

    %script{type: 'text/ng-template', id: 'new-watermark.html'}
      = render partial: "/photographer/preferences/watermarks/new"
    %script{type: 'text/ng-template', id: 'edit-watermark.html'}
      = render partial: "/photographer/preferences/watermarks/edit"
    %script{type: 'text/ng-template', id: 'watermark-option.html'}
      = render partial: "/photographer/preferences/watermarks/option"
    %script{type: 'text/ng-template', id: 'watermark-images.html'}
      = render partial: "/photographer/preferences/watermarks/images"

- content_for :header_scripts do
  = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false'

- content_for :footer_scripts do
  #dialog-confirm.ui-state-default{:title => "Upload in progress!", style: 'display: none;'}
    %p
      %span.ui-icon.ui-icon-alert{:style => "float:left; margin:0 7px 20px 0;"}>
      = t '.leave_confirmation'

	= javascript_include_tag "ng-modules/add-photos/application"
