.modal-body#filter-warning
  %h3= t '.there_are_no_photos'
  %button.btn.btn-success{:'ng-click'=>'add()'}= t '.continue'
  %button.btn.btn-danger.pull-right{:'ng-click'=>'cancel()'}= t '.clear'

.modal-footer
  %label{for: "ignore"}
    %input#ignore{type: :checkbox, :'ng-model'=> "ignore_filter_warning"}
    = t '.not_warn_again'
