#add-email.container
  %h1= t '.add_email'
  = form_for current_user, as: 'user',
    url: finish_signup_path(current_user), html: { role: 'form' } do |f|
    - if @show_errors && @user.errors.any?
      #error_explanation.label.label-danger
        - @user.errors.full_messages.each do |msg|
          = msg
    .form-group
      = f.label :email
      .controls
        = f.text_field :email, autofocus: true, value: '', class: 'form-control input-lg',
          placeholder: t('.email_placeholder')
        %p.help-block= t '.email_help'
    .actions
      = f.submit t('.submit'), class: 'btn btn-primary'
