%link{:href => "//vjs.zencdn.net/4.12/video-js.css", :rel => "stylesheet"}/
%script{:src => "//vjs.zencdn.net/4.12/video.js"}

%video#example_video_1.video-js.vjs-default-skin.vjs-big-play-centered{:controls => "", "data-setup" => "{\"example_option\":true}", :poster => @photo.video_thumbnails[0], :preload => "auto"}
  %source{:src => @photo.preview_url(session[:visitor_id]), :type => @photo.video_content_type}
  / %source{:src => "http://video-js.zencoder.com/oceans-clip.webm", :type => "video/webm"}
  / %source{:src => "http://video-js.zencoder.com/oceans-clip.ogv", :type => "video/ogg"}
  %p.vjs-no-js
    To view this video please enable JavaScript, and consider upgrading to a web browser that
    %a{:href => "http://videojs.com/html5-video-support/", :target => "_blank"} supports HTML5 video

 