%div{:'ng-app'=>'regApp', :'ng-controller'=>'registrationController'}
  = bootstrap_devise_error_messages!
  .panel.panel-default{:style => "width:50%;margin: 0 auto;"}
    .panel-heading
      %h4= t('.forgot_your_password', :default => 'Forgot your password?')
    .panel-body
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, role: "form" }) do |f|
        .form-group
          = f.label :email
          = f.email_field :email, class: "form-control"
        = f.submit t('.send_me_reset_password_instructions', :default => "Send me reset password instructions"), class: "btn btn-primary"
    = render "devise/shared/links"

- content_for :header_scripts do
  :scss
    .flash-messages{
      display: none;
    }
  %script
    window.flash_success = "#{flash['success']}";
    window.flash_errors = "#{flash['errors']}";

- content_for :footer_scripts do
  = javascript_include_tag "ng-modules/registration/application"
