.front-page-full {
  background: url('/assets/new-front-page/full-background.jpg') no-repeat center;
  background-size: cover;
  min-height: 200px;
}

/* Desktop {{{ */

@media (min-width: 768px) {
  .front-page-full {
    position: relative;

    .find-your-photos,
    .photographers {
      padding-top: 10px;

      p {
        margin: 0;
        font-size: 3vw;
        font-family: 'Cuprum-Regular';
        color: #DB1800;
      }

      img {
        max-height: 70px;
      }

      &:hover {
        a {
          background: #E23B24;
        }
      }

      &:active {
        a {
          background: #b03121;
        }
      }

      a {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #E2422C;
        line-height: 60px;

        color: #fff;
        font-size: 2vw;
        font-family: 'Cuprum-Regular';
        text-decoration: none;
      }
    }

    .find-your-photos {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 30%;
      min-height: 200px;
      padding-right: 100px;

      background: rgba(255, 255, 255, .53);
      z-index: 10;

      a {
        text-align: right;
        padding-right: 60px;
      }

      &:after {
        position: absolute;
        right: -70px;
        top: 0;
        content: ' ';
        width: 0;
        height: 0;
        border-top: 100px solid transparent;
        border-left: 70px solid rgba(255, 255, 255, .53);
        border-bottom: 100px solid transparent;
      }

      &:hover {
        &:before {
          background: url('/assets/new-front-page/big-arrow-hover.png') center;
        }
      }

      &:active {
        &:before {
          background: url('/assets/new-front-page/big-arrow-active.png') center;
        }
      }

      &:before {
        content: ' ';
        width: 55px;
        height: 150px;
        background: url('/assets/new-front-page/big-arrow.png') center;
        position: absolute;
        right: -55px;
        bottom: 0;
        z-index: 10;
      }

    }

    .focofox-connects {
      position: absolute;
      width: 40%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      min-height: 200px;

      h1 {
        margin: 90px 0 30px 0;
        color: #000;
        font-family: 'Cuprum-Regular';
        font-size: 3.5vw;
      }

      a {
        text-transform: lowercase;
        color: #df4430;
        font-family: 'Cuprum-Regular';
        font-size: 22px;
        text-decoration: none;

        background: url('/assets/new-front-page/learn-more-arrow.png') center 35px no-repeat;
        background-size: 20px;
        padding-bottom: 40px;
        display: block;
        transition: text-shadow .5s linear;

        &:hover {
          background: url('/assets/new-front-page/learn-more-arrow-hover.png') center 35px no-repeat;
          background-size: 20px;
          text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &:active {
          background: url('/assets/new-front-page/learn-more-arrow-active.png') center 35px no-repeat;
          background-size: 20px;
          color: #B81D22;
        }
      }
    }

    .photographers {
      position: absolute;
      width: 30%;
      right: 0;
      top: 50%;
      min-height: 200px;
      transform: translateY(-50%);
      padding-left: 70px;

      img {
        position: relative;
        left: 60px;
      }

      background: #fff;
      z-index: 10;

      a {
        padding-left: 60px;
      }

      &:after {
        position: absolute;
        top: 0;
        left: -70px;
        content: ' ';
        width: 0;
        height: 0;
        border-top: 100px solid transparent;
        border-right: 70px solid #fff;
        border-bottom: 100px solid transparent;
      }

      &:hover {
        &:before {
          background: url('/assets/new-front-page/big-arrow-right-hover.png') center;
        }
      }

      &:active {
        &:before {
          background: url('/assets/new-front-page/big-arrow-right-active.png') center;
        }
      }

      &:before {
        content: ' ';
        width: 55px;
        height: 150px;
        background: url('/assets/new-front-page/big-arrow-right.png') center;
        position: absolute;
        left: -43px;
        bottom: 0;
        z-index: 10;
      }
    }
  }
}

/* }}} Desktop */

/* Mobile {{{ */

@media (max-width: 768px) {
  .front-page-full {
    position: relative;
    padding: 10px 0 200px 0;

    h1 {
      margin-top: 0;
      font-family: 'Cuprum-Regular';
      color: #000;
    }

    .focofox-connects {
      a {
        color: #dd402b;
        text-transform: lowercase;
        padding-bottom: 35px;
        text-decoration: none;
        font-family: 'Cuprum-Regular';

        background: url('/assets/new-front-page/learn-more-arrow.png') center 35px no-repeat;
        background-size: 20px;

        &:hover {
          background: url('/assets/new-front-page/learn-more-arrow-hover.png') center 35px no-repeat;
          background-size: 20px;
          text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &:active {
          background: url('/assets/new-front-page/learn-more-arrow-active.png') center 35px no-repeat;
          background-size: 20px;
          color: #B81D22;
        }
      }
    }

    .find-your-photos,
    .photographers {
      text-align: center !important;
      background: rgba(255, 255, 255, .53);
      min-height: 120px;
      padding: 10px 0 50px 0;

      p {
        color: #dd402b;
        font-size: 15px;
        margin: 0;
      }

      a {
        color: #fff;
        background: #dd402b;
        font-family: 'Cuprum-Regular';
        line-height: 40px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }

      img {
        max-height: 60px;
        margin-bottom: 10px;
      }
    }

    .find-your-photos {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
    }

    .photographers {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 50%;
    }
  }
}

/* }}} Mobile */

/* Footer {{{ */

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

/* }}} Footer */


