.demo {
  margin: 20px auto;
  overflow: hidden;
  width: 960px;
}

.bheader {
  background-color: #DDDDDD;
  border-radius: 10px 10px 0 0;
  padding: 10px 0;
  text-align: center;
}

.bbody {
  color: #000;
  overflow: hidden;
  padding-bottom: 20px;
  text-align: center;
  background: -moz-linear-gradient(#ffffff, #f2f2f2);
  background: -ms-linear-gradient(#ffffff, #f2f2f2);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(#ffffff, #f2f2f2);
  background: -o-linear-gradient(#ffffff, #f2f2f2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2')";
  background: linear-gradient(#ffffff, #f2f2f2);
}

.edit-user-avatar {
  .bbody h2, .info, .error {
    margin: 10px 0;
  }
}

.active-photo {
  overflow: hidden;
  text-align: center;
}

.photo-reel-photo {
  background-size: cover;
  display: inline-block;
  float: left;
  cursor: pointer;
  margin-right: 1px;
}

.edit-user-avatar {
  .step2, .error {
    display: none;
  }
}

.step2 {
  overflow: hidden;
}

.edit-user-avatar {
  .step2 img {}
  .error {
    font-size: 18px;
    font-weight: bold;
    color: red;
  }
  .info {
    font-size: 14px;
  }
  label {
    margin: 0 5px;
  }
}

.jcrop-holder {
  display: inline-block;
  width: 100%;
}

.edit-user-avatar input[type=submit] {
  background: #e3e3e3;
  border: 1px solid #bbb;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 150px;
  &:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer;
  }
  &:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000;
  }
}

.clip3 {
  clip-path: url(#c3);
  background-size: cover;
}

.metadata input {
  margin-bottom: 10px;
}

/* jquery.Jcrop.min.css v0.9.10 (build:20120429) */

.jcrop-holder {
  direction: ltr;
  text-align: left;
}

.jcrop-vline, .jcrop-hline {
  background: #FFF url(Jcrop.gif) top left repeat;
  font-size: 0;
  position: absolute;
}

.jcrop-vline {
  height: 100%;
  width: 1px !important;
}

.jcrop-hline {
  height: 1px !important;
  width: 100%;
}

.jcrop-vline.right {
  right: 0;
}

.jcrop-hline.bottom {
  bottom: 0;
}

.jcrop-handle {
  background-color: #333;
  border: 1px #eee solid;
  font-size: 1px;
}

.jcrop-tracker {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  height: 100%;
  width: 100%;
}

.jcrop-handle {
  &.ord-n {
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    top: 0;
  }
  &.ord-s {
    bottom: 0;
    left: 50%;
    margin-bottom: -4px;
    margin-left: -4px;
  }
  &.ord-e {
    margin-right: -4px;
    margin-top: -4px;
    right: 0;
    top: 50%;
  }
  &.ord-w {
    left: 0;
    margin-left: -4px;
    margin-top: -4px;
    top: 50%;
  }
  &.ord-nw {
    left: 0;
    margin-left: -4px;
    margin-top: -4px;
    top: 0;
  }
  &.ord-ne {
    margin-right: -4px;
    margin-top: -4px;
    right: 0;
    top: 0;
  }
  &.ord-se {
    bottom: 0;
    margin-bottom: -4px;
    margin-right: -4px;
    right: 0;
  }
  &.ord-sw {
    bottom: 0;
    left: 0;
    margin-bottom: -4px;
    margin-left: -4px;
  }
}

.jcrop-dragbar {
  &.ord-n, &.ord-s {
    height: 7px;
    width: 100%;
  }
  &.ord-e, &.ord-w {
    height: 100%;
    width: 7px;
  }
  &.ord-n {
    margin-top: -4px;
  }
  &.ord-s {
    bottom: 0;
    margin-bottom: -4px;
  }
  &.ord-e {
    margin-right: -4px;
    right: 0;
  }
  &.ord-w {
    margin-left: -4px;
  }
}

.jcrop-light {
  .jcrop-vline, .jcrop-hline {
    background: #FFF;
    filter: Alpha(opacity = 70) !important;
    opacity: 0.7 !important;
  }
  .jcrop-handle {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #000;
    border-color: #FFF;
    border-radius: 3px;
  }
}

.jcrop-dark {
  .jcrop-vline, .jcrop-hline {
    background: #000;
    filter: Alpha(opacity = 70) !important;
    opacity: 0.7 !important;
  }
  .jcrop-handle {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #FFF;
    border-color: #000;
    border-radius: 3px;
  }
}

.jcrop-holder img, img.jcrop-preview {
  max-width: none;
}

.photo-reel {
  float: left;
}

.picholder {
  &:hover {
    .overlay {
      opacity: 1;
    }
    .fancypics {
      opacity: 0.7;
    }
  }
  position: relative;
  margin-top: 5px;
}

/*Centering size and color shenenigans*/

.overlay {
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  height: 150px;
  width: 150px;
  margin: auto;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
}

.fancypics {
  width: 100%;
}

.text_box {
  color: white;
  weight: bold;
  font-size: 2em;
  padding: 10px;
  padding-bottom: 50%;
  text-align: center;
}

.picholder .name {
  left: -50px;
  bottom: -150px;
  position: relative;
  color: white;
  overflow: hidden;
}

#my-thumbs-list {
  overflow: auto;
  width: 800px;
  height: auto;
}

.mTSButton {
  &:hover {
    opacity: 1 !important;
  }
  height: 100% !important;
  top: 47% !important;
  opacity: 0 !important;
}

.thumb {
  .photo-saved, .active-indicator {
    display: none;
  }
  &.active .active-indicator, &.saved .photo-saved {
    display: block !important;
  }
}

.tab-content {
  width: 100%;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.animate-enter, .animate-leave {
  -webkit-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
}

.animate-enter {
  left: 100%;
  &.animate-enter-active {
    left: 0;
  }
}

.animate-leave {
  left: 0;
  &.animate-leave-active {
    left: -100%;
  }
}

.fancy {
  line-height: 0.5;
  text-align: center;
  span {
    display: inline-block;
    position: relative;
    &:before, &:after {
      content: "";
      position: absolute;
      height: 5px;
      border-bottom: 1px solid #ddd;
      border-top: 1px solid #ddd;
      top: 0;
      width: 80px;
    }
    &:before {
      right: 100%;
      margin-right: 15px;
    }
    &:after {
      left: 100%;
      margin-left: 15px;
    }
  }
}

.invi-textfield-sm {
  width: 80px;
  border: none;
}

.field-sm {
  width: 80px;
}

.img-container {
  display: inline-block;

}
.thumb {
    position:relative;
    overflow:hidden;
}
 
.caption {
    bottom:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:25px;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
    overflow: hidden;
    padding: 0px !important;
}
.thumbnail .image-preview{
  cursor: pointer;
}
.image-preview{
  .preview{
    img, canvas{
      /*width: 100%;*/
    }
  }
}
#selectable{
  position: relative;padding-bottom: 100px;
  .ui-selecting {background: #FECA40; }
  .ui-selected , .ui-selecting{
    /*background: rgba(9, 75, 131, 0.45) !important;*/
    color: white;
    .selected-icon{
      display: block !important;
    }
  }
  .ui-selected .preview{
    opacity: 0.5;
  }
}
.selected-icon{
  position: absolute;margin: 6px;font-size: 27px !important;
}
.ui-selectable-helper {position: absolute; z-index: 100; border:1px dotted black;}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.badge{
  color: #a94442 !important;
  background-color: #f2dede !important;
  border-color: #ebccd1 !important;
}
.errors{
  .badge-error{
    display: block;
    margin: 1px;
  }
}
ul.pagination, div.per-page {
display: inline-block;
vertical-align: middle;
}
div.per-page {
margin-left: 1em;
}
ul.pagination > li a {
display: inline-block;
min-width: 3em;
text-align: center;
}
[disabled]{
  .tags, input{
    background: rgb(238, 238, 238);
    pointer-events:none;
  }
}
.no-preview{
  background: url('/not-allowed-file-type.png') no-repeat center;
  background-size: cover !important;;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.no-preview[data-type^="image"]:not(.add-image){
  background: url('/image-preview-not-found.png') no-repeat center !important;
  background-size: cover !important;;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.no-preview.add-image[data-type^="image"]{
  background: url('/load-preview.gif') no-repeat center !important;
  background-size: cover !important;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.no-preview[data-type^="video"]{
  background: url('/video-preview-not-found.png') no-repeat center !important;
  background-size: cover !important;;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.ui-dialog-titlebar-close{
  background: url('/assets/close-btn.png');
}
.preview, #preview{
  canvas{
    vertical-align: top;
  }
  video{
    width: 100%;
    vertical-align: top;
  }
}