#map {
  width: 100%;
  overflow: hidden;
}

.selectCityButton {
  position: relative;
  display: block;
  width: 200px;
  padding: 10px 35px 10px 15px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background: #15C8E0;
  border: 2px solid #ffffff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 15px;
  &::after {
    position: absolute;
    z-index: 2;
    display: block;
    content: '';
    top: -24px;
    left: 110px;
    width: 0;
    border: 12px solid transparent;
    border-bottom-color: #15C8E0;
  }
  &::before {
    position: absolute;
    z-index: 1;
    display: block;
    content: '';
    top: -30px;
    left: 107px;
    width: 0;
    border: 15px solid transparent;
    border-bottom-color: #ffffff;
  }
  span {
    font-weight: 300;
    font-style: italic;
  }
}

.infoBox img {
  display: none;
}

.map-inputs{
  .row{
    margin-bottom: 15px;
  }
  .controls{
    text-decoration: underline;
  }
}