select[multiple]{
	option{
		// overflow: scroll;
	}
}
.ui-selected{
	img{
		opacity: 0.3;
	}
}
.photos{
	#photos-tab.has-count{
		padding-right: 0px;
	}
}
.preview{
	canvas{
		vertical-align: middle;
	}
}

.image-preview{
	img:after{
		content: '';
	}
}
img:not([src]), img[src=""]{
	min-width: 1px;
	background: url("/load-preview.gif") center;
	background-size: cover !important;
	min-height: 100%;
}
.preview-btn{
	display: none;
	position: absolute;
	color: white !important;
	font-size: 25px;
	z-index: 99;
	text-align: center;
	i{
		cursor: -webkit-zoom-in;
		vertical-align: bottom;
		&:before{
			background: gray;
			border-radius: 4px;
		}
	}
}
.thumbnail{
	&:hover{
		.preview-btn{
			display: block !important;
		}
	}
	&:not(.ui-selected){
		.image-preview {
			/*background: url("/assets/checkered.png") center;*/
		}
	}
}
#filterDateTimeTo.form-control[readonly], #filterDateTimeFrom.form-control[readonly]{
	cursor: default !important;
	background-color: white !important;
}
#DateFrom.form-control[readonly], #DateTo.form-control[readonly]{
	cursor: default !important;
	background-color: white !important;
}

.fb-share-btn{
	background: #415E9B;
	color: white;
}
#loading, #loading2{
	cursor: wait;
}
.disabled-text, .disabled_text{
	&, input, select{
		color: rgb(150, 147, 147) !important;
	}
}
.field-control{
	&.highlighted{
		font-weight: bold !important;
	}
	line-height: 2;
}
.video-thumb{
	display: none;
}
.video-thumb-active{
	display: block !important;
}
.photo-deails-table{
	tr, td{
		border: none !important;
	}
}
.pagination-md.links{
	margin: 0px;
	float: left;
}
.per-page{
	float: left;
	margin-top: 7px;
}
.preview.add-image{
	img, canvas{
		vertical-align: top;
	}
}