.pac-container{
	z-index: 99999999;
}
.watermark-position{
	border: 1px solid gainsboro;
	padding: 0px;
	text-align: center;
	td{
		width: 40px;
	}
}
.custom-display{
	
}
.img-list{
	.btn.delete-img{
		display: none;
	}
	&:hover{
		.btn.delete-img{
			display: block;
		}
	}
}

