@import 'variables';

html, body {
  background-color: $workspace-background-color;
}

.preview-photo .modal-dialog.modal-lg {
  width: 95% !important;
  height: 95% !important;
  padding: 0;
  .modal-content {    
    max-height: 100%;
    border-radius: 0;
    color:white;
    overflow:auto;
    #preview {
    }
  }

  ::-webkit-scrollbar
  {
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
  }

  ::-webkit-scrollbar-track
  {
    background: #41e5c9;
  }

  ::-webkit-scrollbar-thumb
  {
    background: #1b322e;
  }
}

.navbar.navbar-default {
  z-index: 999999;
  margin-bottom: 0;
}

.navbar-brand{
  padding: 5px;
  color: #428BCA !important;
}

@media (min-width: 768px) {
  .navbar-static-top .navbar-center {
    position: absolute;
    left: 50%;
    top: 1px;
    transform: translateX(-50%);

    li {
      position: relative;

      &.active,
      &:hover {
        background: none;

        a {
          background: none !important;
        }

        &:before {
          background: #d3573d;
        }
      }

      &:before {
        position: absolute;
        content: ' ';
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        background: #333;
      }
    }
  }
}

.navbar-static-top{
  background-color: $menu-background-color;
  border: none;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);

  li{
    a{
      color: $menu-text-color !important;
      font-family: 'Cuprum-Regular';
      font-size: 22px;
    }
  }
}

footer#footer {
  background: #fff;
  box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 99999;
}

footer{
  .copyright{
    font-family : Cuprum;
    font-size : 16px;
    color : #000000;
    margin: 0;

    &,.footer-links{
      display: inline;
    }
  }
  .footer-links a{
    padding-left: 20px;
    font-family : Cuprum;
    font-size : 20px;
    color : #000000;
  }
}

[type="range"]:focus{
  border: 1px solid #ccc !important;
}

.thumb-con{
  /*background: url("/assets/checkered.png") center;*/
  background-color: $thumbnail-background-color !important;
  canvas{
    vertical-align: top;
    max-height: 100%;
  }
}
.popover{
  z-index: 999;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
    margin-top: -22px;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    margin-top: -22px;
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
table.no-border{
  td, th{
    border-top: none !important;
  }
} 
.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.5s;
    display: block !important;
}

.animate-show.ng-hide-add.ng-hide-add-active, .animate-show.ng-hide-remove {
    opacity: 0;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}
.img-with-caption {
  padding: 10px;
  margin: 10px;
  text-align: left;
  .image{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.has-error{
  ul{
    li{
      color: red !important;
    }
  }
}
table#payments-table{
  tr.active{
    &,td{
      background: rgba(128, 128, 128, 0.3) !important;
    }
  }
}
.action-btn{
  cursor: pointer !important;
}

[ng-app="myPhotos"],[ng-app="addPhotos"],[ng-app="preferencesApp"],[ng-app="Photographer"]{ 
  #addPhotosTabContent, #photosTab li.active a{
    background-color: $photographer-dashboard-background-color !important;
  }
}

#photos-control,.pagination-control{
  background-color: $workspace-background-color !important;
}

#cards-panel{
  .panel-heading{
    background-color: $client-dashboard-bar-background-color !important;
  }
  .panel-body{
    background-color: $client-dashboard-window-background-color !important;
  }
}

[ng-app="checkoutApp"]{
  .header{
    border: 1px solid rgba(128, 128, 128, 0.24);
    background-color: $client-dashboard-bar-background-color !important;
  }
}
#successModal, #errorModal{
  .modal-header{
    border: 1px solid rgba(128, 128, 128, 0.24);
    background-color: $client-dashboard-bar-background-color !important;
  }
}
.client-dashboard#myTabContent,.client-dashboard#myTab li.active a{
  background-color: $client-dashboard-background-color !important;
}
[ng-app="userFindPHotosApp"],[ng-app="myFocofoxApp"]{
  .tab-content{
    &, & .well{
      background: $client-dashboard-background-color !important; 
    }
  }
  .nav-tabs{
    li.active{
      a{
        background: $client-dashboard-background-color !important; 
      }
    }
  }
}
#add-photos.tab-pane, .add-photos .action-btns{
  text-align: center;
  button,.btn{
    width: 215px;
  }
  .btn.start{
    height: 60px;
    margin-bottom: 30px;
  }
}
.filter-button{
  &,&:hover{
    color: white;
    background-color: $filter-button-background-color;
  }
  &:hover{
    opacity: 0.8;
  }
}
[ng-app="myPhotos"],[ng-app="addPhotos"],[ng-app="preferencesApp"]{ 
  .photographer-photos{
    .narrow-results{
      height: auto !important;
    }
    .date-filter-form{
      background: $photographer-dashboard-window-background-color;
      .input-group-addon{
        background: $photographer-dashboard-window-background-color;
        border: none;
      }
    }
  }
}
[ng-app="myPhotos"],[ng-app="addPhotos"],[ng-app="preferencesApp"],[ng-app="Photographer"]{ 
  #PhotosTabContent, .tab-content{
    background: $photographer-dashboard-background-color !important;
    .bar{
      background: $photographer-dashboard-bar-background-color;
    }
    .ui-accordion-content{
      background: transparent;
      border: none;
    }
  }
  .nav-tabs li.active a, #PreferencesTabContent, .tab-content{
    background: $photographer-dashboard-background-color !important;
  }
}

input[type='range']{
  box-shadow: none !important;
  & + .input-group-addon{
    min-width: 60px !important;
    border-left: 1px solid rgb(210, 194, 194) !important;
  }
}
.thumbnail{
  background-color: $thumbnail-background-color !important;
  border: none !important;
  padding: 0px !important;
  &.ui-widget-content{
    background: $thumbnail-background-color !important;
  }
  .image-preview{
    background-color: $thumbnail-background-color !important;
  }
  .ui-selected{
    .thumb-con img{
      opacity: 0.9 !important;
    }
  }
}
.thumbnails{
  width: 100%;
  height: auto;
  padding: 15px;
  &:focus{
    outline: 0 !important;
  }
}
.info .progress-bar{
  background: #f0ad4e;
}
.danger .progress-bar{
  background: #d9534f;
}
.success .progress-bar{
  background: #5cb85c;
}
.progress-bar-success{
  background-color: #0A9D0A !important;
}
.progress{
  background-color: rgba(148, 173, 58, 0.28) !important;
}
.sidebar-nav{
}
.avatar-preview{
  canvas{
    width: 100%;
  }
  img{
    width: 100%;
  }
}
#watermarked-image-preview center{
  cursor: -webkit-zoom-in;
}
.modal.preview-photo{
  z-index: 99999 !important;
}
#photos-list,.photos-list{
}
.paginate-anything{
  ul.pagination{
    li{
      font-size: 11px;
    }
  }
  .per-page{
    font-size: 14px;
    font-weight: bold;
  }
}
img.broken{

}
img.loaded{

}
.is-loading{
  background-image: url('/img/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
}
#loading-bar-spinner{
  left: auto !important;
  right: 15px !important;
}
.selected-icon.fa-check-circle:before{
  color: rgb(134, 103, 9);
}
.user-options{
  line-height: 0px !important;
  width: 100% !important;
  height: 13.5% !important;
  z-index: 99;
  background-color: $control-bar-background-color;
  *{
    color: #666666;
  }
}
/*
.location-preferences-dialog{
  .modal-dialog{
    width: 95% !important;
    height: 95% !important;
    padding: 0;
  }
}
*/
img{
   image-orientation: from-image;
}
#preview[orientation="portrait"] canvas{
  height: 100% !important;
  width: auto !important;
}
#preview[orientation="landscape"] canvas{
  height: auto !important;
  max-height: 100%;
  max-width: 100%;
}
.li-bg-main{
  background-color: $list-background-main;
}
.li-bg-al{
  background-color: $list-background-alternate;
}

.search-advice {
  margin-top: 20px;
  font-weight: bold;
}

.filter-controls-row {
  .control-info {
    font-weight: bold;
    display: inline-block;
    margin-left: 15px;
    position: relative;
    top: -5px;
  }
}

.bubble
{
  position: relative;
  width: 255px;
  height: 120px;
  padding: 7px;
  background: $bubble-background-color;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  border: $bubble-border-color solid 2px;
  &:after 
  {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 13px 36px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -36px;
    left: 50px;
  }

  &:before 
  {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 17px 45px;
    border-color: $bubble-border-color transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -45px;
    left: 46px;
  }
}
#accordion{
  h3 .label{
    border-radius: 8px;
  }
}
.brand-color-upper-text{
  font-weight: bold;
  font-size: 45px;
}
.brand-color-lower-text{
  font-weight: bold;
  font-size: 35px;
}
.brand-upper{

  h1 {
    margin: 0 0 20px 0;
  }
}
.users-featured-photos{
  img{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
  }
}
.brand-lower{
  padding-top: 0 !important;
}
.below-the-fold{
  background-color: $home-page-below-the-fold-background-color;
}
.upload-progress{
  .modal-header{
    background-color: $photographer-dashboard-bar-background-color;
  }
  .modal-body{
    background-color: $photographer-dashboard-background-color;
  }
  .upload-progress-bar{
    position: initial;
    background: none;
    padding: 0;
    margin: 0 auto;
    height: auto;
  }
}
.border-success{
  border: 1px solid green !important;
}
.border-danger{
  border: 1px solid #9B1D1D !important;
}
.inline{
  display: inline;
}
.no-padding{
  padding: 0px;
}
[aria-label="Select box activate"] {
  background-color: white !important;
  background: white !important;
}
.ui-datepicker-current {
  font-weight: bold !important;
  opacity: 2 !important;
}

.row.my-photos-filter-row {
  margin-bottom: 10px;
}

#photos-control {
  .paginate-anything {
    margin-left: 12px !important;
  }

  .sort-photos-form {
    padding: 0 12px 0 0;
    text-align: right;

    .sort-label {
      padding-left: 15px;
    }

    .size-label {
      line-height: 32px;

      input {
        margin: 0 auto;
        cursor: -webkit-grab;
        padding: 1px;
      }
    }
  }
}

input.datetime[readonly]{
  cursor: text;
  background-color: white;
}
.filter-select{
  width: 45px;
  background-color: gray;
  height: 21px;
  margin: 7px;
  border-radius: 2px;
  padding: 1px 8px;
  .dropdown-menu{
    margin: -8px 7px !important;
  }
}