/*3d button*/
@import 'color_variables.css.less';

.btn-primary{
  background-color: @primary-color !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00afe5", endColorstr="#0088b2");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00afe5), to(#0088b2));
  background-image: -moz-linear-gradient(top, #00afe5, #0088b2);
  background-image: -ms-linear-gradient(top, #00afe5, #0088b2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00afe5), color-stop(100%, #0088b2));
  background-image: -webkit-linear-gradient(top, #00afe5, #0088b2);
  background-image: -o-linear-gradient(top, #00afe5, #0088b2);
  background-image: linear-gradient(#00afe5, #0088b2);
  border-color: #0088b2 #0088b2 hsl(194, 100%, 32.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}
.btn-danger{
  background-color: hsl(0, 69%, 22%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b42121), to(#5e1111));
  background-image: -moz-linear-gradient(top, #b42121, #5e1111);
  background-image: -ms-linear-gradient(top, #b42121, #5e1111);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42121), color-stop(100%, #5e1111));
  background-image: -webkit-linear-gradient(top, #b42121, #5e1111);
  background-image: -o-linear-gradient(top, #b42121, #5e1111);
  background-image: linear-gradient(#b42121, #5e1111);
  border-color: #5e1111 #5e1111 hsl(0, 69%, 17%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
.btn-success{
  background-color: hsl(110, 56%, 39%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6fd05b", endColorstr="#3e9b2b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#6fd05b), to(#3e9b2b));
  background-image: -moz-linear-gradient(top, #6fd05b, #3e9b2b);
  background-image: -ms-linear-gradient(top, #6fd05b, #3e9b2b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6fd05b), color-stop(100%, #3e9b2b));
  background-image: -webkit-linear-gradient(top, #6fd05b, #3e9b2b);
  background-image: -o-linear-gradient(top, #6fd05b, #3e9b2b);
  background-image: linear-gradient(#6fd05b, #3e9b2b);
  border-color: #3e9b2b #3e9b2b hsl(110, 56%, 34%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
.btn-warning{
  background-color: hsl(41, 85%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efb73d", endColorstr="#a5750d");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#efb73d), to(#a5750d));
  background-image: -moz-linear-gradient(top, #efb73d, #a5750d);
  background-image: -ms-linear-gradient(top, #efb73d, #a5750d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efb73d), color-stop(100%, #a5750d));
  background-image: -webkit-linear-gradient(top, #efb73d, #a5750d);
  background-image: -o-linear-gradient(top, #efb73d, #a5750d);
  background-image: linear-gradient(#efb73d, #a5750d);
  border-color: #a5750d #a5750d hsl(41, 85%, 29%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
  -webkit-font-smoothing: antialiased;
}
.btn-white{
  background-color: hsl(0, 0%, 79%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134134134", endColorstr="#c9c9c9");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#134134134), to(#c9c9c9));
  background-image: -moz-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -ms-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #134134134), color-stop(100%, #c9c9c9));
  background-image: -webkit-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -o-linear-gradient(top, #134134134, #c9c9c9);
  background-image: linear-gradient(#134134134, #c9c9c9);
  border-color: #c9c9c9 #c9c9c9 hsl(0, 0%, 68.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
  -webkit-font-smoothing: antialiased;
}
button:disabled, .btn:disabled, .btn.disabled {
  opacity: 0.5;
  cursor: no-drop !important;
}
.btn-default:not(.filter-button){
  background-color: #EDE7E7;
}
