@import 'variables';

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
/*$screen-autoscrollable: 1057px;

@media (min-width: $screen-autoscrollable){
  .brand-upper{
    margin-top:-132px;
  }
}
@media(max-width: $screen-autoscrollable) and (min-width: $screen-sm-max){
  .brand-upper{
    margin-top:-78px;
  }
}*/

@media (min-width: $screen-md-min) {
  .brand-upper{
  }

  .page-center-separator{
    height: 455px;
    display:table;
    .text-center{
      display:table-cell;
      vertical-align:middle;
    }
  }

  #user-app .media-type-filter{
    width: 96px;
  }
  .form-signin.register{
    width: 50%;
  }
  .upload-progress-bar{
    position: fixed;
    z-index: 999 !important;
    height: 64px;
    padding: 27px;
    background-color: $workspace-background-color;
    top: 50px;
    .col-md-5.progress{
      right: 27px;
      position: absolute;
      padding:0;
    }
  }
  .half-sized-on-md{
    width: 50% !important;
    margin: 0 auto;
  }
  #photos-list,.photos-list{
    padding-right: 0px !important;
    margin-top: 15px !important;
    overflow: hidden;
  }
  [ng-app="myPhotos"],[ng-app="Photographer"]{
    .paginate-anything{
      /*margin-left: -17px !important;*/
    }
    #photos-control, .pagination-control{
      .photo-sort{
        padding-right: 38px !important;
      }
    }
  }
  [ng-app="userApp"]{
    .paginate-anything{
      /*padding-left: 17px !important;*/
    }
  }
  #filter-dialog{
  }
  .wrap-content{
    margin-top: 50px !important;
  }

  .navbar-static-top{
    top: 0;
    position: fixed;
    width: 100%;
  }
}

@media (max-width: $screen-md-min) {
  .brand-upper{
  }
  .form-signin.register{
    width: 100%;
  }
}
html,body {
  height: 100%;
  margin: 0 auto;
}

#wrap {
  height: auto !important;
}

#push,#footer {
}

#footnotes_debug {
  display: none;
  margin-top: 0 !important;
}
