@import 'variables';

#user-photos, #purchasesApp, #my_focofox{
  .thumbnail{
    background: white;
    border-radius: 0;
    margin: 2px;
    position: relative;
    display: inline-block;

    &.on-cart{
      .user-options{
        background-color: $control-bar-in-cart-background-color !important;
      }
    }

    .thumb-con img{
      vertical-align: middle;
      position: relative;
    }

    .user-options{
      display: inline-block;
      position: relative;
      padding: 8px;
      vertical-align: middle;
      background-color: $control-bar-background-color;

      *{
        color: #666666;
      }
    }
    .action-btn{
      cursor: pointer;
      display: inline-block;
    }
    .fa-cart-arrow-down{
      /*color: rgb(159, 255, 201);*/
    }
  
    .user-options:hover{
      .fa-cart-arrow-down{
        display: none !important;
      }
      .fa-remove{
        color: red !important;
        display: inline-block !important
      }
    }
  }
  #search_filter_map {
      height: 700px;
      margin: 0 auto;
      overflow: hidden;
    }
    .btn.ui-select-toggle{
      text-align: left !important;
    }
    .infobox{
      position: relative;
      display: block;
      padding: 10px 35px 10px 15px;
      font-size: 18px;
      overflow: hidden;
      font-weight: bold;
      text-decoration: none;
      color: #ffffff;
      background: #15C8E0;
      border: 2px solid #ffffff;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.3) 0 3px 15px;
    }
  
    #loadingCon{  
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:1000;
      background-color:grey;
      opacity: .8;
     }
  
    .ajax-loader {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -32px; /* -1 * image width / 2 */
        margin-top: -32px;  /* -1 * image height / 2 */
        display: block;     
    }
    .scrollFix {
        line-height: 1.35;
        overflow: hidden;
        white-space: nowrap;
      }
    
    div.per-page{
      margin-left: 0px !important;
    }
    .sidebar-nav{
      .well{
        border-radius: 0px !important;
        padding: 28px;
        border: none;
      }
    }

    #controls{
      z-index: 999 !important;
      float: right;
      .nav-tabs{
        li a[aria-controls]{
          border-radius: 0px;
        }
      }
    }
}

.filter-controls-row {
  padding-top: 10px;
}
