@import 'variables';

.form-signin {
  max-width: 500px; 
  display:block;
  background-color: $client-dashboard-background-color;
  -moz-box-shadow: 0 0 3px 3px #888 !important;
  -webkit-box-shadow: 0 0 3px 3px #888 !important;
	box-shadow: 0 0 3px 3px #888 !important;
  /*border-radius:2px;*/
}
.main{
	padding: 38px;
}
.social-box{
  margin: 0 auto;
  padding: 38px;
  padding-top: 8px;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}
.heading-desc{
	font-size:20px;
	font-weight:bold;
	border-bottom: 1px solid;
  padding: 25px;
	background: $client-dashboard-bar-background-color !important;
  border-color: #ddd;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: 42px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  /*border-radius: 5px;*/
  
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  /*border-radius: 5px;*/
}
.login-footer{
	background:#f0f0f0;
	margin: 0 auto;
	border-top: 1px solid #dadada;
	padding:20px;
}
.login-footer .left-section a{
	font-weight:bold;
	color:#8a8a8a;
	line-height:19px;
}
.mg-btm{
	margin-bottom:20px;
}
.social-box{
  .mg-btm{
    a:hover{
      color: white;
    }
  }
}
.fb-login{
  color: white;
  background: #46629E;
}
.gplus-login{
  color: white;
  background: #DD4B39;
}
.linkedin-login{
  color: white;
  background-color: #1A86BB;
}