/*GLobal*/
$workspace-background-color: #F2F2EE;
$menu-background-color: #fff;
$menu-text-color: #000;
$filter-button-background-color: #009E0F;

/*Photographer*/
$photographer-dashboard-background-color: #EEFFEE;
$photographer-dashboard-window-background-color: #E0F1E0;
$photographer-dashboard-bar-background-color: #EEFF99;
$photographer-workspace-background-color: #F2F2EE;

/*Normal User/Visitor/Customer*/
$client-dashboard-background-color: #ffffee;
$client-dashboard-window-background-color: #FFFFFF;
$client-dashboard-bar-background-color: #FFFF99;

$preview-bar-background-color: #FFD966;
$control-bar-background-color: #FFD966;
$thumbnail-background-color: #FFE599;
$control-bar-in-cart-background-color: #F5B97F;

$primary-color: #2b78e4;

$list-background-main: #DDDDDD;
$list-background-alternate: #EEEEEE; 

$bubble-background-color: #FFFFFF;
$bubble-border-color: #5F5F59;

$brand-upper-background-color: #DDDDDD;
$brand-lower-background-color: #F2F2EE;
$home-page-below-the-fold-background-color: #6FA8DC;
