aside.row.main{
  img{
    width: 100%;
  }
}

.img-bottom{
  ul{
    margin: 0px !important;
    li{
      margin: 0px !important;
      height:250px;
      padding: 4px !important;
      a{
        background-size: cover !important;
        background-repeat: no-repeat !important;
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
}
