#preferences{:'ng-app'=>'preferencesApp', :'ng-controller'=>'MainController', :'ng-init'=>"watermarks=#{current_user.watermark_lists.to_json(methods: [:photo_url])};default_watermark=#{current_user.default_watermark.try(:id)||Watermark.where(name: :default).first.try(:id)};licenses=#{current_user.license_lists.to_json(methods: [:attachment_url])};default_license=#{current_user.default_license.try(:id)||License.first.try(:id)};default_location=#{current_user.default_location.try(:id)||0};default_photo_price=#{current_user.default_photo_price||10};photos_count=#{current_user.photos.count}"}
  .col-md-4.col-sm-12.col-xs-12#controls{:'ng-cloak'=>true}
    .bs-tabs.photos.sidebar-nav{:"data-id" => "togglable-tabs", :role => "tabpanel"}
      %ul#preferencesTab.nav.nav-tabs{:role => "tablist"}
        %li{:role => "presentation"}
          %a#add-photos-tab{:"aria-controls" => "add-photos", :"aria-expanded" => "true", :href => "#{photographer_index_path}#/add-photos", :role => "tab"}
            = t '.add_photos'
        %li{:role => "presentation"}
          %a#photos-tab.has-count{:"aria-controls" => "photos", :href => photographer_photos_path, :role => "tab"}
            = t '.my_photos'
            %sup
              ({{photos_count}})
        %li.active{:role => "presentation"}
          %a#preferences-tab{:"aria-controls" => "preferences", :href => "#preferences", :role => "tab", "data-toggle" => "tab"}
            = t '.my_preferences'

      #PreferencesTabContent.tab-content{style: 'display: inline-block;background:white;'}
        #preferences.tab-pane.fade.in.active{:"aria-labelledby" => "add-photos-tab", :role => "tabpanel"}
          %p.subtitle.fancy
            %span= t '.photo_preferences'

          %br
          %p.col-md-12
            = t '.default_price_for_new'

            %input.field-sm{:'ng-model'=>'default_photo_price'}

          %br
          %p.col-md-12{:'ng-init'=>"locations=#{current_user.locations.to_json};"}
            = t '.default_location'

            .col-md-6
              %select.form-control{:'ng-options'=>"l.id as l.name for l in locations", :'ng-model'=>'default_location', :'ng-disabled'=>'locations.length<=0', :'ng-change'=>'mark_default_location(default_location)'}
            .col-md-3
              .btn.btn-primary{:'ng-click'=>'newLocation()'}
                = t '.add_new'

            .col-md-3
              .btn.btn-primary{:'ng-click'=>'editLocation()', :'ng-disabled'=>'locations.length<=0 || !!!default_location'}
                = t '.edit'

          %br
          .clearfix
          %br
          %p.col-md-12
            = t '.default_license'

            .col-md-6
              %select.form-control{:'ng-options'=>"l.id as l.title for l in licenses", :'ng-model'=>'default_license', :'ng-disabled'=>'licenses.length<=0', :'ng-change'=>'mark_default_license(default_license)'}
            / .col-md-3
            / 	.btn.btn-primary{:'ng-click'=>'newLicense()'} Add new
            .col-md-3
              .btn.btn-primary{:'ng-click'=>'editLicense()', :'ng-disabled'=>'licenses.length<=0 || !!!default_license'} {{editPreviewLicenseLabel()}}
          %br
          .clearfix
          %br
          %p.col-md-12
            = t '.default_watermark'

            .col-md-6
              %select.form-control{:'ng-options'=>"w.id as w.name for w in watermarks", :'ng-model'=>'default_watermark', :'ng-disabled'=>'watermarks.length<=0', :'ng-change'=>'mark_default_watermark(default_watermark)'}
            .col-md-3
              .btn.btn-primary{:'ng-click'=>'newWatermark()'}
                = t '.add_new'

            .col-md-3
              .btn.btn-primary{:'ng-click'=>'editWatermark()', :'ng-disabled'=>'watermarks.length<=0 || !!!default_watermark'} {{watermarkEditPreviewLabel()}}

  .col-md-8.col-sm-12.col-xs-12#photos

  %script{type: 'text/ng-template', id: 'new-watermark.html'}
    = render partial: "/photographer/preferences/watermarks/new"
  %script{type: 'text/ng-template', id: 'edit-watermark.html'}
    = render partial: "/photographer/preferences/watermarks/edit"
  %script{type: 'text/ng-template', id: 'new-location.html'}
    = render partial: "/photographer/preferences/locations/new"
  %script{type: 'text/ng-template', id: 'edit-location.html'}
    = render partial: "/photographer/preferences/locations/edit"
  %script{type: 'text/ng-template', id: 'watermark-option.html'}
    = render partial: "/photographer/preferences/watermarks/option"
  %script{type: 'text/ng-template', id: 'watermark-images.html'}
    = render partial: "/photographer/preferences/watermarks/images"
  %script{type: 'text/ng-template', id: 'new-license.html'}
    = render partial: "/photographer/preferences/licenses/new"
  %script{type: 'text/ng-template', id: 'edit-license.html'}
    = render partial: "/photographer/preferences/licenses/edit"

  .loading#loading{style: 'position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 10401;background: transparent;text-align:center;opacity: 0.9;display: none;'}
    %center
      %img{:'ng-src'=>'/img/loading.gif'}

- content_for :header_scripts do
  = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyDszs__EHGFricBCe3NvtSkVIX7uyFbSIQ&extension=.js&libraries=places&sensor=false'

- content_for :footer_scripts do
  = javascript_include_tag "ng-modules/preferences/application"
