.modal.fade#helpTooltipUploader
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden: true}} &times;
        %h4.modal-title#helpTooltipUploaderLabel Modal Title


      = form_tag manage_help_tooltips_path, remote: true, method: :post do
        = hidden_field_tag 'slug'

        .modal-body
          %ul.nav.nav-tabs{role: 'tablist'}
            %li.active
              %a{href: '#help_tooltip_en', data: {toogle: 'tab'}} English
            %li
              %a{href: '#help_tooltip_es', data: {toogle: 'tab'}} Spanish

          .tab-content
            .tab-pane.active#help_tooltip_en
              = text_area_tag 'text_en', nil, placeholder: 'English version'

            .tab-pane#help_tooltip_es
              = text_area_tag 'text_es', nil, placeholder: 'Spanish version'

        .modal-footer
          %button.btn.btn-default{data: {dismiss: 'modal'}} Close
          %button.btn.btn-primary{type: 'submit'} Save
