.col-lg-3
  .well.sidebar-nav
    %h3= t '.sidebar'
    %ul.nav.nav-list
      %li.nav-header= t '.sidebar'
      %li= link_to "Link1", "/path1"
      %li= link_to "Link2", "/path2"
      %li= link_to "Link3", "/path3"
