.navbar.navbar-default.navbar-static-top
  .container-fluid
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

    = link_to image_tag("/assets/new-front-page/logo.png", style: 'height:100%;'), root_path, class: "navbar-brand"

    .navbar-collapse.collapse.navbar-responsive-collapse.focofox-top-menu
      %ul.nav.navbar-nav.navbar-center
        = active_link_to t('.find_photos'), users_search_index_path, :wrap_tag => :li
        = active_link_to t('.my_focofox'), my_focofox_pages_path, :wrap_tag => :li
        = active_link_to t('.support'), "/support", :wrap_tag => :li

      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li#fat-menu.dropdown
            %a#drop3.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "false", "data-toggle" => "dropdown", :href => "javascript:void(0)", :role => "button"}
              Welcome
              %strong
                = current_user.display_name

              %img{:'src'=>current_user.avatar.url(:thumb), width: 18}

              %span.caret

            %ul.dropdown-menu{"aria-labelledby" => "drop3", :role => "menu"}
              - if current_user.try(:admin?)
                %li= link_to t('.admin_dashboard'), "#{admin_index_path}"

              - if current_user.try(:verified_photographer?)
                %li= link_to t('.photographer_dashboard'), "#{photographer_index_path}#/add-photos"

              %li= link_to(t('.payment_methods'), payment_methods_path)
              %li= link_to(t('.purchase_history'), "#{my_focofox_pages_path}/#purchase-history")
              %li= link_to(t('.my_account'),edit_user_registration_path)
              %li= link_to t('.logout'), destroy_user_session_path, method: :delete

        - else
          %li= link_to t('.login'), new_user_session_path
          %li= link_to t('.join'),  new_user_registration_path

        %li.dropdown
          %a#drop-locales.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "false", "data-toggle" => "dropdown", :href => "javascript:void(0)", :role => "button"}
            = I18n.locale.to_s.upcase

          %ul.dropdown-menu{"aria-labelledby" => "drop-locales", :role => "menu"}
            - [ :en, :es ].each do |lang|
              %li{class: (I18n.locale == lang) ? 'active' : ''}
                = link_to lang.to_s.capitalize, params.merge(locale: lang)

