%form{name: 'license_form', :'ng-init'=>'disabled=!!!license.user_id;action="edit"'}
  .modal-header
    %h3.modal-title
      = t '.edit_license'
      %i{:'ng-hide'=>'{{license.user_id}}'}= t '.view_only'
  .modal-body
    = render partial: 'photographer/preferences/licenses/form'
  .modal-footer
    %button.btn.btn-primary{"ng-click" => "ok('update')", :'ng-disabled'=>'license_form.$invalid || !!!license.user_id'}
      = t '.save'
    %button.btn.btn-primary{"ng-click" => "delete()", :'ng-disabled'=>'!!!license || !!!license.user_id'}
      = t '.delete'
    %button.btn.btn-warning{"ng-click" => "cancel()"}
      = t '.cancel'

