%label.control-label{:for => "title"}= t '.title'
.controls
  %input.form-control{name: 'title', :'ng-model'=>'license.title', :type => "text", :'ng-disabled'=>'disabled'}/

%label.control-label{:for => "description"}= t '.description'
.controls
  %textarea.form-control{name: 'description', :'ng-model'=>'license.description', rows: 12, :'ng-disabled'=>'disabled'}

%br
%label.control-label{:for => "document", :'ng-if'=>'action=="create"'}
  = t '.attach_document'
  .controls
    %input.btn.btn-file.form-control.upload{name: 'attachment', type: :file, style: 'padding: 0', :'ng-disabled'=>'disabled'}

%label.control-label{:for => "document", :'ng-if'=>'action=="edit"'}
  %a{:'ng-href'=> '{{license.attachment_url}}', target: '_blank'} {{license.attachment_file_name}}
  %br
  = t '.update_attached'
  .controls
    %input.btn.btn-file.form-control.upload{name: 'attachment', type: :file, style: 'padding: 0', :'ng-disabled'=>'disabled'}

