%form{name: 'license_form', :'ng-init'=>'action="create"'}
  .modal-header
    %h3.modal-title= t '.add_new'
  .modal-body
    = render partial: 'photographer/preferences/licenses/form'
  .modal-footer
    %button.btn.btn-primary{"ng-click" => "ok('create')", :'ng-disabled'=>'license_form.$invalid'}
      = t '.save'
    %button.btn.btn-warning{"ng-click" => "cancel()"}= t '.cancel'

