- name = @resource.name || @resource.first_name || @resource.email

%p= t '.greeting', recipient: name, default: t('.greeting', name: name)
%p= t '.instruction', default: t('.instruction')
%p= link_to t '.action', default: t('.action'), confirmation_url(@resource, confirmation_token: @token, locale: I18n.locale)
