<p> <%= t '.greeting', email: @resource.email %> </p>

<p><%= t '.password_request' %></p>

<p><%= link_to t('.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t '.ignore_email' %></p>
<p><%= t '.access_link_note' %></p>
