<p><%= t '.greeting', email: @resource.email %></p>

<p><%= t '.account_has_been_locked' %></p>

<p><%= t '.unlock_account_note' %></p>

<p><%= link_to t('.unlock_account'), unlock_url(@resource, unlock_token: @token) %></p>
