- content_for :header_scripts do
  =# stylesheet_link_tag "home_page/application", :media => "all"

/# #fullpage{:"ng-app"=>"regApp", "ng-controller"=>"registrationController"}

.front-page-full
  .find-your-photos.text-right
    = image_tag '/assets/new-front-page/skateboard.png'
    %p= t '.you'

    = link_to t('.find_photos'), users_search_index_path

  .focofox-connects.text-center
    %h1= t '.focofox_connects'
    = link_to t('.learn_more'), 'javascript:void(0)'

  .photographers
    = image_tag '/assets/new-front-page/camera.png'
    %p= t '.photographers'

    = link_to t('.photographers_dashboard'), users_search_index_path


-# #fullpage
  .section.front-page-welcome-screen
    .welcome-screen-wrapper.text-center
      .brand-upper.text-center.top-learn-more-bar
        %h1.brand-color-upper-text
          = t '.focofox_connects'
        %h3
          = link_to t('.learn_more'), 'javascript:void(0)'

      %aside.row.main.brand-lower.front-page-images
        .col-md-5.col-sm-5.text-center
          .front-page-heading
            %h2.brand-color-lower-text
              = t '.you'
            %h4
              = link_to t('.find_photos'), users_search_index_path,
                class: 'btn btn-success'

        .col-md-5.col-sm-5.col-md-offset-2.col-sm-offset-2.text-center
          .front-page-heading
            %h2.brand-color-lower-text
              = t '.photographers'

            %h4
              = link_to t('.photographers_dashboard'), photographer_index_path,
                class: 'btn btn-success'
    = link_to t('.learn_more'), 'javascript:void(0)', class: "learn-more-animated"

  .section.bottom-images-section
    %aside.img-bottom.below-the-fold
      %h2= t '.below_text'

      %ul.list-inline.row
        - 4.times do
          %li.col-md-3.col-lg-3.col.sm-6.col-xs-6
            %a

- content_for :header_scripts do
  :scss
    .flash-messages, .alert.alert-block{
      display: none;
    }

  %script
    window.flash_success = "#{flash['success']}";
    window.flash_errors = "#{flash['errors']}";
    window.flash_alert = "#{flash['alert']}";
    window.flash_notice = "#{flash['notice']}";
    window.validation_errors = #{(@user.try(:errors).try(:messages)||[]).to_json().html_safe}

- content_for :footer_scripts do
  =# javascript_include_tag "ng-modules/registration/application"
