.col-md-4.col-sm-12.col-xs-12#controls
  %div{:'ng-include'=>true, src: "'ng-modules/admin/views/statistics/shared/_sidebar.html'"}

.col-md-8.col-sm-12.col-xs-12.pull-right#list
  %center
    %h3
      Photographers Funnel Report

  %br
  .activities-list
    .row
      / Photos Count Graph
      .col-md-1
        %h4{style: '-webkit-transform: rotate(-90deg);letter-spacing: 1px;line-height:15'}
          Clients

      .col-md-11
        %button.btn.btn-default{style: 'height: 27px;line-height: 1;', :'ng-click'=>'showDateTimeFilterForm=!showDateTimeFilterForm'} Change Date Range
        &nbsp;
        %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{"ng-dblclick" => "removeDateTimeFilter()", :'ng-if'=>'client_funnel_filter.from && client_funnel_filter.to'}
          %span.close.ui-select-match-close{"ng-click" => "removeDateTimeFilter()"} ×
          %span {{client_funnel_filter.from}} - {{client_funnel_filter.to}}

        %div{:'ng-show'=>'showDateTimeFilterForm', style: 'border: 1px solid gray;padding-bottom: 15px;box-shadow: 1px 1px 1px 1px gray;border: 1px solid gray;position: absolute;width: 363px;background-color: white;'}
          %form{:'ng-submit'=>'addDateTimeFilter()'}
            .input-group{style: 'margin-right:-1px;'}
              .input-group-addon
                = I18n.t 'from'
                %input.datetime.form-control{"ng-model" => "datetime_filter_from", :type => "text"}/
              .input-group-addon
                = I18n.t 'to'
                %input.datetime.form-control{"ng-model" => "datetime_filter_to", :type => "text"}/
            %br
            .actions.pull-right
              %button.btn.btn-primary{type: :submit, style: 'margin-right:18px;', :'ng-disabled'=>'!(datetime_filter_from&&datetime_filter_to)'}= I18n.t 'add'
              %button.btn.btn-warning{type: :button, :"ng-click" => "showDateTimeFilterForm=false", style: 'margin-right: 18px;'}= I18n.t 'cancel'
        
        %center{:'ng-show'=>'labels.length<=0', style: 'line-height:10'}
          %strong -- No data found -- 
        .graph{:'ng-class'=>'{empty: labels.length<=0}'}
          %canvas#line.chart.chart-line{:click => "onClick", :data => "data", :labels => "labels", :legend => "true", series: 'series', colours: ''}
        
        %center{style: 'letter-spacing: 15px'}
          %h4 Time
