.col-md-4.col-sm-12.col-xs-12#controls
  %div{:'ng-include'=>true, src: "'ng-modules/admin/views/statistics/shared/_sidebar.html'"}

.col-md-8.col-sm-12.col-xs-12.pull-right#list
  %center
    %h3
      Client's Activity

  .row
    %bgf-pagination.pull-left{"client-limit" => "clientLimit", :collection => "activities", "link-group-size" => "2", :page => "page", "per-page" => "perPage", :'auto-presets'=>'false', :'per-page-presets'=>'perPagePresets', "template-url" => "ng-modules/common/views/global-paginate-anything-tpl.html", :url => "clients_statistics_url", :'headers'=>"filterq", :'num-items'=>true, :'link-group-size'=>'0'}
  %br
  .row
    %span
      %button.btn.btn-default{style: 'height: 27px;line-height: 1;', :'ng-click'=>'showDateTimeFilterForm=!showDateTimeFilterForm'} Date Range
      .row{:'ng-show'=>'showDateTimeFilterForm', style: 'border: 1px solid gray;padding-bottom: 15px;box-shadow: 1px 1px 1px 1px gray;border: 1px solid gray;position: absolute;width: 363px;background-color: white;'}
        %form{:'ng-submit'=>'addDateTimeFilter()'}
          .input-group{style: 'margin-right:-1px;'}
            .input-group-addon
              = I18n.t 'from'
              %input.datetime.form-control{"ng-model" => "datetime_filter_from", :type => "text"}/
            .input-group-addon
              = I18n.t 'to'
              %input.datetime.form-control{"ng-model" => "datetime_filter_to", :type => "text"}/
          %br
          .actions.pull-right
            %button.btn.btn-primary{type: :submit, style: 'margin-right:18px;', :'ng-disabled'=>'!(datetime_filter_from&&datetime_filter_to)'}= I18n.t 'add'
            %button.btn.btn-warning{type: :button, :"ng-click" => "showDateTimeFilterForm=false", style: 'margin-right: 18px;'}= I18n.t 'cancel'
      
      &nbsp;
      %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{"ng-dblclick" => "removeDateTimeFilter()", :'ng-if'=>'filter.date_time.from&&filter.date_time.to'}
        %span.close.ui-select-match-close{"ng-click" => "removeDateTimeFilter()"} ×
        %span {{filter.date_time.from}} - {{filter.date_time.to}}
    
    &nbsp;&nbsp;
    %span
      %button.btn.btn-default{style: 'height: 27px;line-height: 1;', :'ng-click'=>'pickLocation()'} Near Location
      &nbsp;
      %input{type: 'number', name: 'distance', placeholder: '  km', style: 'width: 50px', :'ng-disabled'=>'!filter.location.latitude', :'ng-model'=>'distance', :'ng-blur'=>'filter.distance=distance'}
      &nbsp;
      %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{"ng-dblclick" => "removeLocationFilter()", :'ng-if'=>'filter.location.latitude'}
        %span.close.ui-select-match-close{"ng-click" => "removeLocationFilter()"}  ×
        %span {{filter.distance}}km from {{filter.location.name||(filter.location.latitude+','+filter.location.longitude)}}
  %br
  .row.activities-list
    %table.table.table-hover{:border => "0", "ts-wrapper" => ""}
      %thead
        %tr
          %th{"ts-criteria" => "joined_date", "ts-default" => ""} Joined
          %th{"ts-criteria" => "email|lowercase"} Client's Email
          %th{"ts-criteria" => "locations_count|parseInt"} Locations
          %th{"ts-criteria" => "purchases_count|parseInt"} Purchases
          %th{"ts-criteria" => "total_spent|parseFloat"} Spent
          %th{"ts-criteria" => "viewed_photos_count|parseInt"} Photos Views
          %th{"ts-criteria" => "viewed_thumbs_count|parseInt"} Thumb Views
      %tbody
        %tr{"ng-repeat" => "activity in activities track by $index", "ts-repeat" => "", :'class'=>"{{$index%2==0 ? 'li-bg-main' : 'li-bg-al'}}"}
          %td {{activity.joined_date}}
          %td {{activity.email}}
          %td
            %a{:'ui-sref'=> 'clients_activity_locations({client_id: activity.client_id||activity.id, client_name: activity.client_name})'}
              {{activity.locations_count}}
          %td
            %a{:'ng-href'=> '/admin/my_focofox/?user_id={{activity.id}}'}
              {{activity.purchases_count}}
          %td ${{activity.total_spent}}
          %td {{activity.viewed_photos_count}}
          %td {{activity.viewed_thumbs_count}}
 