.col-md-4.col-sm-12.col-xs-12#controls
	%div{:'ng-include'=>true, src: "'ng-modules/admin/views/statistics/shared/_sidebar.html'"}
  
.col-md-8.col-sm-12.col-xs-12#photos-list
	Hello world statistics index