.col-md-4.col-sm-12.col-xs-12#controls
	%div{:'ng-include'=>true, src: "'ng-modules/admin/views/statistics/shared/_sidebar.html'"}

.col-md-8.col-sm-12.col-xs-12.pull-right#list
	%center
		%h3
			Photographer's Activity

	.row
		%bgf-pagination.pull-left{"client-limit" => "clientLimit", :collection => "activities", "link-group-size" => "2", :page => "page", "per-page" => "perPage", :'auto-presets'=>'false', :'per-page-presets'=>'perPagePresets', "template-url" => "ng-modules/common/views/global-paginate-anything-tpl.html", :url => "photographers_statistics_url", :'headers'=>"", :'num-items'=>true, :'link-group-size'=>'0'}
	%br
	.row.activities-list
		%table.table.table-hover{:border => "0", "ts-wrapper" => ""}
			%thead
				%tr
					%th{"ts-criteria" => "joined_date", "ts-default" => ""} Joined
					%th{"ts-criteria" => "photographer_name|lowercase"} Photographers
					%th{"ts-criteria" => "locations_count|parseInt"} Locations
					%th{"ts-criteria" => "uploads_count|parseInt"} Uploads
					%th{"ts-criteria" => "space_in_mb|parseFloat"} Space MB
					%th{"ts-criteria" => "photo_solds_count|parseInt"} Photos Sold
					%th{"ts-criteria" => "photo_views_count|parseInt"} Photos Views
					%th{"ts-criteria" => "thumb_views_count|parseInt"} Thumb Views
			%tbody
				%tr{"ng-repeat" => "activity in activities track by $index", "ts-repeat" => "", :'class'=>"{{$index%2==0 ? 'li-bg-main' : 'li-bg-al'}}"}
					%td {{activity.joined_date}}
					%td {{activity.photographer_name}}
					%td
						%a{:'ui-sref'=> 'photographers_activity_locations({photographer_id: activity.photographer_id, photographer_name: activity.photographer_name})'} {{activity.locations_count}}
					%td {{activity.uploads_count}}
					%td {{activity.space_in_mb}}
					%td {{activity.photo_solds_count}}
					%td {{activity.photo_views_count}}
					%td {{activity.thumb_views_count}}
 