.col-md-4.col-sm-12.col-xs-12#controls
  %div{:'ng-include'=>true, src: "'ng-modules/admin/views/statistics/shared/_sidebar.html'"}

.col-md-8.col-sm-12.col-xs-12.pull-right#list
  %center
    %h3
      Sales Activity

  %br
  .activities-list
    .row
      / Photos Count Graph
      .col-md-1
        %h4{style: '-webkit-transform: rotate(-90deg);letter-spacing: 15px;line-height:15'}
          Dollar

      .col-md-11
        %button.btn.btn-default{style: 'height: 27px;line-height: 1;', :'ng-click'=>'showDateTimeFilterForm=!showDateTimeFilterForm'} Change Date Range
        &nbsp;
        %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{"ng-dblclick" => "removeDateTimeFilter()", :'ng-if'=>'stat_dollar_filter.from && stat_dollar_filter.to'}
          %span.close.ui-select-match-close{"ng-click" => "removeDateTimeFilter()"} ×
          %span {{stat_dollar_filter.from}} - {{stat_dollar_filter.to}}

        %div{:'ng-show'=>'showDateTimeFilterForm', style: 'border: 1px solid gray;padding-bottom: 15px;box-shadow: 1px 1px 1px 1px gray;border: 1px solid gray;position: absolute;width: 363px;background-color: white;'}
          %form{:'ng-submit'=>'addDateTimeFilter()'}
            .input-group{style: 'margin-right:-1px;'}
              .input-group-addon
                = I18n.t 'from'
                %input.datetime.form-control{"ng-model" => "datetime_filter_from", :type => "text"}/
              .input-group-addon
                = I18n.t 'to'
                %input.datetime.form-control{"ng-model" => "datetime_filter_to", :type => "text"}/
            %br
            .actions.pull-right
              %button.btn.btn-primary{type: :submit, style: 'margin-right:18px;', :'ng-disabled'=>'!(datetime_filter_from&&datetime_filter_to)'}= I18n.t 'add'
              %button.btn.btn-warning{type: :button, :"ng-click" => "showDateTimeFilterForm=false", style: 'margin-right: 18px;'}= I18n.t 'cancel'
        
        %center{:'ng-show'=>'labels.length<=0', style: 'line-height:10'}
          %strong -- No data found -- 
        .graph{:'ng-class'=>'{empty: labels.length<=0}'}
          %canvas#line.chart.chart-line{:click => "onClick", :data => "data", :labels => "labels", :legend => "false"}
        
        %center{style: 'letter-spacing: 15px'}
          %h4 Time

    .row
      / Dollar Graph
      .col-md-1
        %h4{style: '-webkit-transform: rotate(-90deg);margin-top:150px;letter-spacing: 5px;'}
          Photos/Videos Sold

      .col-md-11
        %button.btn.btn-default{style: 'height: 27px;line-height: 1;', :'ng-click'=>'showDateTimeFilterForm2=!showDateTimeFilterForm2'} Change Date Range
        &nbsp;
        %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{"ng-dblclick" => "removeDateTimeFilter2()", :'ng-if'=>'stat_photos_count_filter.from && stat_photos_count_filter.to'}
          %span.close.ui-select-match-close{"ng-click" => "removeDateTimeFilter2()"} ×
          %span {{stat_photos_count_filter.from}} - {{stat_photos_count_filter.to}}

        %div{:'ng-show'=>'showDateTimeFilterForm2', style: 'border: 1px solid gray;padding-bottom: 15px;box-shadow: 1px 1px 1px 1px gray;border: 1px solid gray;position: absolute;width: 363px;background-color: white;'}
          %form{:'ng-submit'=>'addDateTimeFilter2()'}
            .input-group{style: 'margin-right:-1px;'}
              .input-group-addon
                = I18n.t 'from'
                %input.datetime.form-control{"ng-model" => "datetime_filter_from2", :type => "text"}/
              .input-group-addon
                = I18n.t 'to'
                %input.datetime.form-control{"ng-model" => "datetime_filter_to2", :type => "text"}/
            %br
            .actions.pull-right
              %button.btn.btn-primary{type: :submit, style: 'margin-right:18px;', :'ng-disabled'=>'!(datetime_filter_from2&&datetime_filter_to2)'}= I18n.t 'add'
              %button.btn.btn-warning{type: :button, :"ng-click" => "showDateTimeFilterForm2=false", style: 'margin-right: 18px;'}= I18n.t 'cancel'
        
        %center{:'ng-show'=>'labels2.length<=0', style: 'line-height:10'}
          %strong -- No data found -- 

        .graph2{:'ng-class'=>'{empty: labels2.length<=0}'}
          %canvas#line.chart.chart-line{:click => "onClick", :data => "data2", :labels => "labels2", :legend => "false"}
        
        %center{style: 'letter-spacing: 15px'}
          %h4 Time
