.col-md-4.col-sm-12.col-xs-12#controls
  %div{:'ng-include'=>true, src: "'ng-modules/admin/views/statistics/shared/_sidebar.html'"}

.col-md-8.col-sm-12.col-xs-12.pull-right#list
  %center
    %h3
      Server Activity

  %br
  .activities-list
    .row
      .col-md-6
        .col-md-1
          %h6{style: '-webkit-transform: rotate(-90deg);line-height: 160px;'} Logins
        
        .col-md-10
          %button.btn.btn-default{style: 'height: 27px;line-height: 1;', :'ng-click'=>'showDateTimeFilterForm=!showDateTimeFilterForm'} Change Date Range
          &nbsp;
          %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{"ng-dblclick" => "removeDateTimeFilter('logins_date_filter')", :'ng-if'=>'logins_date_filter.from && logins_date_filter.to'}
            %span.close.ui-select-match-close{"ng-click" => "removeDateTimeFilter('logins_date_filter')"} ×
            %span {{logins_date_filter.from}} - {{logins_date_filter.to}}

          %div{:'ng-show'=>'showDateTimeFilterForm', style: 'border: 1px solid gray;padding-bottom: 15px;box-shadow: 1px 1px 1px 1px gray;border: 1px solid gray;position: absolute;width: 363px;background-color: white;'}
            %form{:'ng-submit'=>'addDateTimeFilter("logins_date_filter", "showDateTimeFilterForm")'}
              .input-group{style: 'margin-right:-1px;'}
                .input-group-addon
                  = I18n.t 'from'
                  %input.datetime.form-control{"ng-model" => "datetime_filter_from", :type => "text"}/
                .input-group-addon
                  = I18n.t 'to'
                  %input.datetime.form-control{"ng-model" => "datetime_filter_to", :type => "text"}/
              %br
              .actions.pull-right
                %button.btn.btn-primary{type: :submit, style: 'margin-right:18px;', :'ng-disabled'=>'!(datetime_filter_from&&datetime_filter_to)'}= I18n.t 'add'
                %button.btn.btn-warning{type: :button, :"ng-click" => "showDateTimeFilterForm=false", style: 'margin-right: 18px;'}= I18n.t 'cancel'
          
          %center{:'ng-show'=>'labels["logins"].length<=0', style: 'line-height:10'}
            %strong -- No data found -- 
          .graph{:'ng-class'=>'{empty: labels["logins"].length<=0}'}
            %canvas#line.chart.chart-line{:click => "onClick", :data => "data['logins']", :labels => "labels['logins']", :legend => "false"}
          
          %center{style: 'letter-spacing: 15px'}
            %h6 Time
      .col-md-6
        .col-md-1
          %h6{style: '-webkit-transform: rotate(-90deg);line-height: 160px;'} New&nbsp;Users
        
        .col-md-10
          %button.btn.btn-default{style: 'height: 27px;line-height: 1;', :'ng-click'=>'showDateTimeFilterForm2=!showDateTimeFilterForm2'} Change Date Range
          &nbsp;
          %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{"ng-dblclick" => "removeDateTimeFilter('new_users_date_filter')", :'ng-if'=>'new_users_date_filter.from && new_users_date_filter.to'}
            %span.close.ui-select-match-close{"ng-click" => "removeDateTimeFilter('new_users_date_filter')"} ×
            %span {{new_users_date_filter.from}} - {{new_users_date_filter.to}}

          %div{:'ng-show'=>'showDateTimeFilterForm2', style: 'border: 1px solid gray;padding-bottom: 15px;box-shadow: 1px 1px 1px 1px gray;border: 1px solid gray;position: absolute;width: 363px;background-color: white;'}
            %form{:'ng-submit'=>'addDateTimeFilter("new_users_date_filter", "showDateTimeFilterForm2")'}
              .input-group{style: 'margin-right:-1px;'}
                .input-group-addon
                  = I18n.t 'from'
                  %input.datetime.form-control{"ng-model" => "datetime_filter_from", :type => "text"}/
                .input-group-addon
                  = I18n.t 'to'
                  %input.datetime.form-control{"ng-model" => "datetime_filter_to", :type => "text"}/
              %br
              .actions.pull-right
                %button.btn.btn-primary{type: :submit, style: 'margin-right:18px;', :'ng-disabled'=>'!(datetime_filter_from&&datetime_filter_to)'}= I18n.t 'add'
                %button.btn.btn-warning{type: :button, :"ng-click" => "showDateTimeFilterForm2=false", style: 'margin-right: 18px;'}= I18n.t 'cancel'
          
          %center{:'ng-show'=>'labels["new_users"].length<=0', style: 'line-height:10'}
            %strong -- No data found -- 
          .graph{:'ng-class'=>'{empty: labels["new_users"].length<=0}'}
            %canvas#line.chart.chart-line{:click => "onClick", :data => "data['new_users']", :labels => "labels['new_users']", :legend => "false"}
          
          %center{style: 'letter-spacing: 15px'}
            %h6 Time
    %br
    .row
      .col-md-6
        .col-md-1.no-padding
          %h6{style: '-webkit-transform: rotate(-90deg);line-height: 167px;'} #&nbsp;Photos&nbsp;Uploaded
        
        .col-md-10
          %button.btn.btn-default{style: 'height: 27px;line-height: 1;', :'ng-click'=>'showDateTimeFilterFor3=!showDateTimeFilterFor3'} Change Date Range
          &nbsp;
          %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{"ng-dblclick" => "removeDateTimeFilter('photos_uploaded_date_filter')", :'ng-if'=>'photos_uploaded_date_filter.from && photos_uploaded_date_filter.to'}
            %span.close.ui-select-match-close{"ng-click" => "removeDateTimeFilter('photos_uploaded_date_filter')"} ×
            %span {{photos_uploaded_date_filter.from}} - {{photos_uploaded_date_filter.to}}

          %div{:'ng-show'=>'showDateTimeFilterFor3', style: 'border: 1px solid gray;padding-bottom: 15px;box-shadow: 1px 1px 1px 1px gray;border: 1px solid gray;position: absolute;width: 363px;background-color: white;'}
            %form{:'ng-submit'=>'addDateTimeFilter("photos_uploaded_date_filter", "showDateTimeFilterFor3")'}
              .input-group{style: 'margin-right:-1px;'}
                .input-group-addon
                  = I18n.t 'from'
                  %input.datetime.form-control{"ng-model" => "datetime_filter_from", :type => "text"}/
                .input-group-addon
                  = I18n.t 'to'
                  %input.datetime.form-control{"ng-model" => "datetime_filter_to", :type => "text"}/
              %br
              .actions.pull-right
                %button.btn.btn-primary{type: :submit, style: 'margin-right:18px;', :'ng-disabled'=>'!(datetime_filter_from&&datetime_filter_to)'}= I18n.t 'add'
                %button.btn.btn-warning{type: :button, :"ng-click" => "showDateTimeFilterFor3=false", style: 'margin-right: 18px;'}= I18n.t 'cancel'
          
          %center{:'ng-show'=>'labels["photos_uploaded"].length<=0', style: 'line-height:10'}
            %strong -- No data found -- 
          .graph{:'ng-class'=>'{empty: labels["photos_uploaded"].length<=0}'}
            %canvas#line.chart.chart-line{:click => "onClick", :data => "data['photos_uploaded']", :labels => "labels['photos_uploaded']", :legend => "false"}
          
          %center{style: 'letter-spacing: 15px'}
            %h6 Time
      .col-md-6
        .col-md-1.no-padding
          %h6{style: '-webkit-transform: rotate(-90deg);line-height: 196px;'} Storage&nbsp;Required&nbsp;(MB)
        
        .col-md-10
          %button.btn.btn-default{style: 'height: 27px;line-height: 1;', :'ng-click'=>'showDateTimeFilterForm4=!showDateTimeFilterForm4'} Change Date Range
          &nbsp;
          %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{"ng-dblclick" => "removeDateTimeFilter('storage_required_date_filter')", :'ng-if'=>'storage_required_date_filter.from && storage_required_date_filter.to'}
            %span.close.ui-select-match-close{"ng-click" => "removeDateTimeFilter('storage_required_date_filter')"} ×
            %span {{storage_required_date_filter.from}} - {{storage_required_date_filter.to}}

          %div{:'ng-show'=>'showDateTimeFilterForm4', style: 'border: 1px solid gray;padding-bottom: 15px;box-shadow: 1px 1px 1px 1px gray;border: 1px solid gray;position: absolute;width: 363px;background-color: white;'}
            %form{:'ng-submit'=>'addDateTimeFilter("storage_required_date_filter", "showDateTimeFilterForm4")'}
              .input-group{style: 'margin-right:-1px;'}
                .input-group-addon
                  = I18n.t 'from'
                  %input.datetime.form-control{"ng-model" => "datetime_filter_from", :type => "text"}/
                .input-group-addon
                  = I18n.t 'to'
                  %input.datetime.form-control{"ng-model" => "datetime_filter_to", :type => "text"}/
              %br
              .actions.pull-right
                %button.btn.btn-primary{type: :submit, style: 'margin-right:18px;', :'ng-disabled'=>'!(datetime_filter_from&&datetime_filter_to)'}= I18n.t 'add'
                %button.btn.btn-warning{type: :button, :"ng-click" => "showDateTimeFilterForm4=false", style: 'margin-right: 18px;'}= I18n.t 'cancel'
          
          %center{:'ng-show'=>'labels["storage_required"].length<=0', style: 'line-height:10'}
            %strong -- No data found -- 
          .graph{:'ng-class'=>'{empty: labels["storage_required"].length<=0}'}
            %canvas#line.chart.chart-line{:click => "onClick", :data => "data['storage_required']", :labels => "labels['storage_required']", :legend => "false"}
          
          %center{style: 'letter-spacing: 15px'}
            %h6 Time
    %br
    .row
      .col-md-6
        .col-md-1.no-padding
          %h6{style: '-webkit-transform: rotate(-90deg);line-height: 175px;'} Droplets&nbsp;Provisioned
        
        .col-md-10
          %button.btn.btn-default{style: 'height: 27px;line-height: 1;', :'ng-click'=>'showDateTimeFilterForm5=!showDateTimeFilterForm5'} Change Date Range
          &nbsp;
          %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{"ng-dblclick" => "removeDateTimeFilter('droplets_provisioned_date_filter')", :'ng-if'=>'droplets_provisioned_date_filter.from && droplets_provisioned_date_filter.to'}
            %span.close.ui-select-match-close{"ng-click" => "removeDateTimeFilter('droplets_provisioned_date_filter')"} ×
            %span {{droplets_provisioned_date_filter.from}} - {{droplets_provisioned_date_filter.to}}

          %div{:'ng-show'=>'showDateTimeFilterForm5', style: 'border: 1px solid gray;padding-bottom: 15px;box-shadow: 1px 1px 1px 1px gray;border: 1px solid gray;position: absolute;width: 363px;background-color: white;'}
            %form{:'ng-submit'=>'addDateTimeFilter("droplets_provisioned_date_filter", "showDateTimeFilterForm5")'}
              .input-group{style: 'margin-right:-1px;'}
                .input-group-addon
                  = I18n.t 'from'
                  %input.datetime.form-control{"ng-model" => "datetime_filter_from", :type => "text"}/
                .input-group-addon
                  = I18n.t 'to'
                  %input.datetime.form-control{"ng-model" => "datetime_filter_to", :type => "text"}/
              %br
              .actions.pull-right
                %button.btn.btn-primary{type: :submit, style: 'margin-right:18px;', :'ng-disabled'=>'!(datetime_filter_from&&datetime_filter_to)'}= I18n.t 'add'
                %button.btn.btn-warning{type: :button, :"ng-click" => "showDateTimeFilterForm5=false", style: 'margin-right: 18px;'}= I18n.t 'cancel'
          
          %center{:'ng-show'=>'labels["droplets_provisioned"].length<=0', style: 'line-height:10'}
            %strong -- No data found -- 
          .graph{:'ng-class'=>'{empty: labels["droplets_provisioned"].length<=0}'}
            %canvas#line.chart.chart-line{:click => "onClick", :data => "data['droplets_provisioned']", :labels => "labels['droplets_provisioned']", :legend => "false"}
          
          %center{style: 'letter-spacing: 15px'}
            %h6 Time
      .col-md-6
        .col-md-1
          %h6{style: '-webkit-transform: rotate(-90deg);line-height: 160px;'} Bandwidth
        
        .col-md-10
          %button.btn.btn-default{style: 'height: 27px;line-height: 1;', :'ng-click'=>'showDateTimeFilterForm6=!showDateTimeFilterForm6'} Change Date Range
          &nbsp;
          %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{"ng-dblclick" => "removeDateTimeFilter('bandwidth_date_filter')", :'ng-if'=>'bandwidth_date_filter.from && bandwidth_date_filter.to'}
            %span.close.ui-select-match-close{"ng-click" => "removeDateTimeFilter('bandwidth_date_filter')"} ×
            %span {{bandwidth_date_filter.from}} - {{bandwidth_date_filter.to}}

          %div{:'ng-show'=>'showDateTimeFilterForm6', style: 'border: 1px solid gray;padding-bottom: 15px;box-shadow: 1px 1px 1px 1px gray;border: 1px solid gray;position: absolute;width: 363px;background-color: white;'}
            %form{:'ng-submit'=>'addDateTimeFilter("bandwidth_date_filter","showDateTimeFilterForm6")'}
              .input-group{style: 'margin-right:-1px;'}
                .input-group-addon
                  = I18n.t 'from'
                  %input.datetime.form-control{"ng-model" => "datetime_filter_from", :type => "text"}/
                .input-group-addon
                  = I18n.t 'to'
                  %input.datetime.form-control{"ng-model" => "datetime_filter_to", :type => "text"}/
              %br
              .actions.pull-right
                %button.btn.btn-primary{type: :submit, style: 'margin-right:18px;', :'ng-disabled'=>'!(datetime_filter_from&&datetime_filter_to)'}= I18n.t 'add'
                %button.btn.btn-warning{type: :button, :"ng-click" => "showDateTimeFilterForm6=false", style: 'margin-right: 18px;'}= I18n.t 'cancel'
          
          %center{:'ng-show'=>'labels["bandwidth"].length<=0', style: 'line-height:10'}
            %strong -- No data found -- 
          .graph{:'ng-class'=>'{empty: labels["bandwidth"].length<=0}'}
            %canvas#line.chart.chart-line{:click => "onClick", :data => "data['bandwidth']", :labels => "labels['bandwidth']", :legend => "true", series: "series['bandwidth']"}
          
          %center{style: 'letter-spacing: 15px'}
            %h6 Time



