.section.bottom-images-section {
  aside {
    padding-bottom: 40px;
    height: 2000px;

    h2 {
      font-weight: bold;
      margin: 0 0 5px 0;
      padding: 40px 30px 30px 30px;
      text-align: center;
    }

    ul {
      $elems: (1, 2, 3, 4);

      @each $elem in $elems {
        li:nth-child( #{$elem} ) a {
          background-image: url("/home1268×848-bottom-#{$elem}.png");
        }
      }
    }
  }
}
