html, body{
  // overflow-x: hidden;
}

.locales-select {
  position: relative;
  top: 12px;
}

.front-page-welcome-screen {
  position: relative;
  min-height: 400px;
  background: url('/assets/front-page.jpg') no-repeat;
  background-size: cover;

  .learn-more-animated {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    padding: 10px;
    background: rgba(255, 255, 255, .2);
    border: 2px solid #fff;
    text-decoration: none;

    @media (max-width: 768px) {
      display: none;
    }
  }

    @media (min-width: 768px) {

      .welcome-screen-wrapper {

        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
      }

      .top-learn-more-bar {
        display: inline-block;
        border: 2px solid #fff;
        background: rgba(255, 255, 255, .2);
        padding: 30px 20px;
        position: relative;

        &:after,
        &:before {
          content: ' ';
          position: absolute;
          bottom: -63px;
          width: 2px;
          height: 72px;
          background: #fff;
        }

        &:before {
          left: 0;
          transform:rotate(45deg);
        }

        &:after {
          right: 0;
          transform:rotate(-45deg);
        }
      }

      .col-md-5 {
        .front-page-heading {
          display: inline-block;
          border: 2px solid #fff;
          padding: 0 20px;
          width: 100%;
          min-width: 270px;
          max-width: 400px;
          background: rgba(255, 255, 255, .2);
        }
      }
    }

  .welcome-screen-wrapper {
    .btn {
      text-decoration: none;
    }
  }

  .top-learn-more-bar {
    margin-bottom: 50px;

    h1 {
      font-size: 55px;
    }

    h3 {
      margin-top: -7px;

      a {
        text-decoration: underline;
      }
    }
  }

  .front-page-images {
    position: relative;
    padding: 0;

    .users-featured-photos {
      img {
        margin-bottom: 0;
        max-width: 100%;
        max-height: 100%;
        width: auto;
      }
    }

    .connection-word {

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 20px;

        li {
          display: inline-block;
          width: 20px;
          height: 0;
          position: relative;
          -webkit-animation: bounce 3s infinite;
          animation: bounce 3s both infinite;

          &:before,
          &:after{
            content: '';
            position: absolute;
            top: 0;
            right: -3px;
            width: 30px;
            height: 7px;
            border-radius: 10px;
            display: block;
            background: #fff;
            transform:rotate(135deg);
            -webkit-transform:rotate(135deg); 
          }

          &:after{
            right: inherit;
            left: -6px;
            top: -17px;
            transform:rotate(45deg);
            -webkit-transform:rotate(45deg);
          }
        }
      }
    }

    h4 {
      margin-bottom: 30px;

      a {
        text-decoration: underline;
      }
    }

    h2 {
      font-weight: bold;
      font-size: 6vh;
    }

    h4 {
      font-size: 2.5vh;
    }

    .users-featured-photos {
      > div.col-md-6:nth-child(1),
      > div.col-md-6:nth-child(2) {
        margin-bottom: 20px;
      }
    }
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: translateX(0);
    opacity: 0;
  }

  10% { opacity: 1;}

  100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity: 0;
  }
}

@-moz-keyframes bounce {
  0% {
    transform: translateX(0);
    opacity: 0;
  }

  10% { opacity: 1;}

  100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity: 0;
  }
}

@-o-keyframes bounce {
  0% {
    transform: translateX(0);
    opacity: 0;
  }

  10% { opacity: 1;}

  100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    transform: translateX(0);
    opacity: 0;
  }

  10% { opacity: 1;}

  100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity: 0;
  }
}

@media (max-width: 768px) {
}

