.navbar.navbar-default.navbar-static-top
  .container-fluid
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to t('.focofox'), root_path, class: "navbar-brand"
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        = active_link_to t('.browse'), users_search_index_path, :wrap_tag => :li
        = active_link_to t('.my_photos'), "/my-photos", :wrap_tag => :li
        = active_link_to t('.checkout'), "/Checkout", :wrap_tag => :li
        = active_link_to t('.help'), "/help", :wrap_tag => :li
      %ul.nav.navbar-nav.navbar-right
        / %li
        /   %p.navbar-text
        /     Logged in as:
        /     \#{current_user ? link_to(current_user[:email],edit_user_registration_path) : "Guest"}
        - if current_user
          %li#fat-menu.dropdown
            %a#drop3.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "false", "data-toggle" => "dropdown", :href => "javascript:void(0)", :role => "button"}
              = t '.welcome'
              %strong
                = current_user.display_name
              %img{:'src'=>current_user.avatar.url(:thumb), width: 40}
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "drop3", :role => "menu"}
              - if current_user && current_user.verified_photographer?
                %li= active_link_to t('.photographers_dashboard'), "#{photographer_index_path}#/add-photos"
              = active_link_to t('.my_account'), edit_user_registration_path, :wrap_tag => :li
              %li= link_to t('.logout'), destroy_user_session_path, {method: :delete }
        - else
          %li= link_to t('.login_join'), new_user_session_path
