#my_focofox{:'ng-app'=>'myFocofoxApp', :'ng-controller'=>'MainCtrl'}
  %ng-init{:'ng-init'=>"albums=#{(@albums).to_json(methods: :raw_attributes)};hasFbToken=#{@has_valid_fb_token||false}; hasDropboxToken=#{@has_valid_dropbox_token||false};dropbox_authorize_url='#{api_dropbox_authorize_path}';dropbox_folders=#{@dropbox_folders.to_json};", style: 'visibility: none;'}

  %ui-view

  %script{type: 'text/ng-template', id: 'preview-photo.html'}
    = render partial: "photographer/photos/preview"
  %script{type: 'text/ng-template', id: 'paginate-anything-tpl.html'}
    = render partial: "shared/paginate-anything-tpl/index"

  .loading#loading{style: 'position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 10401;background: transparent;text-align:center;opacity: 0.9;display: none;'}
    %center
      %img{:'ng-src'=>'/img/loading.gif'}

- content_for :footer_scripts do
  = javascript_include_tag "ng-modules/my-focofox/application"
