#filter-dialog{:'ng-cloak'=>true, :'ng-hide'=>'active_tab=="cart"'}
  %button.close.pull-right{:type => "button", "ng-click" => "closeMapFilterDialog()", } &#215;

  .search-top-bar
    %label{:for => "textinput"} Search
    .search-field-wrapper
      %input#search_field{:type => "text", autocomplete: "off"}/
    %button.btn.btn-focofox.btn-primary{:'ng-click'=>'viewAllPins()'} View All Available


  #search_filter_map{:'ng-init'=>'initMap()'}

  .row.footer-buttons
    .col-md-12
      %button.btn.btn-focofox.btn-primary{:type => "button", "ng-click" => "closeMapFilterDialog()"} Cancel

