%li.statistics-tab{:role => "presentation", :'ng-class'=>"{active: $state.includes('photographers_activity')||$state.includes('clients_activity')||$state.includes('sales_activity')||$state.includes('servers_activity')}"}
  %a#statistics-tablink{:"aria-controls" => "statistics", :'ui-sref'=>'photographers_activity', :role => "tab"} Statistics
%li.managements-tab{:role => "presentation", :'ng-class'=>"{active: $state.includes('managements')}"}
  %a#managements-tablink{:"aria-controls" => "managements", :'ui-sref'=>'managements.index', :role => "tab"}
    Managements
