<div class="paginate-anything">
  <!--
  <ul class="pagination pagination-{{ size }} links" ng-if="numPages > 1">
    <li ng-class="{disabled: page <= 0}"><a href ng-click="gotoPage(page-1)">&laquo;</a></li>

    <li ng-if="linkGroupFirst() > 0"><a href ng-click="gotoPage(0)">1</a></li>

    <li
    ng-repeat=
    "p in [linkGroupFirst(), linkGroupLast()] | makeRange"
    ng-class="{active: p === page}"
    >
    <a href ng-click="gotoPage(p)">{{ p+1 }}</a>
    </li>

    <li ng-if="isFinite() && linkGroupLast() < numPages - 1"><a href ng-click="gotoPage(numPages-1)">{{ numPages }}</a></li>

    <li ng-class="{disabled: page >= numPages - 1}"><a href ng-click="gotoPage(page+1)">&raquo;</a></li>
  </ul>
  -->

  <div class="per-page">
    <label>Per page</label>
    <select select-plugin class="select2" ng-model="$parent.perPage"  ng-options="p for p in perPagePresets">
    </select>
  </div>

  <ul
    ng-if="page !== numPages - 1 && numPages != 1"
    class="pagination pagination-{{ size }} links">
    <li
      ng-click="page > 0 && gotoPage(page-1)"
      class="prev" ng-class="{disabled: page <= 0}">
      <a href ng-click="page > 0 && gotoPage(page-1)"></a>
    </li>

    <li
      ng-repeat="p in [0, numPages] | makeRange"
      ng-if="p >= page && p <= page + 1"
      ng-class="{active: p === page}"
      >
      <a href ng-click="gotoPage(p)">{{ p+1 }}</a>
    </li>

    <li
      ng-click="gotoPage(page+1)"
      class="next" ng-class="{disabled: page >= numPages - 1}">
      <a href ng-click="gotoPage(page+1)"></a>
    </li>
  </ul>

  <ul
    ng-if="numPages == 1"
    class="pagination pagination-{{ size }} links">
    <li
      ng-click="page > 0 && gotoPage(page-1)"
      class="prev" ng-class="{disabled: page <= 0}">
      <a href ng-click="page > 0 && gotoPage(page-1)"></a>
    </li>

    <li class="active">
      <a href>1</a>
    </li>

    <li
      ng-click="gotoPage(page+1)"
      class="next" ng-class="{disabled: page >= numPages - 1}">
      <a href ng-click="gotoPage(page+1)"></a>
    </li>
  </ul>

  <ul
    ng-if="page === numPages - 1 && numPages != 1"
    class="pagination pagination-{{ size }} links" ng-if="numPages > 1">
    <li
      ng-click="page > 0 && gotoPage(page-1)"
      class="prev" ng-class="{disabled: page <= 0}">
      <a href ng-click="page > 0 && gotoPage(page-1)"></a>
    </li>

    <li>
      <a href ng-click="gotoPage(page - 1)">{{page}}</a>
    </li>

    <li class="active">
      <a href ng-click="gotoPage(page)">{{page + 1}}</a>
    </li>

    <li
      ng-click="page < (numPages-1) && gotoPage(page+1)"
      class="next" ng-class="{disabled: page >= numPages - 1}">
      <a href ng-click="page < (numPages-1) && gotoPage(page+1)"></a>
    </li>
  </ul>

</div>
