.modal-body{style: 'padding: 0'}
  .row
    .col-md-6
      %label.control-label{:for => "textinput"} Search
      .controls
        .input-group
          %input.form-control#search_field{:type => "text", style: 'margin-bottom: 0px;', autocomplete: "off"}/
          .input-group-addon
            %span.fa.fa-search
  #map{:'ng-init'=>'initMap()'}
.modal-footer
  %button.btn.btn-primary.pull-left{type: :button, "ng-click" => "focusOnPins()"} Show All Locations
  %button.btn.btn-primary{type: :button, "ng-click" => "ok()"} Add
  %button.btn.btn-warning{type: :button, "ng-click" => "cancel()"} Cancel