.modal-header.preview-photo
  %button.close{"data-dismiss" => "modal", :type => "button", "ng-click" => "cancel()"} &#215;
  %h3.modal-title {{photo.photo_file_name||photo.video_file_name}}
.modal-body{:'ng-cloak'=>true, :'img-loading-progress'=>true}
  .carousel.slide
    / %ol.carousel-indicators
    /   %li{:"ng-repeat"=>'p in photos', :"ng-click"=>'goto($index)', class: "{{currentIndex==$index ? 'active' : ''}}"}
    .carousel-inner{:role => "listbox", :style => "background: url('/assets/checkered.png');"}
      %center
        %img.animate-show#preview{:'ng-click'=>'zoomIn()', :'fade-n'=>true, :'ng-right-click'=>'zoomOut($event)',:"ng-if"=>"type=='my-photos' && photo.is_photo", :"ng-src" => "{{photo.preview_url}}", style: 'max-width:100%'}/

        %video#preview{:'ng-click'=>'zoomIn()', :'ng-right-click'=>'zoomOut($event)',:"ng-if"=>"type=='my-photos' && photo.is_video",:'ng-src'=> '{{photo.preview_url}}', autoplay: true, loop: true, style: 'max-width:100%'}
        
        / %img.animate-show#preview{:'ng-click'=>'zoomIn()', :'fade-n'=>true, :'ng-right-click'=>'zoomOut($event)',:"ng-if"=>"type=='add-photos' && photo.is_photo", :'ng-src'=>'{{photo.preview_url}}', :'ng-init'=>'activate($event)', style: 'max-width:100%'}
        #preview{:"ng-if"=>"type=='add-photos' && photo.is_photo", :'orientation'=>'{{photo.orientation_type}}'}

        %video#preview{:'ng-click'=>'zoomIn()', :'ng-right-click'=>'zoomOut($event)',:"ng-if"=>"type=='add-photos' && photo.is_video",:'ng-src'=> '{{photo.preview.src}}', autoplay: true, loop: true}

    %a.left.carousel-control{:'ng-click'=>'prev($event)',:href => "javascript:void(0);", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.right.carousel-control{:'ng-click'=>'next($event)', :href => "javascript:void(0);", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
      %span.sr-only Next
  
  .row{:'ng-show'=>"type=='add-photos'"}
    %table.table.photo-deails-table{style: 'position: absolute; bottom: 0; background: rgba(24, 111, 0, 0.57); border: none; margin-bottom: 38px; width: 260px; color: white; margin-left: 25px;border:none;text-align:left;'}
      %tr
        %td
          Price:
        %td
          ${{photo.price}}
      %tr
        %td
          Date Time:
        %td
          {{photo.date_time}}
      %tr{:'ng-show'=>'photo.location.name'}
        %td
          Location:
        %td
          {{photo.location.name}}

      %tr{:'ng-show'=>'photo.width && photo.height'}
        %td
          Resolution:
        %td
          %span
            {{photo.width}}x{{photo.height}}
        
  .row{:'ng-hide'=>"type=='add-photos'"}
    %table.table.photo-deails-table{style: 'position: absolute; bottom: 0; background: rgba(24, 111, 0, 0.57); border: none; margin-bottom: 38px; width: 260px; color: white; margin-left: 25px;border:none;text-align:left;'}
      %tr
        %td
          Price:
        %td
          ${{photo.price}}
      %tr
        %td
          Date Time:
        %td
          {{photo.formatted_date_time}}
      %tr
        %td
          Location:
        %td
          {{photo.location_name}}
      %tr
        %td
          Photographer:
        %td
          {{photo.photographer_name}}
      %tr
        %td
          Resolution:
        %td
          %span{:'ng-show'=>'photo.width && photo.height'}
            {{photo.width}}x{{photo.height}}
        - if search_page?
          %tr
            %td
              License:
            %td        
              {{photo.license_name}}
.modal-footer
  %a.pull-left.btn.btn-default{:'ng-show'=>'photo.is_video && !photo.is_play', :'ng-click'=>'play()', href:'#'}
    %i.fa.fa-play
    Play
  %a.pull-left.btn.btn-default{:'ng-show'=>'photo.is_video && !photo.is_paused', :'ng-click'=>'pause()', href:'#'}
    %i.fa.fa-pause
    Pause
  %a.pull-left.btn.btn-default{:'ng-show'=>'photo.is_video', :'ng-click'=>'fullscreen()', href:'#'} &nbsp; Fullscreen

  %a.pull-left.btn.btn-default{:"ng-show"=>'!!photo.previewFullPhotoUrl && photo.is_photo', :"ng-click" => "previewFullSizedPhoto(photo)"} View in Full Resolution
  %ng-if{:'ng-if'=>'type=="my-photos"'}

    %div{:'ng-if'=>'page_allowed_to_buy', style: 'display:inline-block;margin-right:10px;'}
      %a.btn.btn-success.add2cart{:'ng-click'=>'$parent.add2cart(photo)', :'ng-hide'=>'is_inCart(photo)', title: "{{is_inCart(photo) ? 'On Cart' : 'Buy'}}"}
        %i.fa.fa-cart-plus &nbsp;
        {{is_inCart(photo) ? 'On Cart' : 'Buy'}}
      
      %a.btn.btn-danger.add2cart{:'ng-click'=>'removeFromCart(photo)', :'ng-show'=>'is_inCart(photo)', title: 'Remove from Cart'}
        %i.fa.fa-remove &nbsp;
        Remove from Cart

      / %a.btn.btn-default.fb-share-btn{:'ng-click'=> 'shareFB(photo)'}
      /   %i.fa.fa-facebook &nbsp;
      /   Share on facebook
      / %a{"data-pin-color" => "red", "data-pin-do" => "buttonPin", "data-pin-height" => "34", href: true , :'data-url' => "//www.pinterest.com/pin/create/button/?url={{photo.attachment_absolute_url}}&media={{photo.attachment_absolute_url}}", :'ng-click'=>'pinIt(photo, $event)'}
      /   %img.animate-show{:src => "//assets.pinterest.com/ima :'fade-n'=>true,ges/pidgets/pinit_fg_en_rect_red_28.png"}/



  %button.btn.btn-warning{"ng-click" => "cancel()"} close
