.modal-body
  %h4
    %i.col-md-1.fa.fa-question-circle{style: 'line-height: 41px;font-size: 30px;'} &nbsp;
    .col-md-10
      Upload all photos or only selected photos?
    
  %br
  .clearfix
  %br

  %button.btn.btn-primary{:'ng-click'=>'uploadAll()'} All
  &nbsp;
  %button.btn.btn-primary{:'ng-click'=>'uploadSelected()'} Only Selected
  &nbsp;
  %button.btn.btn-warning.pull-right{:'ng-click'=>'cancel()'} Cancel