.container#login{:'ng-app'=>'loginApp', :'ng-controller'=>'main_controller'}
  .row
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form",class: "form-signin mg-btm", style: "margin: 0 auto;", :'ng-submit'=>'verifyCredentials($event)'}) do |f|
      %center
        %h3.heading-desc
          = t('.sign_in', :default => "Sign in")
      
      .main
        = extended_bootstrap_flash

        .alert.fade.in.alert-danger.ng-hide{:'ng-show'=>'login_failed&&login_failed_message'}
          %button.close{type: :button, :"ng-click" => "removeMessage()"}> ×
          %p{:'ng-bind-html'=>'login_failed_message'}

        .col-md-10{style: 'padding-left: 0px;'}
          = f.text_field :email, autofocus: true, class: "form-control", placeholder: "Email", :"ng-model"=>'email', :'ng-change'=>'detect2factorAuth()'
        .col-md-10{style: 'padding-left: 0px;'}
          = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: :'Password', :'ng-model'=>'password'
          = f.text_field :otp_attempt, autocomplete: "off", class: "form-control", placeholder: :'Two-Factor Authentication Token', :'ng-model'=>'otp_attempt', :'ng-show'=>'isOtp'
          
          = link_to "Forgot your password?", new_password_path(resource_name)

          - if devise_mapping.rememberable?
            .checkbox
              %label
                = f.check_box :remember_me
                = f.label :remember_me, style: 'padding-left:0'
        .col-md-2{style: 'padding:0px;'}
          %button.btn.btn-large.btn-success.pull-right{:type => "submit", style: 'line-height: 28px;width:100%;'}
            %img{:'ng-show'=>'login_success', src: '/img/small-loading.gif', :'ng-cloak'=>true}
            %span{:'ng-hide'=>'login_success'}
              Login

      %br
      .row.hidden-xs.hidden-sm
        .col-md-5{style: "margin-top: -5px;"}
          %hr
        .col-md-2
          %center
            %label or
        .col-md-5{style: "margin-top: -5px;"}
          %hr

      %hr.hidden-md.hidden-lg

      - if devise_mapping.omniauthable?
        .social-box
          - resource_class.omniauth_providers.each do |provider|
            - if provider == :facebook
              .row.mg-btm
                .col-md-1
                .col-md-10
                  = link_to omniauth_authorize_path(resource_name, provider), class: 'btn btn-primary btn-block fb-login' do
                    %i.fa.fa-facebook
                    = "Sign in with #{provider.to_s.titleize}"
                .col-md-1
            - elsif provider == :twitter
              .row.mg-btm
                .col-md-1
                .col-md-10
                  = link_to omniauth_authorize_path(resource_name, provider), class: 'btn btn-info btn-block twitter-login' do
                    %i.fa.fa-twitter
                    = "Sign in with #{provider.to_s.titleize}"
                .col-md-1
            - elsif provider == :linkedin
              .row.mg-btm
                .col-md-1
                .col-md-10
                  = link_to omniauth_authorize_path(resource_name, provider), class: 'btn btn-block linkedin-login' do
                    %i.fa.fa-linkedin
                    = "Sign in with #{provider.to_s.titleize}"
                .col-md-1
            - elsif provider == :google_oauth2
              .row.mg-btm
                .col-md-1
                .col-md-10
                  = link_to omniauth_authorize_path(resource_name, provider), class: 'btn btn-block gplus-login' do
                    %i.fa.fa-google
                    = "Sign in with Google"
                .col-md-1

      .row.hidden-xs.hidden-sm
        .col-md-5{style: "margin-top: -5px;"}
          %hr
        .col-md-2
          %center
            %label or
        .col-md-5{style: "margin-top: -5px;"}
          %hr

      %hr.hidden-md.hidden-lg

      .row{style: 'margin: 0 auto;'}
        .col-md-3
        .col-md-6
          = link_to "Sign Up", new_registration_path(resource_name), class: 'btn btn-primary btn-lg', style: 'width:100%;'
        .col-md-3
        %br

      .row.hidden-xs.hidden-sm
        .col-md-5{style: "margin-top: -5px;"}
          %hr
        .col-md-2{style:'line-height:32px;'}
          %center
            %label or
        .col-md-5{style: "margin-top: -5px;"}
          %hr

      %hr.hidden-md.hidden-lg
      .row{style: 'margin: 0 auto;'}
        .col-md-2
        .col-md-8
          = link_to "Sign Up as a Photographer", "#{new_registration_path(resource_name)}?photographer=true", class: 'btn btn-primary btn-lg', style: 'width:100%;'
        .col-md-2
          = help_tooltip_icon 'devise_sessions_new', false
      %br

- content_for :header_scripts do
  :scss
    .flash-messages{
      display: none;
    }
    .main{
      .flash-messages{
        display: block !important;
      }
      .alert{
        margin-top: -25px;
      }
    }
  %script
    //window.flash_notice = "#{flash[:notice]}";
    //window.flash_success = "#{flash['success']}";
    //window.flash_errors = "#{flash['errors']}";
    //window.flash_alert = "#{flash['alert']}";
    //window.validation_errors = #{@user.errors.messages.to_json().html_safe}

- content_for :footer_scripts do
  = javascript_include_tag "ng-modules/login/application"
