#preferences
  .col-md-4.col-sm-12.col-xs-12#controls{:'ng-cloak'=>true}
    .bs-tabs.photos.sidebar-nav{:"data-id" => "togglable-tabs", :role => "tabpanel"}
      %ul#photosTab.nav.nav-tabs{:role => "tablist", :'ng-include'=>true, src: "'ng-modules/photographer/views/shared/nav_link.html'"}  

      #PreferencesTabContent.tab-content{style: 'display: inline-block;background:white;'}
        #preferences.tab-pane.fade.in.active{:"aria-labelledby" => "add-photos-tab", :role => "tabpanel"}
          %p.subtitle.fancy
            %span Photo Preferences
          %br
          %p.col-md-12
            Default price for new photos: $
            %input.field-sm{:'ng-model'=>'default_photo_price', :'ng-blur'=>'update_default_photo_price(default_photo_price)', type: 'number', min: 0, max: 100000}
          
          %br
          %p.col-md-12
            Default location for my photos
            .col-md-6
              %select.form-control{:'ng-options'=>"l.id as l.name for l in locations", :'ng-model'=>'default_location_id', :'ng-disabled'=>'locations.length<=0', :'ng-change'=>'mark_default_location(default_location_id)'}
            .col-md-3
              .btn.btn-primary{:'ng-click'=>'newLocation()'} Add new
            .col-md-3
              .btn.btn-primary{:'ng-click'=>'editLocation()', :'ng-disabled'=>'locations.length<=0 || !!!default_location'} Edit

          %br
          .clearfix
          %br
          / %p.col-md-12
          /   Default license for my photos
          /   .col-md-6
          /     %select.form-control{:'ng-options'=>"l.id as l.title for l in licenses", :'ng-model'=>'default_license', :'ng-disabled'=>'licenses.length<=0', :'ng-change'=>'mark_default_license(default_license)'}
          /   / .col-md-3
          /   /   .btn.btn-primary{:'ng-click'=>'newLicense()'} Add new
          /   .col-md-3
          /     .btn.btn-primary{:'ng-click'=>'editLicense()', :'ng-disabled'=>'licenses.length<=0 || !!!default_license'} {{editPreviewLicenseLabel()}}
          / %br
          / .clearfix
          / %br
          %p.col-md-12
            Default watermark for my photos
            .col-md-6
              %select.form-control{:'ng-options'=>"w.id as w.name for w in watermarks", :'ng-model'=>'default_watermark', :'ng-disabled'=>'watermarks.length<=0', :'ng-change'=>'mark_default_watermark(default_watermark)'}
            .col-md-3
              .btn.btn-primary{:'ng-click'=>'newWatermark()'} Add new
            .col-md-3
              .btn.btn-primary{:'ng-click'=>'editWatermark()', :'ng-disabled'=>'watermarks.length<=0 || !!!default_watermark'} {{watermarkEditPreviewLabel()}}
          %br
          .clearfix
          %br
          .col-md-12.no-padding.resize-photos
            %label{style: 'font-weight:normal;'}
              .col-md-6.no-padding
                %input{type: 'checkbox', :'ng-model'=>'is_resize_photos'}
                Resize photos on upload
              .col-md-6.no-padding{:'ng-class'=>'{"disabled-text": !is_resize_photos}'}
                .col-md-12.no-padding
                  .col-md-6.no-padding
                    Max Width:
                  .col-md-6.no-padding
                    %input{type: 'number', name: 'max_width', :'ng-model'=>'max_width', style: 'width:80%;', min: 0, :'ng-disabled'=>'!is_resize_photos', :'ng-model-options'=>'{updateOn: "blur"}'}
                    px 
                .col-md-12.no-padding
                  .col-md-6.no-padding
                    Max Height:
                  .col-md-6.no-padding
                    %input{type: 'number', name: 'max_height', :'ng-model'=>'max_height', style: 'width:80%;', min: 0, :'ng-disabled'=>'!is_resize_photos', :'ng-model-options'=>'{updateOn: "blur"}'}
                    px
  .col-md-8.col-sm-12.col-xs-12#photos

