= help_tooltip_icon 'photographer_photos_add_side_button'

%br
%button.btn.btn-primary.btn-file{:'ng-click'=>'triggerSelectFiles()', type: "button"}
  %i.fa.fa-folder &nbsp;
  Choose {{queue.length>0 ? "More" : "Photos/Videos"}}
  %small{:'ng-hide'=>'queue.length <=0', style: 'color: rgb(220, 223, 220);text-shadow: rgba(255, 255, 255, 0.2) 3px 2px 3px;font-size:9px;'}
    &nbsp;Chosen:
    %strong{:'ng-bind'=>'queue.length'}

%br.clearfix
%br.clearfix

%button.btn.btn-primary.start{"data-ng-click" => "upload()", :type => "button", style: '', :'ng-disabled'=>'queue.length <= 0 || active()'}
  %i.glyphicon.glyphicon-upload
  %span &nbsp;Upload now

.row            
%button.cancel.btn.btn-warning{"data-ng-click" => "deleteAll()", :type => "button", :'ng-disabled'=>'queue.length <= 0', style: 'margin-top: 10px;'}
  Remove All From List
%br
