.modal-header.preview-photo
  %button.close{"data-dismiss" => "modal", :type => "button", "ng-click" => "cancel()"} &#215;
  %h3.modal-title.text-center Upload Confirmation

.modal-body{:'ng-cloak'=>true, :'img-loading-progress'=>true}
  #preferences.tab-pane.fade.in.active{:"aria-labelledby" => "add-photos-tab", :role => "tabpanel"}
    %br
    %p.col-md-12
      Price (per photo): $
      %input.field-sm{:'ng-model'=>'default_photo_price', :'ng-blur'=>'update_default_photo_price(default_photo_price)', type: 'number', min: 0, max: 100000}
    
    %br
    / %p.col-md-12
    /   Override Photos Date time:
    /   .col-md-6
    /     %input.datetime.form-control{:type => "text", :"ng-model" => "default_date_time", :'ng-disabled'=>'selectedPhotos.length <=0', :'ng-dblclick'=>"update_default_datetime(default_date_time)"}/
    / %br
    / .clearfix
    / %br
    %p.col-md-12
      Location
      .col-md-6
        %select.form-control{:'ng-options'=>"l.id as l.name for l in locations", :'ng-model'=> 'default_location_id', :'ng-disabled'=>'locations.length<=0', :'ng-change'=>'mark_default_location(default_location_id)'}
      .col-md-3
        .btn.btn-primary{:'ng-click'=>'newLocation()'} Add new
      .col-md-3
        .btn.btn-primary{:'ng-click'=>'editLocation()', :'ng-disabled'=>'locations.length<=0 || !!!default_location_id'} Edit

    %br
    .clearfix
    %br
    // %p.col-md-12
    //   License
    //   .col-md-6
    //     %select.form-control{:'ng-options'=>"l.id as l.title for l in licenses", :'ng-model'=> 'default_license_id', :'ng-disabled'=>'licenses.length<=0', :'ng-change'=>'mark_default_license(default_license_id)'}
    //   / .col-md-3
    //   /   .btn.btn-primary{:'ng-click'=>'newLicense()'} Add new
    //   .col-md-3
    //     .btn.btn-primary{:'ng-click'=>'editLicense()', :'ng-disabled'=>'licenses.length<=0 || !!!default_license_id'} {{editPreviewLicenseLabel()}}
    // %br
    // .clearfix
    // %br
    %p.col-md-12
      Watermark
      .col-md-6
        %select.form-control{:'ng-options'=>"w.id as w.name for w in watermarks", :'ng-model'=> 'default_watermark_id', :'ng-disabled'=>'watermarks.length<=0', :'ng-change'=>'mark_default_watermark(default_watermark_id)'}
      .col-md-3
        .btn.btn-primary{:'ng-click'=>'newWatermark()'} Add new
      .col-md-3
        .btn.btn-primary{:'ng-click'=>'editWatermark()', :'ng-disabled'=>'watermarks.length<=0 || !!!default_watermark_id'} {{watermarkEditPreviewLabel()}}
    %br
    .clearfix
    %br
    / .col-md-12.no-padding.resize-photos
    /   %label{style: 'font-weight:normal;'}
    /     .col-md-6.no-padding
    /       %input{type: 'checkbox', :'ng-model'=>'is_resize_photos'}
    /       Resize photos on upload
    /     .col-md-6.no-padding{:'ng-class'=>'{"disabled-text": !is_resize_photos}'}
    /       .col-md-12.no-padding
    /         .col-md-6.no-padding
    /           Max Width:
    /         .col-md-6.no-padding
    /           %input{type: 'text', name: 'max_width', :'ng-model'=>'max_width', style: 'width:80%;', min: 0, :'ng-disabled'=>'!is_resize_photos'}
    /           px 
    /       .col-md-12.no-padding
    /         .col-md-6.no-padding
    /           Max Height:
    /         .col-md-6.no-padding
    /           %input{type: 'text', name: 'max_height', :'ng-model'=>'max_height', style: 'width:80%;', min: 0, :'ng-disabled'=>'!is_resize_photos'}
    /           px
    / %br
    %br
    %div{style: 'color: red;'}
      %label{style: 'font-weight:normal;'}
        .col-md-3.no-padding
          %input{type: 'checkbox', :'ng-model'=>'agree'}
        .col-md-6.no-padding
          %h4{style: 'line-height: 0px;'} I&nbsp;Agree

      %p 1. I own the copyright for the photos being uploaded
      %p 2. Uploaded photos will be deleted in 30 days if not sold
      %p 3. A 25% commision will be deducted from all sales for the use of this service
      %p 4. I have read and agree to the Focofox terms of service
    %br
    %center
      %button.btn.btn-primary{:'ng-click'=>'uploadNow()', :'ng-disabled'=>'!agree'} Upload Now
    %br
