%form#fileupload{:action => '/p/photos', :enctype => "multipart/form-data", :method => "POST", :'ng-cloak'=>true}
  %div.add-photos{"data-file-upload" => "options", "data-ng-class" => "{'fileupload-processing-': processing() || loadingFiles}", :'data-ng-controller'=>"PhotoUploadController"}
    / .ng{style: 'display:none;', :'ng-if'=>'processing()', :'ng-init'=>'onAddFiles();'}
    / .ng{style: 'display:none;', :'ng-if'=>'!processing()', :'ng-init'=>'onAddFilesDone();'}

    .col-md-4.col-sm-12.col-xs-12#controls
      %div{:'ng-include'=>true, src: "'ng-modules/photographer/views/photos/shared/_sidebar.html'"}

    .col-md-8.col-sm-12.col-xs-12#selectable.pull-right
      .row.fileupload-buttonbar
        %center{:'ng-show'=>'queue.length<=0', style: 'color: #00B3F4; vertical-align: middle; margin-top: 81px;'}
          %strong Drag and drop photos/videos
          %br
          %br
          .btn.btn-primary.btn-file
            %i.fa.fa-folder &nbsp;
            Choose Photos/Videos
            %input.upload{:multiple => "multiple", :name => "files[]", "ng-disabled" => "disabled", :type => "file", :"ng-class" => "{disabled: disabled}"}
          %br
          
          %br
          %label{style: 'color: black;', :'ng-show'=>'photos_count>0'}
            (Or, 
            = link_to "click here", '#', :'ui-sref'=>'photos({subpage: "settings"})'
            to view/edit your existing photos/videos)

        / .col-md-8.col-sm-12.col-xs-12.pull-right.fade.upload-progress-bar{"data-ng-class" => "{in: active()}", :'ng-if'=>'queue.length > 0 && active()'}
        /   .col-md-5.progress.progress-striped.active{"data-file-upload-progress" => "progress()"}
        /     .progress-bar.progress-bar-success{"data-ng-style" => "{width: num + '%'}"}
        /     %span{style: 'float: right;'} {{num}}%
        /   .progress-extended &#160;
        /   %br
        /   %br
        /   %br
        /   %br

      .row#photos-control{:'ng-hide'=>'queue.length <=0'}
        .col-md-4.pull-right
          .col-md-2{style: 'padding:0px;'}
            %label.control-label{style: 'text-align: right;line-height:32px;'}
              Size:
          .col-md-10{style: 'padding:0px;'}
            .input-group
              %input.ng-pristine.ng-valid.form-control{:min => "80", :max => "300", "ng-model" => "thumbnail_size", :step => "1", :style => "margin:0 auto;cursor: -webkit-grab;padding:1px;", :type => "range", :'ng-disabled'=>'queue.length <= 0'}/
              .input-group-addon
                %small {{thumbnail_size}}px
      .row
        %br

      .row.thumbnails.add-photos-list#photos-list.pull-left{tabindex: 0, :'disable-animate'=>true, :'ng-keypress'=>'thumbnailsKeypress($event)'}
        .thumbnail.ui-widget-content{"data-ng-class" => "{'processing': file.$processing()}", "data-ng-repeat" => "file in queue", style: 'display: inline-block;margin:0px 2px 0px 2px;{{(!!!file.preview||file.preview.type=="error") ? "margin-bottom: -8px !important; padding: 5px !important;": ""}};width:{{thumbnail_size}}px;height:{{thumbnail_size}}px;text-align: center;line-height: {{thumbnail_size-10}}px;overflow: hidden;', :'data-index'=>'{{$index}}', :'ng-init'=>'parseExifData(file,$index)'}
          .errors{:style => "position: absolute;z-index: 99;width:{{thumbnail_size-10}}px;height:{{thumbnail_size-10}}px;", :'ng-if'=>'file.errors'}
            %small.badge.badge-error{:'ng-repeat'=>'err in file.errors', style:'font-size: 8px;'}
              .ng{'ng-if'=>'err.type=="duplicate"'}
                %i Duplicate
              .ng{'ng-if'=>'err.type!="duplicate"'}
                {{err[0]}}
          .error{:style => "position: absolute;z-index: 99;width:{{thumbnail_size-10}}px;height:{{thumbnail_size-10}}px;", :'ng-if'=>'file.error'}
            %small.badge.badge-error{style:'font-size: 8px;'}
              .ng {{file.error == '{}'||file.error=={} ? 'Errored' : file.error}}
              
          %span.fa.fa-check-circle.selected-icon{style: 'text-align:left;display: none;width: {{thumbnail_size-10}}px;height: {{thumbnail_size*0.80}}px;z-index:9;', :'ng-if'=>'initialized'} &#160;
          
          .image-preview.thumb-con{'ng-click'=>'select($event, file)', "data-ng-switch" => "", "data-on" => "!!file.thumbnailUrl", :'ng-init'=>'initCustomFn($index, file)', style: 'overflow:hidden;height:86.5%;'}
            .preview.add-image{"data-file-upload-preview" => "file", "data-ng-switch-default" => "", :'ng-class'=>"{'no-preview': !!!file.preview||file.preview.type=='error'}", style: 'width: 100%;', :'data-type'=>'{{file.type}}'}
          .user-options{style: 'font-size: {{thumbnail_size*0.1}}px;height:13.5%;'}
            %a.action-btn.pull-left{"ng-click" => "preview(file)", :title => "preview", style: '{{thumbnail_size>140 ? "margin-top: 4px;" : ""}};margin-left:3px;line-height:10px;', :'ng-hide'=>'upload_started'}
              %i.fa.fa-search-plus &nbsp;
            
            .progress.progress-striped.active{:style => "margin:0;padding:0", :'ng-show'=>'upload_started'}
              .progress-bar.progress-bar-success{"data-ng-style" => "{width: file.progress + '%'}", style: "margin: 0;padding: 0;"}
              / %a.fa.fa-remove.pull-right{:style => "cursor: pointer;", :'ng-click'=>'pause(file)'} &#160;



    .loading#loading{style: 'position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 10401;background: transparent;text-align:center;opacity: 0.9;display: none;'}
      %center
        %img{:'ng-src'=>'/img/loading.gif'}

    .loading2#loading2{style: 'position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 10401;background: transparent;text-align:center;opacity: 0.9;display: none;'}
      %center
        %img{:'ng-src'=>'/img/loading_images.gif'}
