.col-md-4.col-sm-12.col-xs-12#controls
  %div{:'ng-include'=>true, src: "'ng-modules/photographer/views/photos/shared/_sidebar.html'"}

.col-md-8.col-sm-12.col-xs-12#photos-list
  .row{:'ng-show'=>'photos.length <=0 && is_photos_loaded&&filter.prices.length <= 0 && filter.date_times.length <= 0 && filter.locations.length <= 0 && filter.groups.length <= 0 && filter.licenses.length <= 0&&filter.media_type==null'}
    %h3{:'ng-cloak'=>true}
      You have no uploaded photos/videos. 
      = link_to 'Upload them here', '#', :'ui-sref'=>'add_photos'
  
  .row{:'ng-show'=>'(filter.prices.length > 0 || filter.date_times.length > 0 || filter.locations.length > 0 || filter.groups.length > 0 || filter.licenses.length > 0||filter.media_type)&&photos.length <= 0 && is_photos_loaded'}
    %h3{:'ng-cloak'=>true}
      You have set your filters to exclude all photos/videos. You probably want to click on the "X" on some of the green button filters to the left.

  .row.form-inline#photos-control{:'ng-hide'=>'photos.length <=0 || !is_photos_loaded', :'ng-cloak'=>true}
    .btn-group{:dropdown => "", "is-open" => "status.isopen"}
      %div.filter-select{"dropdown-toggle" => ""}
        %span.fa.fa-check-square-o{:'ng-if'=>'selectedPhotoIds.length == result.all_photo_ids.length', :'ng-click'=>'filterSelect="none"'} &nbsp;
        %span.fa.fa-minus-square-o{:'ng-if'=>'selectedPhotoIds.length > 0 && selectedPhotoIds.length < result.all_photo_ids.length', :'ng-click'=>'filterSelect="none"'} &nbsp;
        %span.fa.fa-square-o{:'ng-if'=>'selectedPhotoIds.length <= 0||!selectedPhotoIds', :'ng-click'=>'filterSelect="visible"'} &nbsp;
        %span.caret &nbsp
      %ul.dropdown-menu{"aria-labelledby" => "single-button", :role => "menu", style: 'margin: -8px 7px'}
        %li{:role => "menuitem"}
          %a{:'ng-click'=>'filterSelect="none"'} None
        %li{:role => "menuitem"}
          %a{:'ng-click'=>'filterSelect="visible"'} All (currently visible {{photos.length}} photos)
        %li{:role => "menuitem"}
          %a{:'ng-click'=>'filterSelect="all"'} All (entire filtered collection {{result.total}} photos)
    %a{href: 'javascript:void(0)', :'ng-click'=>'deleteSelected()', :'ng-show'=>'selectedPhotoIds.length>0'}
      %i.fa.fa-trash &nbsp;
    %bgf-pagination.pull-left{:'ng-if'=>'page_ready', "client-limit" => "clientLimit", :collection => "result", "link-group-size" => "2", :page => "page", "per-page" => "perPage", :'auto-presets'=>'false', :'per-page-presets'=>'perPagePresets', "template-url" => "ng-modules/common/views/paginate-anything-tpl.html", :url => "photos_url", :'headers'=>"filter_params", :'num-items'=>true, :'link-group-size'=>'0'}

    .form-group.pull-right.photo-sort{style: 'padding-left:0px;'}
      .form-inline
        %label.control-label.pull-right
          &nbsp;Sort By:
          %select.form-control{:'ng-model'=>'sort_by'}
            %option{value: :date_time} Date
            %option{value: :'groups.created_at'} Session
            %option{value: :'locations.name'} Location
            %option{value: :price} Price

        %label.control-label.pull-right{style: 'text-align: right;line-height:32px;'}
          Size:
          .input-group
            %input.ng-pristine.ng-valid.form-control{:min => "80", :max => "300", "ng-model" => "thumbnail_size", :step => "1", :style => "margin:0 auto;cursor: -webkit-grab;padding:1px;", :type => "range", :'ng-disabled'=>'photos.length <= 0'}/
            .input-group-addon
              %small {{thumbnail_size}}px
  .row
    %br/
  .row.thumbnails#selectable.photos-list.pull-left{:'disable-animate'=> true, :'drag-selectable'=>true, :'options'=>'{selectAbleClass: "thumbnail"}', tabindex: 0, :'ng-show'=>'page_ready'}
    .thumbnail.ui-widget-content{:'ng-cloak'=>'true', "ng-repeat" => "p in photos", :style => "display: inline-block;margin:0px 2px 0px 2px;width:{{thumbnail_size}}px;height:{{thumbnail_size}}px;text-align: center;line-height: {{thumbnail_size-10}}px;overflow: hidden;", :'data-index'=>'{{$index}}', :'data-id'=>"{{p.id}}", :'data-content-type'=>'{{p.photo_content_type||p.video_content_type}}', :'ng-if'=>'p.id', :'ng-class'=>'{"ui-selected": p.selected}'}
      %span.fa.fa-check-circle.selected-icon{:style => "text-align:left;display: none;z-index:99;width: {{thumbnail_size-10}}px;height: {{thumbnail_size*0.80}}px"} &#160;
      / %a.preview-btn{style: 'width: {{thumbnail_size}}px;'}
      /   %i.fa.fa-search-plus{:'ng-click'=>'preview(p)', title: 'preview'} &nbsp;

      %img{:'ng-if'=>'!!p.video_content_type', src: '/assets/video-icon.png', style: 'position:absolute;width: {{thumbnail_size}}px;margin-top: {{(thumbnail_size/2)-15}}px;'}
      .image-preview.thumb-con{style: 'width:{{thumbnail_size}}px;height:86.5%;overflow: hidden;'}
        %img{:'ng-src'=>'{{p.video_thumbnails.length > 0 ? p.video_thumbnails[0] : (p.thumb_base64||p.attachment_url)}}', style: '{{(p.width < p.height) ? "" : "width: 100%;"}}max-height:100%;vertical-align: top;', class: 'img-{{$index}}'}
      .user-options{style: 'font-size: {{thumbnail_size*0.1}}px;height: 13.5%;'}
        %a.action-btn.pull-left{"ng-click" => "preview(p)", :title => "preview", style: '{{thumbnail_size>140 ? "margin-top: 4px;" : ""}};margin-left:3px;line-height:10px;'}
          %i.fa.fa-search-plus &nbsp;
  
.loading#loading{style: 'position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 10401;background: transparent;text-align:center;opacity: 0.9;display: none;'}
  %center
    %img{:'ng-src'=>'/img/loading.gif'}