.modal-body#filter-warning
  %h3 There are no photos that match your previous Narrow Results settings. Clear the settings or continue with no photos displayed?
  %button.btn.btn-success{:'ng-click'=>'add()'} Continue
  %button.btn.btn-danger.pull-right{:'ng-click'=>'cancel()'} Clear

.modal-footer
  %label{for: "ignore"}
    %input#ignore{type: :checkbox, :'ng-model'=> "ignore_filter_warning"}
    Don't warn me again
