%li.photos-tab{:role => "presentation", :'ng-class'=>"{active: $state.includes('photos')||$state.includes('add_photos')||$state.includes('photos_settings')}"}
  %a#photos-tablink{:"aria-controls" => "photos", :'ui-sref'=>'add_photos', :role => "tab"} My Photos
%li.store-tab{:role => "presentation", :'ng-class'=>"{active: $state.includes('store')}"}
  %a#store-tablink{:"aria-controls" => "store", :'ui-sref'=>'store.sales_history', :role => "tab"}
    My Store
%li.preferences-tab{:role => "presentation", :'ui-sref-active'=>"active"}
  %a#preferences-tablink{:"aria-controls" => "preferences", :'ui-sref'=>'preferences', :role => "tab"}
    Preferences
