%form{name: 'location_form', novalidate: true, :'ng-init'=>'action="new"'}
	.modal-header
		%button.close{"data-dismiss" => "modal", :type => "button", "ng-click" => "cancel()"} &#215;
		%h3.modal-title Pick A Location
	.modal-body
		%div
			.control-group#location-form{style: 'overflow: hidden;'}
				.row
					.col-md-5
						%label.control-label{:for => "textinput"} Search
						.controls
							.input-group
								%input.form-control#search_field{:type => "text", style: 'margin-bottom: 0px;'}/
								.input-group-addon
									%span.fa.fa-search
				
					.col-md-7
						%label.control-label{:for => "gps"} Place(s) Location
						.controls
							.input-group
								.input-group-addon
									Latitude
								%input.form-control#gps.input-small{:placeholder => "Latitude", :type => "text", :'ng-model'=>'location.gps.latitude',name: :latitude, required: true, :'unique-gps'=>true}

								.input-group-addon
									Longitude
								%input.form-control#gps.input-small{:placeholder => "Longitude", name: :longitude, :type => "text", :'ng-model'=>'location.gps.longitude', required: true}
				
				%br
				.row
					.col-md-12
						.row
							.controls{style: 'padding-left:15px'}
								Drag pin to photo(s) location
								%img#draggable-marker{:'ng-src'=>'/map-marker.png', style: 'z-index:99;'}
						.row
							#map{:'ng-init'=>'initMap()'}
					 						 

	.modal-footer
		%button.btn.btn-primary{type: :button, "ng-click" => "pick()"} Pick
		%button.btn.btn-warning{type: :button, "ng-click" => "cancel()"} Cancel