.col-md-4.col-sm-12.col-xs-12#controls
	%div{:'ng-include'=>true, src: "'ng-modules/admin/views/statistics/shared/_sidebar.html'"}

.col-md-8.col-sm-12.col-xs-12.pull-right#list
	%br/
	%center
		%h4
			%a.pull-left{:'ui-sref'=>'clients_activity'} BACK
			Client's Activity
			&nbsp;
			%i.fa.fa-arrow-right &nbsp;
			&nbsp;
			Locations searched by {{photographer_name}}
	%br
	.row.activities-list
		%table.table.table-hover{:border => "0", "ts-wrapper" => ""}
			%thead
				%tr
					%th{"ts-criteria" => "name|lowercase", "ts-default" => ""} Location Name
					%th{"ts-criteria" => "longitude"} Longitude
					%th{"ts-criteria" => "latitude"} Latitude
					%th
					%th{"ts-criteria" => "uploads_count|parseInt"} Uploads
			%tbody
				%tr{"ng-repeat" => "location in locations track by $index", "ts-repeat" => "", :'class'=>"{{$index%2==0 ? 'li-bg-main' : 'li-bg-al'}}"}
					%td {{location.name}}
					%td {{location.longitude}}
					%td {{location.latitude}}
					%td
					%td {{location.uploads_count}}
 