@font-face
  font-family: 'novecento_widebook'
  src: url('novecentowide-book-webfont.eot')
  src: url('novecentowide-book-webfont.eot?#iefix') format("embedded-opentype"), url('novecentowide-book-webfont.woff') format("woff"), url('novecentowide-book-webfont.ttf') format("truetype"), url('novecentowide-book-webfont.svg#novecento_widebook') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'novecento_wide_bookbold'
  src: url('novecentowide-bold-webfont.eot')
  src: url('novecentowide-bold-webfont.eot?#iefix') format("embedded-opentype"), url('novecentowide-bold-webfont.woff') format("woff"), url('novecentowide-bold-webfont.ttf') format("truetype"), url('novecentowide-bold-webfont.svg#novecento_wide_bookbold') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'novecento_widenormal'
  src: url('novecentowide-normal-webfont.eot')
  src: url('novecentowide-normal-webfont.eot?#iefix') format("embedded-opentype"), url('novecentowide-normal-webfont.woff') format("woff"), url('novecentowide-normal-webfont.ttf') format("truetype"), url('novecentowide-normal-webfont.svg#novecento_widenormal') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'novecento_widedemibold'
  src: url('novecentowide-demibold-webfont.eot')
  src: url('novecentowide-demibold-webfont.eot?#iefix') format("embedded-opentype"), url('novecentowide-demibold-webfont.woff') format("woff"), url('novecentowide-demibold-webfont.ttf') format("truetype"), url('novecentowide-demibold-webfont.svg#novecento_widedemibold') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans100'
  src: url('../assets/museosans-100-webfont.eot')
  src: url('../assets/museosans-100-webfont.eot?#iefix') format("embedded-opentype"), url('../assets/museosans-100-webfont.woff') format("woff"), url('../assets/museosans-100-webfont.ttf') format("truetype"), url('../assets/museosans-100-webfont.svg#museo_sans100') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans700'
  src: url('../assets/museosans_700-webfont.eot')
  src: url('../assets/museosans_700-webfont.eot?#iefix') format("embedded-opentype"), url('../assets/museosans_700-webfont.woff') format("woff"), url('../assets/museosans_700-webfont.ttf') format("truetype"), url('../assets/museosans_700-webfont.svg#museo_sans700') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans500'
  src: url('../assets/museosans_500-webfont-webfont.eot')
  src: url('../assets/museosans_500-webfont-webfont.eot?#iefix') format("embedded-opentype"), url('../assets/museosans_500-webfont-webfont.woff') format("woff"), url('../assets/museosans_500-webfont-webfont.ttf') format("truetype"), url('../assets/museosans_500-webfont-webfont.svg#museo_sans500') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans500_italic'
  src: url('../assets/museosans_500_italic-webfont.eot')
  src: url('../assets/museosans_500_italic-webfont.eot?#iefix') format("embedded-opentype"), url('../assets/museosans_500_italic-webfont.woff') format("woff"), url('../assets/museosans_500_italic-webfont.ttf') format("truetype"), url('../assets/museosans_500_italic-webfont.svg#museo_sans500_italic') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans500'
  src: url('../assets/museosans_500-webfont.eot')
  src: url('../assets/museosans_500-webfont.eot?#iefix') format("embedded-opentype"), url('../assets/museosans_500-webfont.woff') format("woff"), url('../assets/museosans_500-webfont.ttf') format("truetype"), url('../assets/museosans_500-webfont.svg#museo_sans500') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans900_italic'
  src: url('../assets/museosans-900italic-webfont.eot')
  src: url('../assets/museosans-900italic-webfont.eot?#iefix') format("embedded-opentype"), url('../assets/museosans-900italic-webfont.woff') format("woff"), url('../assets/museosans-900italic-webfont.ttf') format("truetype"), url('../assets/museosans-900italic-webfont.svg#museo_sans900_italic') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans700_italic'
  src: url('../assets/museosans-700italic-webfont.eot')
  src: url('../assets/museosans-700italic-webfont.eot?#iefix') format("embedded-opentype"), url('../assets/museosans-700italic-webfont.woff') format("woff"), url('../assets/museosans-700italic-webfont.ttf') format("truetype"), url('../assets/museosans-700italic-webfont.svg#museo_sans700_italic') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans300_italic'
  src: url('../assets/museosans-300italic-webfont.eot')
  src: url('../assets/museosans-300italic-webfont.eot?#iefix') format("embedded-opentype"), url('../assets/museosans-300italic-webfont.woff') format("woff"), url('../assets/museosans-300italic-webfont.ttf') format("truetype"), url('../assets/museosans-300italic-webfont.svg#museo_sans300_italic') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans300'
  src: url('../assets/museosans-300-webfont.eot')
  src: url('../assets/museosans-300-webfont.eot?#iefix') format("embedded-opentype"), url('../assets/museosans-300-webfont.woff') format("woff"), url('../assets/museosans-300-webfont.ttf') format("truetype"), url('../assets/museosans-300-webfont.svg#museo_sans300') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans900'
  src: url('../assets/museosans_900-webfont.eot')
  src: url('../assets/museosans_900-webfont.eot?#iefix') format("embedded-opentype"), url('../assets/museosans_900-webfont.woff') format("woff"), url('../assets/museosans_900-webfont.ttf') format("truetype"), url('../assets/museosans_900-webfont.svg#museo_sans900') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'museo_sans100_italic'
  src: url('../assets/museosans-100italic-webfont.eot')
  src: url('../assets/museosans-100italic-webfont.eot?#iefix') format("embedded-opentype"), url('../assets/museosans-100italic-webfont.woff') format("woff"), url('../assets/museosans-100italic-webfont.ttf') format("truetype"), url('../assets/museosans-100italic-webfont.svg#museo_sans100_italic') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Cuprum-Bold'
  src: url('/assets/fonts/Cuprum-Bold.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Cuprum-Bold.woff') format('woff'), url('/assets/fonts/Cuprum-Bold.ttf')  format('truetype'), url('/assets/fonts/Cuprum-Bold.svg#Cuprum-Bold') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Cuprum-BoldItalic'
  src: url('/assets/fonts/Cuprum-BoldItalic.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Cuprum-BoldItalic.woff') format('woff'), url('/assets/fonts/Cuprum-BoldItalic.ttf')  format('truetype'), url('/assets/fonts/Cuprum-BoldItalic.svg#Cuprum-BoldItalic') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Cuprum-Italic'
  src: url('/assets/fonts/Cuprum-Italic.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Cuprum-Italic.woff') format('woff'), url('/assets/fonts/Cuprum-Italic.ttf')  format('truetype'), url('/assets/fonts/Cuprum-Italic.svg#Cuprum-Italic') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Cuprum-Regular'
  src: url('/assets/fonts/Cuprum-Regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Cuprum-Regular.woff') format('woff'), url('/assets/fonts/Cuprum-Regular.ttf')  format('truetype'), url('/assets/fonts/Cuprum-Regular.svg#Cuprum-Regular') format('svg')
  font-weight: normal
  font-style: normal

