.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button", "ng-click" => "cancel()"} &#215;
  %h3 Edit content
.modal-body
  .row
    .col-md-12
      %form.form-horizontal{:role => "form"}
        %label.control-label{:for => "inputType"}
          Content:
        %textarea.form-control{:'ng-model'=>'data.content', rows: 4}

        %br

        %button.btn.btn-success{type: :submit, :'ng-click'=>'save()'}
          %i.fa.fa-check
          Save
  
.modal-footer