<%
 name = if @resource.name
 		@resource.name
 	elsif @resource.first_name
 		@resource.first_name
 	else
 		@resource.email
 	end

%>
<p><%= t('.greeting', :name => name, :default => "Welcome %{name}!") %></p>

<p><%= t('.instruction', :default => "You can confirm your account email through the link below:") %></p>

<p><%= link_to t('.action', :default => "Confirm my account"),
         confirmation_url(@resource, :confirmation_token => @token, locale: I18n.locale) %></p>
