%style{type: "text/css"}

%p= t('.reset_pass_greeting', :recipient => @resource.email, :default => "Hi #{@resource.first_name||@resource.display_name}!")
%p= t('.reset_pass_instruction', :default => "It appears you've forgotten your password for the Focofox.com web service. No worries. Just use the link below to reset your password and continue using Focofox!")

- reset_url = edit_password_url(@resource, :reset_password_token => @token, locale: I18n.locale)
%p= link_to t('.reset_pass_action', :default => reset_url), reset_url
%p= t('.reset_pass_instruction_2', :default => "If you did not request this password reset, please ignore this message.")
%p= t('.reset_pass_instruction_3', :default => "Your password will not change until you access the link above and enter a new one.")


%p= t('.reset_pass_email_signature', default: 'Thanks!')
