.bs-tabs.sidebar-nav{role: 'tabpanel', :'data-id'=>'togglable-tabs'}
  %ul#sales_history.nav.nav-tabs{:role => "tablist", :'ng-include'=>true, src: "'ng-modules/photographer/views/shared/nav_link.html'"}

  .tab-content#StoreTabContent{style: 'display: inline-block;'}
    #my-store.tab-pane.fade.in.active{:"aria-labelledby" => "store-tab", :role => "tabpanel"}
      #accordion{:'ng-my-store-accordion'=>true}
        %h3.bar#sales-history-tab{:'data-index'=>1, :'ng-class'=>"{active: $state.includes('store.sales_history')}", :'ui-sref'=>'store.sales_history'}
          %span.label.label-primary 1
          Sales History
        %div
          .row
            = help_tooltip_icon 'photographer_store_sidebar_help'

            %center
              %p
                %b
                  Narrow Results
            %hr
          .row{:'ng-if'=>'filter.date_times.length <= 0 && filter.locations.length <= 0'}
            %center.disabled-text
              No filter is set .. add filter conditions from below

          .row
            %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{:'ng-repeat'=>'price in filter.prices', "ng-dblclick" => "removePriceFilter($index)", title: 'double click to remove.'}
              %span.close.ui-select-match-close{"ng-click" => "removePriceFilter($index)"}  ×
              %span
                ${{price.from}} to ${{price.to}}

            %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{:'ng-repeat'=>'date_time in filter.date_times', "ng-dblclick" => "removeDateTimeFilter($index)", title: 'double click to remove.'}
              %span.close.ui-select-match-close{"ng-click" => "removeDateTimeFilter($index)"}  ×
              %span
                {{date_time.from}} to {{date_time.to}}

            %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{:'ng-repeat'=>'location in filter.locations track by $index', "ng-dblclick" => "removeLocationFilter($index)", title: 'double click to remove.'}
              %span.close.ui-select-match-close{"ng-click" => "removeLocationFilter($index)"}  ×
              %span
                {{location.name}}

          .row
            %hr{style: 'border: 1px solid gray;'}

            %button.btn.btn-primary{type: :button, style: 'margin-bottom: 10px;', :'ng-click'=>'pickDateFilter({modal: false})'} Date
            %span &nbsp;
            %button.btn.btn-primary{type: :button, :'ng-click'=>'pickLocationsFilter()', style: 'margin-bottom: 10px;'} Location
          
          .row.date-filter-form{:'ng-if'=>'open_date_filter_form', style: 'border: 1px solid gray;padding-bottom: 15px;'}
            %form{:'ng-submit'=>'addDateTimeFilter(datetime_filter_from, datetime_filter_to)', name: 'datetime_form'}
              .input-group{style: 'margin-right:-1px;'}
                .input-group-addon
                  From
                  %input.datetime.form-control{"ng-model" => "datetime_filter_from", :type => "text", :'required'=>true}/
                .input-group-addon
                  To
                  %input.datetime.form-control{"ng-model" => "datetime_filter_to", :type => "text", :'required'=>true}/
              %br

              .actions.pull-right
                %button.btn.btn-primary{type: :submit, style: 'margin-right:18px;', :'ng-disabled'=>'!datetime_form.$valid'} Add
                %button.btn.btn-default{type: :button, "ng-click" => "cancelDateTimeFilterForm()", style: 'margin-right: 18px;'} Cancel
          %br
          %table.table.no-border
            %tbody.no-border
              %tr.no-border
                %th
                %th.text-right Sales Made
                %th.text-right Earnings
              %tr.no-border
                %td.text-left
                  Filter Totals:
                %td.text-right
                  {{data.total_sales||0}}
                %td.text-right
                  ${{data.total_earnings||0}}
        %h3.bar{:'data-index'=>2, :'aria-expanded'=>true, :'aria-selected'=>true, :'ng-class'=>"{active: $state.includes('store.event_manager')}", :'ui-sref'=>'store.event_manager'}
          %span.label.label-primary 2
          Event Manager
        %div
          .row
            = help_tooltip_icon 'photographer_store_sidebar_event_help'

            %center
              %p
                %b
                  Narrow Results
            %hr
          .row{:'ng-if'=>'filter.date_times.length <= 0 && filter.locations.length <= 0'}
            %center.disabled-text
              No filter is set .. add filter conditions from below

          .row
            %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{:'ng-repeat'=>'price in filter.prices', "ng-dblclick" => "removePriceFilter($index)", title: 'double click to remove.'}
              %span.close.ui-select-match-close{"ng-click" => "removePriceFilter($index)"}  ×
              %span
                ${{price.from}} to ${{price.to}}

            %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{:'ng-repeat'=>'date_time in filter.date_times', "ng-dblclick" => "removeDateTimeFilter($index)", title: 'double click to remove.'}
              %span.close.ui-select-match-close{"ng-click" => "removeDateTimeFilter($index)"}  ×
              %span
                {{date_time.from}} to {{date_time.to}}

            %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{:'ng-repeat'=>'location in filter.locations track by $index', "ng-dblclick" => "removeLocationFilter($index)", title: 'double click to remove.'}
              %span.close.ui-select-match-close{"ng-click" => "removeLocationFilter($index)"}  ×
              %span
                {{location.name}}

          .row
            %hr{style: 'border: 1px solid gray;'}

            %button.btn.btn-primary{type: :button, style: 'margin-bottom: 10px;', :'ng-click'=>'pickDateFilter({modal: false})'} Date
            %span &nbsp;
            %button.btn.btn-primary{type: :button, :'ng-click'=>'pickLocationsFilter()', style: 'margin-bottom: 10px;'} Location
          
          .row.date-filter-form{:'ng-if'=>'open_date_filter_form', style: 'border: 1px solid gray;padding-bottom: 15px;'}
            %form{:'ng-submit'=>'addDateTimeFilter(datetime_filter_from, datetime_filter_to)', name: 'datetime_form'}
              .input-group{style: 'margin-right:-1px;'}
                .input-group-addon
                  From
                  %input.datetime.form-control{"ng-model" => "datetime_filter_from", :type => "text", :'required'=>true}/
                .input-group-addon
                  To
                  %input.datetime.form-control{"ng-model" => "datetime_filter_to", :type => "text", :'required'=>true}/
              %br

              .actions.pull-right
                %button.btn.btn-primary{type: :submit, style: 'margin-right:18px;', :'ng-disabled'=>'!datetime_form.$valid'} Add
                %button.btn.btn-default{type: :button, "ng-click" => "cancelDateTimeFilterForm()", style: 'margin-right: 18px;'} Cancel
          .row
            = help_tooltip_icon 'photographer_store_sidebar_event_create'

            %button.btn.btn-primary.pull-left{:'ng-click'=>'newEvent()'} Create New Event
          / %br
          / .row
          /   %button.btn.btn-primary.pull-left{:'ng-click'=>'listEvents()'} List My Events

        %h3.bar{:'data-index'=>3, :'ng-class'=>"{active: $state.includes('store.statistics')}", :'ui-sref'=>'store.statistics'}
          %span.label.label-primary 3
          Statistics
        %div
          %ul.nav.nav-menu{role: :li}
            %li{:'ng-class'=>'{active: $state.includes("store.statistics") && $state.params.type=="my-sales" || $state.params.type==""}'}
              %a{:'ui-sref'=>'store.statistics({type: "my-sales"})'} Price vs Demand Curve (My Sales)
            %li{:'ng-class'=>'{active: $state.includes("clients_activity") && $state.params.type=="system-wide-sales"}'}
              %a{:'ui-sref'=>'store.statistics({type: "system-wide-sales"})'} Price vs Demand Curve (System Wide Sales)
            %li{:'ng-class'=>'{active: $state.includes("clients_activity") && $state.params.type=="photos-viewed"}'}
              %a{:'ui-sref'=>'store.statistics({type: "photos-viewed"})'} Photos Previewed vs Purchased (My Sales)
            %li{:'ng-class'=>'{active: $state.includes("clients_activity") && $state.params.type=="photos-viewed-system-wide"}'}
              %a{:'ui-sref'=>'store.statistics({type: "photos-viewed-system-wide"})'} Photos Previewed vs Purchased (System Wide Sales)
            %li{:'ng-class'=>'{active: $state.includes("clients_activity") && $state.params.type=="clients-select-mylocation"}'}
              %a{:'ui-sref'=>'store.statistics({type: "clients-select-mylocation"})'} Number of Clients That Selected My Location