div.radio,
div.checkbox {
  label {
    min-height: initial;
    padding-left: 10px;
    display: initial;
  }

  input[type="radio"],
  input[type="checkbox"] {
    position: relative;
    top: -1px;
    margin-left: 0;
  }
}

div.radio+.radio,
div.checkbox+.checkbox {
  margin-top: 0;
}
