#my_focofox {
  #controls {
    float: none;
    width: 300px;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    background: #fff;
  }

  #photos {
    padding-left: 320px;
  }

  #photos-control {
    .photos-controls-top-bar {
      .main-label {
        margin-right: 60px;
      }

      button {
        margin-right: 20px;
      }

      label {
        font-family: 'Cuprum-Regular';
        color: #666;
        margin-left: 10px;
      }
    }

    .photos-controls-top-bar,
    .per-page {
      .my-focofox-select:not(select) {
        width: initial !important;
        display: inline-block !important;
      }
    }
  }

  #photosTab {
    li.active a {
      background: none !important;
      border: none !important;

    }

    li a {
      background: none !important;
      border: none !important;
    }

  }

  #my_photos {
    padding: 20px 30px;

    h3 {
      font-family: 'Cuprum-Regular';
      color: #666666;
      font-size: 18px;
      margin: 0;
      border-bottom: 1px solid #bcbcbc;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    input:checked + label {
      color: #d04129;
    }

    label {
      font-family: 'Cuprum-Regular';
      color: #666666;
      font-size: 15px;
    }

    .share-as-zip {
      border-bottom: 1px solid #bcbcbc;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    .share-with-dropbox {
      border-top: 1px solid #bcbcbc;
      padding-top: 20px;
      margin-top: 20px;
    }

    .fb-privacy {
      text-align: center;
      display: block;
      margin-top: 5px;
    }

    .add-to-album {
      label {
        font-size: 18px;
      }

    }

    .share-with-dropbox {
      margin-bottom: 20px;
    }

    .share-with-facebook-container,
    .share-with-dropbox-container {
      padding-top: 20px;

      input[type="text"] {
        width: 100%;
        background: #f4f4f4;
        font-family: 'Cuprum-Regular';
        font-size: 16px;
        padding: 12px 15px;
        border: 1px solid #dddddd;
      }
    }
  }
}
