#photos-list {
  .user-options {
    max-height: 25px;
  }

  .thumbnail.my_photos {
    border: 3px solid transparent !important;
    background: none !important;

    > div {
      border: 1px solid #e5e5e5;
    }
  }

  .thumbnail.my_photos.ui-selected {
    border: 3px solid #cd3f27 !important;

    .photo-select {
      background-image: url('/assets/photo-selected-selected.png');

      &:hover {
        background-image: url('/assets/photo-selected-selected-hover.png');
      }
    }
  }
}
