#controls {
  #purchase_history {
    position: fixed;
    left: 300px;
    top: 50px;
    bottom: 0;
    width: 500px;
    background: #fff;
    padding: 30px;
    border-left: 1px solid #d5d5d5;

    h1 {
      margin: 0 0 30px 0;
      font-family: 'Cuprum-Regular';
      font-size: 20px;
      color: #646464;
    }

    tr {
      border-bottom: 1px solid #bfbfbf;

      &:last-child {
        background: #f0f0f0;
      }

      &:last-child,
      &:nth-last-child(2) {
        border: none;
      }
    }

    td,
    th {
      font-family: 'Cuprum-Regular';
    }
  }

  .purchase-history-controls {
    padding: 30px;

    h1 {
      font-family: 'Cuprum-Regular';
      color: #666;
      font-size: 16px;
    }
  }

  .invoices-list {
    list-style: none;
    padding: 0;

    li {
      padding: 12px 0;
      border-bottom: 1px solid #dadada;
      font-family: 'Cuprum-Regular';
      color: #929292;
    }
  }
}
