.row
  %h3
    My Purchases
  .row      
    %table.table.table-hover
      %tr
        %th
          Qty
        %th
          Date
        %th
          Total Price
        %th
      %tr{:'ng-repeat'=>'payment in payments'}
        %td {{payment.items.length}}
        %td {{payment.paid_at}}
        %td {{payment.price}}
        %td
          %a{:'ui-sref'=>'payment({id: payment.id})'} View details