.col-md-12
  #results{:'ng-cloak'=>true, :'disable-animate'=>true}
    .row.form-inline{:'ng-hide'=>'photos.length <=0'}
      .col-md-5{style: 'padding-left:0px;'}
        %bgf-pagination{:collection => "photos", :'auto-presets'=>'false', :'per-page-presets'=>'perPagePresets', :'client-limit'=>'num_items', "link-group-size" => "2", :page => "page", "per-page" => "perPage", "template-url" => "ng-modules/common/views/paginate-anything-tpl.html", :url => "photos_url", headers: "filterq"}

      .col-md-3.form-group{style: 'padding-left:0px;'}
        .form-inline
          %label.control-label
            Sort By:
          %select.form-control{:'ng-model'=>'sort_by'}
            %option{value: :date_time} Date
            %option{value: :location_name} Location
            %option{value: :photographer_name} Photographer
            %option{value: :price} Price
      
      .col-md-4{style: 'padding:0px;'}
        .col-md-2{style: 'padding:0px;'}
          %label.control-label{style: 'text-align: right;line-height:32px;'}
            Size:
        .col-md-10{style: 'padding:0px;'}
          .input-group
            .input-group-addon
              %small smaller
            %input.ng-pristine.ng-valid.form-control{:min => "80", :max => "300", "ng-model" => "thumbnail_size", :step => "1", :style => "margin:0 auto;cursor: -webkit-grab;padding:1px;", :type => "range", :'ng-disabled'=>'photos.length <= 0'}/
            .input-group-addon
              %small larger

    %br/

    .no-results{:'ng-show'=>'photos.length <= 0'}
      %p You have no photos purchased.

    .thumbnail{:'ng-repeat'=>'photo in photos', style: 'height: {{thumbnail_size}}px;width: {{thumbnail_size}}px;display: inline-block;text-align: center;overflow:hidden;', :'data-index'=>'{{$index}}', :'data-content-type'=>'{{photo.attachment_content_type}}', :'ng-class'=>"{'on-cart': is_inCart(photo)}"}
      %img{:'ng-if'=>'!!photo.video_thumbnails', src: '/videoPlayButton.png', style: 'position:absolute;width: {{thumbnail_size}}px;height:{{thumbnail_size-(thumbnail_size*0.2)}}px;'}
      .thumb-con{style: 'width: 100% !important;height:80% !important;display:block;'}
        %img{:'ng-src'=>'{{!!photo.video_thumbnails ? photo.video_thumbnails[0] : photo.attachment_url}}', style: '{{photo.orientation_type=="landscape" ? "width: 100% !important;height: auto !important" : "height: 100% !important;width:auto !important;"}};vertical-align:middle;', class: 'img-{{$index}}'}

      .user-options{style: 'font-size: {{thumbnail_size*0.1}}px;{{(is_inCart(photo)) ? "background: #EA9999;" : ""}}'}
        %a.action-btn.pull-left{"ng-click" => "preview(photo)", :title => "preview", style: '{{thumbnail_size>140 ? "margin-top: 4px;" : ""}}'}
          %i.fa.fa-search-plus &#160;

        %a.price.action-btn{style: '{{thumbnail_size>140 ? "margin-top: 6px;" : ""}}'}
          %i.fa.fa-dollar
          {{photo.price}}
