.photos.bs-tabs.sidebar-nav{role: 'tabpanel', :'data-id'=>'togglable-tabs'}
  %ul#photosTab.nav.nav-tabs{:role => "tablist", :'ng-include'=>true, src: "'ng-modules/photographer/views/shared/nav_link.html'"}

  .tab-content#PhotosTabContent{style: 'display: inline-block;'}
    #my-photos.photographer-photos.tab-pane.fade.in.active{:"aria-labelledby" => "photos-tab", :role => "tabpanel"}
      #accordion{:'ng-my-photos-accordion'=>true}
        %h3.bar#photo-groups-tab{:'data-index'=>1, :'ng-class'=>"{active: $state.includes('add_photos')}", :'ui-sref'=>'add_photos'}
          %span.label.label-primary 1
          Add Photos
          %small - upload photos from your computer or camera
        %div.action-btns
          = help_tooltip_icon 'photographer_photos_sidebar_add_photo'

          %br
          %button.btn.btn-primary.btn-file{:'ng-click'=>'triggerSelectFiles()', type: "button"}
            %i.fa.fa-folder &nbsp;
            Choose {{queue.length>0 ? "More" : "Photos/Videos"}}
            %small{:'ng-hide'=>'queue.length <=0', style: 'color: rgb(220, 223, 220);text-shadow: rgba(255, 255, 255, 0.2) 3px 2px 3px;font-size:9px;'}
              &nbsp;Chosen:
              %strong{:'ng-bind'=>'queue.length'}

          %br.clearfix
          %br.clearfix

          %button.btn.btn-primary.start{"data-ng-click" => "upload()", :type => "button", style: '', :'ng-disabled'=>'queue.length <= 0 || active() || !ready2Upload'}
            %i.glyphicon.glyphicon-upload
            %span &nbsp;Upload now

          .row
          %button.cancel.btn.btn-warning{"data-ng-click" => "deleteAll()", :type => "button", :'ng-disabled'=>'queue.length <= 0', style: 'margin-top: 10px;'}
            Remove All From List
          %br

        %h3.bar{:'data-index'=>2, :'aria-expanded'=>true, :'aria-selected'=>true, :'ng-class'=>"{active: $state.includes('photos') && $state.params.subpage=='index'}", :'ui-sref'=>'photos({subpage: "index"})'}
          %span.label.label-primary 2
          Set Filter
          %small - set filter to see only some of your photos

        %div.narrow-results
          .row
            %span{style: 'float: left;cursor: pointer;color: green;display:inline;', :'ng-click'=>'refresh()'}
              %i.fa.fa-refresh
                &nbsp;
            = help_tooltip_icon 'photographer_photos_sidebar_refresh'

            %center
              %p
                %b
                  Filters
                  %i (currently {{result.total}})
            %hr
          .row{:'ng-if'=>'filter.prices.length <= 0 && filter.date_times.length <= 0 && filter.locations.length <= 0 && filter.groups.length <= 0 && filter.licenses.length <= 0&&filter.media_type==null'}
            %center.disabled-text
              No filter is set .. add filter conditions from below

          .row
            %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{"ng-dblclick" => "removeMediaTypeFilter()", :'ng-if'=>'filter.media_type!=null'}
              %span.close.ui-select-match-close{"ng-click" => "removeMediaTypeFilter()"}  ×
              %span
                {{filter.media_type=='' ? 'Photos and Videos' : (filter.media_type+' only')}}

            %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{:'ng-repeat'=>'price in filter.prices', "ng-dblclick" => "removePriceFilter($index)", title: 'double click to remove.'}
              %span.close.ui-select-match-close{"ng-click" => "removePriceFilter($index)"}  ×
              %span
                ${{price.from}} to ${{price.to}}

            %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{:'ng-repeat'=>'date_time in filter.date_times', "ng-dblclick" => "removeDateTimeFilter($index)", title: 'double click to remove.'}
              %span.close.ui-select-match-close{"ng-click" => "removeDateTimeFilter($index)"}  ×
              %span
                {{date_time.from}} to {{date_time.to}}

            %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{:'ng-repeat'=>'location in filter.locations', "ng-dblclick" => "removeLocationFilter($index)", title: 'double click to remove.'}
              %span.close.ui-select-match-close{"ng-click" => "removeLocationFilter($index)"}  ×
              %span
                {{location.name}}

            %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{:'ng-repeat'=>'group in filter.groups', "ng-dblclick" => "removeGroupFilter($index)", title: 'double click to remove.'}
              %span.close.ui-select-match-close{"ng-click" => "removeGroupFilter($index)"}  ×
              %span
                {{group.name}}

            / %span.filter-button.ui-select-match-item.btn.btn-default.btn-xs{:'ng-repeat'=>'license in filter.licenses', "ng-dblclick" => "removeLicenseFilter($index)", title: 'double click to remove.'}
            /   %span.close.ui-select-match-close{"ng-click" => "removeLicenseFilter($index)"}  ×
            /   %span
            /     {{license.title}}

          .row
            %hr{style: 'border: 1px solid gray;'}

          .row.my-photos-filter-row
            %button.btn.btn-primary{type: :button, style: 'margin-bottom: 10px;', :'ng-click'=>'pickDateFilter({modal: false})'}
              Date

          .row.my-photos-filter-row.date-filter-form{:'ng-if'=>'open_date_filter_form', style: 'border: 1px solid gray;padding-bottom: 15px;'}
            %form{:'ng-submit'=>'addDateTimeFilter(_filter.datetime_filter_from, _filter.datetime_filter_to)', name: 'datetime_form'}
              .input-group{style: 'margin-right:-1px;'}
                .input-group-addon
                  From
                  %input.datetime.form-control{"ng-model" => "_filter.datetime_filter_from", :type => "text", :'required'=>true, readonly: :readonly}/
                .input-group-addon
                  To
                  %input.datetime.form-control{"ng-model" => "_filter.datetime_filter_to", :type => "text", :'required'=>true, readonly: :readonly}/
              %br

              .actions.pull-right
                %button.btn.btn-primary{type: :submit, style: 'margin-right:18px;', :'ng-disabled'=>'!datetime_form.$valid'} Add
                %button.btn.btn-default{type: :button, "ng-click" => "cancelDateTimeFilterForm()", style: 'margin-right: 18px;'} Cancel

          .row.my-photos-filter-row
            %button.btn.btn-primary{type: :button, :'ng-click'=>'pickLocationsFilter()', style: 'margin-bottom: 10px;'}
              Location

          .row.my-photos-filter-row
            .col-md-2
              Price:

            .col-md-10
              .input-group
                .input-group-addon
                  $
                %input.form-control{:'ng-model'=>'price_filter_from'}
                .input-group-addon
                  to
                  $
                %input.form-control{:'ng-model'=>'price_filter_to'}
                .input-group-addon{style: 'padding: 0px;'}
                  %a.btn.btn-sm.btn-primary{:'ng-click'=>'addPriceFilter(price_filter_from, price_filter_to)', :'ng-disabled'=>'!!!price_filter_from || !!!price_filter_to'}
                    Add

          .row.my-photos-filter-row
            .col-md-4
              Upload Session:

            .col-md-8
              .input-group
                %ui-select.dropup{"ng-model" => "groups_filter.selected"}
                  %ui-select-match{:placeholder => "Search ..."} {{$select.selected.name}}
                  %ui-select-choices{:refresh => "sessionGroupSearch($select.search)", "refresh-delay" => "0", :repeat => "g in groups track by $index"}
                    %div{"ng-bind-html" => "g.name | highlight: $select.search"}

                .input-group-addon{style: 'padding: 0px;'}
                  %a.btn.btn-sm.btn-primary{:'ng-click'=>'addGroupsFilter()', :'ng-disabled'=>"!!!groups_filter.selected"}
                    Add

          / .row.my-photos-filter-row
          /   .col-md-4
          /     License:

          /   .col-md-8
          /     .input-group
          /       %ui-select.dropup{"ng-model" => "licenses_filter.selected"}
          /         %ui-select-match{:placeholder => "Search ..."} {{$select.selected.title}}
          /         %ui-select-choices{:refresh => "licenseSearch($select.search)", "refresh-delay" => "0", :repeat => "l in licenses track by $index"}
          /           %div{"ng-bind-html" => "l.title | highlight: $select.search"}

          /       .input-group-addon{style: 'padding: 0px;'}
          /         %a.btn.btn-sm.btn-primary{:'ng-click'=>'addLicensesFilter()', :'ng-disabled'=>'!!!licenses_filter.selected'}
          /           Add

          .row.my-photos-filter-row
            %select.media-type-filter{:'ng-model'=>'media_type', style: 'height: 35px;padding:0px;  display: inline-block;width: auto;vertical-align: top;', placeholder: 'Photos and Videos', :'ng-change'=>'updateMediaTypeFilter(media_type)'}
              %option{value: ''} Photos and Videos
              %option{value: 'photos'} Photos only
              %option{value: 'videos'} Videos only

        %h3.bar{:'data-index'=>3, :'ng-class'=>"{active: $state.includes('photos') && $state.params.subpage=='settings'}", :'ui-sref'=>'photos({subpage: "settings"})'}
          %span.label.label-primary 3
          Photo Settings
          %small - after filtering, select photos to modify price, etc.

        %div
          / .row
          /   %button.btn.btn-default.pull-left{:'ng-click'=>'selectAll()', :'ng-disabled'=>'photos.length<=0'}
          /     Select all photos on page
          / .row
          /   %small (or click to select 1 by 1)
          / %br
          .row
            .field-control{:'ng-class'=>'{highlighted: selectedPhotos.length>0, "disabled-text": selectedPhotos.length<=0, "disabled-text": selectedPhotos.length<=0}'}
              Change Price:
              %span{:style => "position: absolute;line-height: 35px;margin-left: 8px;", :'ng-show'=>'setting.price'} $

              %input.field-sm{:'ng-model'=>'setting.price', :'ng-disabled'=>'selectedPhotos.length <=0', style: 'padding-left: 15px;', :'ng-model-options'=>'{updateOn: "blur"}', :'ng-change'=>"updateData('price', setting.price)", min: '0', max: 100000 }
          %br
          .row
            .field-control{:'ng-class'=>'{highlighted: selectedPhotos.length>0, "disabled-text": selectedPhotos.length<=0}'}
              .col-md-12{style: 'padding-left:0px'} Change Date & Time:
              .col-md-6{style: 'padding-left: 0px;'}
                %input.datetime.form-control{:type => "text", :"ng-model" => "setting.date_time", :'ng-disabled'=>'selectedPhotos.length <=0', :'ng-dblclick'=>"updateData('date_time', setting.date_time)", readonly: :readonly}/

          %br
          .row
            .field-control{:'ng-class'=>'{highlighted: selectedPhotos.length>0, "disabled-text": selectedPhotos.length<=0}'}
              .col-md-12{style: 'padding-left: 0px'} Change Location:
              .col-md-6{style: 'padding-left: 0px;'}
                %select.form-control{:'ng-options'=>"l as l.name for l in locations_list", :'ng-model'=>'setting.location', :'ng-disabled'=>'locations.length<=0 || selectedPhotos.length <=0', :'ng-change'=>"updateData('location', setting.location);updateData('location_id', setting.location.id)"}

              .col-md-3
                .btn.btn-primary{:'ng-click'=>'newLocation()', :'ng-disabled'=>'selectedPhotos.length <=0'} New
              .col-md-3
                .btn.btn-primary{:'ng-click'=>'editLocation()', :'ng-disabled'=>'locations.length<=0 || !!!setting.location || selectedPhotos.length <=0'} Edit
          %br
          .row
            .col-md-12{:'ng-class'=>'{highlighted: selectedPhotos.length>0, "disabled-text": selectedPhotos.length<=0}', style: 'padding-left: 0px'}
              %p Change Watermark:
              .col-md-6{style: 'padding-left: 0px'}
                %select.form-control{:'ng-options'=>"w.id as w.name for w in watermarks", :'ng-model'=>'setting.watermark_id', :'ng-disabled'=>'watermarks.length<=0 || selectedPhotos.length <=0', :'ng-change'=>"updateData('watermark_id', setting.watermark_id)"}
              .col-md-3
                .btn.btn-primary{:'ng-click'=>'newWatermark()',:'ng-disabled'=>'selectedPhotos.length <=0'} New
              .col-md-3
                .btn.btn-primary{:'ng-click'=>'editWatermark()', :'ng-disabled'=>'watermarks.length<=0 || !!!setting.watermark_id || selectedPhotos.length <=0'} {{watermarkEditPreviewLabel()}}
          %br
          / .row    
          /   .field-control{:'ng-class'=>'{highlighted: selectedPhotos.length>0, "disabled-text": selectedPhotos.length<=0}'}
          /     .col-md-12{style: 'padding-left: 0px;'} Change License:
          /     .col-md-6{style: 'padding-left: 0px;'}
          /       %select#license.ui.select.form-control{:"ng-model" => "setting.license_id", :'ng-options'=> "ls.id as ls.title for ls in licenses_list", :'ng-disabled'=>'selectedPhotos.length <=0', :'ng-change'=>"updateData('license_id', setting.license_id);"}

          / %br
          / .row
          /   %br
          
          / .row
          /   %br/
          /   %button.btn.btn-danger.btn-sm{:'ng-click'=>'deleteSelected()', type: :button, :'ng-disabled'=>'selectedPhotos.length<=0'}
          /     Delete Selected Photos

          %br
          %br
