<h2><%= t '.resend_instructions' %></h2>


<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.submit t('.resend_instructions') %></div>
<% end %>

<%= render "confirmable/shared/links" %>
