!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Focofox"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>

    = favicon_link_tag '/favicon.png', :rel => 'shortcut icon', type: 'image/png'
    = stylesheet_link_tag "application", :media => "all"

    = javascript_include_tag "application"

    = javascript_tag "window.user_id='#{current_user.try(:id)}';"
    / %script{:src => "https://cdn.localizejs.com/localize.js"}
    / :javascript
    /   !function(a){if(!a.Localize){a.Localize={};for(var e=["translate","untranslate","phrase","initialize","translatePage","setLanguage","getLanguage","detectLanguage","untranslatePage","bootstrap","prefetch","on","off"],t=0;t<e.length;t++)a.Localize[e[t]]=function(){}}}(window);
    / :javascript
    /   Localize.initialize({
    /   key: 'AdFtEvsp7z3OL', 
    /   rememberLanguage: true,
    /   saveNewPhrases: true,
    /   translateBody: true
    /   });

    = yield :header_scripts

    %style#custom-styles
  %body{:'data-fb-app-id'=>Rails.application.secrets.fb_app_id, :'data-fb-app-secret'=> Rails.application.secrets.fb_app_secret, class: "#{editable? ? 'editable' : ''}"}
    / nav top
    .navbar.navbar-default.navbar-static-top
      .container-fluid
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to image_tag("/logo.png", style: 'height:100%;'), root_path, class: "navbar-brand"

        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            = active_link_to t('.find_photos'), users_search_index_path, :wrap_tag => :li
            = active_link_to t('.my_focofox'), my_focofox_pages_path, :wrap_tag => :li
            = active_link_to t('.support'), "/support", :wrap_tag => :li

          %ul.nav.navbar-nav.navbar-right
            / %li
            /   %p.navbar-text
            /     Logged in as:
            /     \#{current_user ? link_to(current_user[:email],edit_user_registration_path) : "Guest"}
            - if current_user
              %li#fat-menu.dropdown
                %a#drop3.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "false", "data-toggle" => "dropdown", :href => "javascript:void(0)", :role => "button"}
                  = t '.welcome'
                  %strong
                    = current_user.display_name
                  %img{:'src'=>current_user.avatar.url(:thumb), width: 18}
                  %span.caret
                %ul.dropdown-menu{"aria-labelledby" => "drop3", :role => "menu"}
                  - if current_user.try(:admin?)
                    %li= link_to t('.admin_dashboard'), "#{admin_index_path}"
                  - if current_user.try(:verified_photographer?)
                    %li= link_to t('.photographer_dashboard'), session[:photographer_dashboard_path] ||"#{photographer_index_path}#/add-photos"
                  %li= link_to(t('.payment_methods'), payment_methods_path)
                  %li= link_to(t('.purchase_history'), "#{my_focofox_pages_path}/#purchase-history")
                  %li= link_to(t('.my_account'),edit_user_registration_path)
                  %li= link_to t('.logout'), destroy_user_session_path, {method: :delete }
            - else
              %li= link_to t('.login_join'), new_user_session_path

    .container-fluid.content-main#wrap.admin-dashboard
      .row.wrap-content
        .flash-messages{style: 'float: left;position: absolute;z-index:99999999999;'}
          = bootstrap_flash
        = yield
      / /row
      #push
    %footer#footer
      .container
        %hr
        %p.copyright.pull-left
          = t '.copyright'
          .footer-links.pull-left
            %a= t '.terms_of_use'
            %a= t '.privacy_policy'
            %a= t '.support'
            %a= t '.sitemap'
            %a= t '.news'
            %a= t '.contact_us'

    / /container
    %toaster-container{:'ng-app'=>'notifier'}

    = yield :footer_scripts
