!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    %meta{:content => "noindex, nofollow", :name => "robots"}/

    %title= content_for?(:title) ? yield(:title) : "Focofox"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>

    = favicon_link_tag '/favicon.png', :rel => 'shortcut icon', type: 'image/png'
    = stylesheet_link_tag "application", :media => "all"

    - if current_user.try(:admin?)
      :javascript
        window.isAdmin = true;
    - else
      :javascript
        window.isAdmin = false;

    = javascript_include_tag "application"

    = javascript_tag "window.user_id='#{current_user.try(:id)}';"
    :javascript
      function loadScript(src, callback)
      {
        var s,
            r,
            t;
        r = false;
        s = document.createElement('script');
        s.type = 'text/javascript';
        s.src = src;
        s.onload = s.onreadystatechange = function() {
          //console.log( this.readyState ); //uncomment this line to see which ready states are called.
          if ( !r && (!this.readyState || this.readyState == 'complete') )
          {
            r = true;
            if(callback)
              callback();
          }
        };
        t = document.getElementsByTagName('script')[0];
        t.parentNode.insertBefore(s, t);
      }

    = yield :header_scripts

    %style#custom-styles

  %body{:'data-fb-app-id'=>Rails.application.secrets.fb_app_id, :'data-fb-app-secret'=> Rails.application.secrets.fb_app_secret, class: "#{editable? ? 'editable' : ''}"}
    = render 'shared/top_navigation'

    .container-fluid.content-main#wrap
      .row.wrap-content
        .flash-messages{style: 'float: left;position: absolute;z-index:99999999999;'}
          = bootstrap_flash
        = yield
      / /row
    %footer#footer
      %p.copyright.pull-left
        Copyright ® 2015 3-102-677379 S.A. All rights reserved.

      .footer-links.pull-right
        %a= t '.terms_of_use'
        %a= t '.privacy_policy'
        %a= t '.support'
        %a= t '.sitemap'
        %a= t '.news'
        %a= t '.contact_us'

    / /container
    %toaster-container{:'ng-app'=>'notifier'}
    #upload_progress
      %div{:'ng-controller'=>'main_controller'}
    = yield :footer_scripts

    - if current_user.try(:admin?)
      = render 'shared/help_tooltip_uploader'
